<!DOCTYPE html>
<html lang="en-US">
<head>

  <meta charset="utf-8">
  <title>PREMIER - SPORTS POOLS</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/themes/omega/theme.css" />
  <link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/themes/omega/theme.css" />
  <link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/primeng.min.css" />

  <!--<link href="assets/css/style.css" rel="stylesheet" type="text/css" />-->
  <!--<link href="assets/css/res.css" rel="stylesheet" type="text/css" />-->
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100, 300,400,700" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
<p-growl [value]="msgs" [style]="{'position': 'fixed'}"></p-growl>
<div class="main-cont">
  <!--<div class="header-cont-inner">-->
    <!--<ss-header></ss-header>-->
  <!--</div>-->

  <section class="cont-center-inner">

    <div class="inner-form-cont" >
      <!--<div class="tabs-1">-->
        <!--<ul>-->
          <!--<li><a (click)="routeTo('/dash')">SETTINGS</a></li>-->
          <!--<li><a (click)="routeTo('/invites')" class="active" >INVITE</a></li>-->
          <!--<li><a (click)="routeTo('/pick')" >ENTER USER PICKS</a></li>-->
          <!--<li><a (click)="routeTo('/roaster')" >ROSTER</a></li>-->
        <!--</ul>-->
      <!--</div>-->
      <div class="invite-tab border-gray-2 bg-color-2" style="padding: 21px 30px; color:#424242; font-size:12px;">
        <div class="one">
        <h4  style="color:#575757; font-size:21px; font-weight:400; text-transform: capitalize; margin-bottom:21px;">Enter email address to invite users</h4>
        <hr style="margin: 15px 0; border: 1px solid #eaeaea;"/>
        <input type="text" [(ngModel)]="user1" name="user1"><input type="text" [(ngModel)]="user2" name="user2" class="input-1">
        <input type="text" [(ngModel)]="user3" name="user3"><input type="text" [(ngModel)]="user4" name="user4" class="input-1">
        <input type="text" [(ngModel)]="user5" name="user5"><input type="text" [(ngModel)]="user6" name="user6" class="input-1">
        <input type="text" [(ngModel)]="user7" name="user7"><input type="text" [(ngModel)]="user8" name="user8" class="input-1">
        <input type="text" [(ngModel)]="user9" name="user9"><input type="text" [(ngModel)]="user10" name="user10" class="input-1">
        <input type="text" [(ngModel)]="user11" name="user11"><input type="text" [(ngModel)]="user12" name="user12" class="input-1">
        <input type="text" [(ngModel)]="user13" name="user13"><input type="text" [(ngModel)]="user14" name="user14" class="input-1">
        <input type="text" [(ngModel)]="user15" name="user15"><input type="text" [(ngModel)]="user16" name="user16" class="input-1">
        <input type="text" [(ngModel)]="user17" name="user17"><input type="text" [(ngModel)]="user18" name="user18" class="input-1">
        </div>
        <div style=" margin:20px 0;">
          <a (click)="addTextbox()"  style="color:#4893b7; text-decoration:none; font-size:13px;">+ Add more users</a>
        </div>
        <div style=" margin-top: 40px;margin-bottom: 30px;">
          <a (click)="invitesUser()" class="invite-btn">Invite Now</a>
        </div>
      </div>

    </div>
    <!--<div  class="inner-form-cont-right">-->
      <!--<h3>{{userName}}</h3>-->
      <!--<h4><span>PGA Pool:</span> Joe’s PGA Pool</h4>-->
      <!--<h4><span>NCAA Pool:</span> Pool Name 535</h4>-->
      <!--<h4><span>NCAA Pool:</span> Pool Name 75</h4>-->
      <!--<h5>{{poolName}}</h5>-->

      <!--<div>-->
        <!--<a (click)="routeTo('/join')" class="btn">Join a Pool</a>-->
      <!--</div>-->
      <!--<div>-->
        <!--<a (click)="routeTo('/pool')" class="btn">Start Pool</a>-->
      <!--</div>-->
      <!--<div>-->
        <!--<a (click)="routeTo('/dash')" class="btn">Commissioner Options</a>-->
      <!--</div>-->
      <!--<div>-->
        <!--<div class="pool-chat">-->
          <!--<h3>Pool Chat</h3>-->
          <!--<h4>-->
            <!--<p>UserName 123:</p>-->
            <!--Nullam quis risus eget urna mollis ornare vel eu leo. Etiam porta sem-->
            <!--malesuada magna mollis euismod.-->

          <!--</h4>-->
          <!--<h4>-->
            <!--<p>UserName 123:</p>-->
            <!--Nullam quis risus eget urna mollis ornare vel eu leo. Etiam porta sem-->
            <!--malesuada magna mollis euismod.-->

          <!--</h4>-->
        <!--</div>-->
        <!--<textarea ></textarea>-->
        <!--<div>-->
          <!--<a class="btn">Post</a>-->
        <!--</div>-->
      <!--</div>-->

    <!--</div>-->
  </section>
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />

  <!--<footer>-->
    <!--<ss-footer></ss-footer>-->
  <!--</footer>-->

</div>
</body>
</html>
