<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>PREMIER - SPORTS POOLS</title>

  <link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/themes/omega/theme.css" />
  <link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/themes/omega/theme.css" />
  <link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/primeng.min.css" />

  <!--<link href="assets/css/style.css" rel="stylesheet" type="text/css" />-->
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
<p-growl [value]="msgs" [style]="{'position': 'fixed'}"></p-growl>
<div class="main-cont">
  <!--<div class="header-cont-inner">-->
    <!--<ss-header></ss-header>-->
  <!--</div>-->

  <section class="cont-center-inner">

    <div class="inner-form-cont" >
      <!--<div class="tabs-1">-->
        <!--<ul>-->
          <!--<li><a (click)="routeTo('/dash')">SETTINGS</a></li>-->
          <!--<li><a (click)="routeTo('/invites')" >INVITE</a></li>-->
          <!--<li><a (click)="routeTo('/pick')" >ENTER USER PICKS</a></li>-->
          <!--<li><a (click)="routeTo('/roaster')" class="active">ROSTER</a></li>-->
        <!--</ul>-->
      <!--</div>-->
      <div class="roster-tab border-gray-2 bg-color-2" style="color:#424242; font-size:12px;">
        <div class="heading">
          <ul>
            <li class="w-15">User Name</li>
            <li class="w-25">Display Name</li>
            <li class="w-15">Name</li>
            <li class="w-25">Email</li>
            <li class="w-15"># of Picks</li>

          </ul>
        </div>
        <div class="text">
          <ul *ngFor="let col of cols">
            <li class="w-15">{{col.data.user_id.userName}}</li>
            <li class="w-25">{{col.data.user_id.fullName}}</li>
            <li class="w-15">{{col.data.user_id.fullName}}</li>
            <li class="w-25">{{col.data.user_id.email}}</li>
            <li class="w-15 text-center ">{{col.poolEntry}}</li>

          </ul>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>


        <div style=" margin:20px 0;">
          <a style="color:#4893b7; text-decoration:none; font-size:13px;">+ Add more users</a>
        </div>
        <div style=" margin-top: 40px;margin-bottom: 30px;">
          <a href="#" class="invite-btn">Invite Now</a>
        </div>
      </div>

    </div>
    <!--<div  class="inner-form-cont-right">-->
      <!--<h3>{{userName}}</h3>-->
      <!--<h4><span>PGA Pool:</span> Joe’s PGA Pool</h4>-->
      <!--<h4><span>NCAA Pool:</span> Pool Name 535</h4>-->
      <!--<h4><span>NCAA Pool:</span> Pool Name 75</h4>-->
      <!--<h5>{{poolName}}</h5>-->

      <!--<div>-->
        <!--<a (click)="routeTo('/join')" class="btn">Join a Pool</a>-->
      <!--</div>-->
      <!--<div>-->
        <!--<a (click)="routeTo('/pool')" class="btn">Start Pool</a>-->
      <!--</div>-->
      <!--<div>-->
        <!--<a (click)="routeTo('/dash')" class="btn">Commissioner Options</a>-->
      <!--</div>-->
      <!--<div>-->
        <!--<div class="pool-chat">-->
          <!--<h3>Pool Chat</h3>-->
          <!--<h4>-->
            <!--<p>UserName 123:</p>-->
            <!--Nullam quis risus eget urna mollis ornare vel eu leo. Etiam porta sem-->
            <!--malesuada magna mollis euismod.-->

          <!--</h4>-->
          <!--<h4>-->
            <!--<p>UserName 123:</p>-->
            <!--Nullam quis risus eget urna mollis ornare vel eu leo. Etiam porta sem-->
            <!--malesuada magna mollis euismod.-->

          <!--</h4>-->
        <!--</div>-->
        <!--<textarea ></textarea>-->
        <!--<div>-->
          <!--<a class="btn">Post</a>-->
        <!--</div>-->
      <!--</div>-->

    <!--</div>-->
  </section>
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />

  <!--<footer>-->
  <!--<ss-footer></ss-footer>-->
  <!--</footer>-->

</div>
</body>
</html>
