<!DOCTYPE html>
<html lang="en">
<head>
  <title>PREMIER - SPORTS POOLS</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--<link href="assets/css/style.css" rel="stylesheet" type="text/css" />-->
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100, 300,400,700" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
  <section class="cont-center-inner">
<div  class="inner-form-cont-right">
  <h3>JimmyB123</h3>
  <h4><span>PGA Pool:</span> Joe’s PGA Pool</h4>
  <h4><span>NCAA Pool:</span> Pool Name 535</h4>
  <h4><span>NCAA Pool:</span> Pool Name 75</h4>
  <h5>Jimmy B's Squares Pool</h5>

  <div>
    <a (click)="routeTo('/join')" class="btn">Join a Pool</a>
  </div>
  <div>
    <a (click)="routeTo('/pool')" class="btn">Start Pool</a>
  </div>
  <div>
    <a (click)="routeTo('/dash')" class="btn">Commissioner Options</a>
  </div>
  <div>
    <div class="pool-chat">
      <h3>Pool Chat</h3>
      <h4>
        <p>UserName 123:</p>
        Nullam quis risus eget urna mollis ornare vel eu leo. Etiam porta sem
        malesuada magna mollis euismod.

      </h4>
      <h4>
        <p>UserName 123:</p>
        Nullam quis risus eget urna mollis ornare vel eu leo. Etiam porta sem
        malesuada magna mollis euismod.

      </h4>
    </div>
    <textarea ></textarea>
    <div>
      <a class="btn">Post</a>
    </div>
  </div>
</div>
  </section>
</body>
</html>
