<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
  <!--<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />-->
  <!--<title>PREMIER - SPORTS POOLS</title>-->

  <!--<link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/themes/omega/theme.css" />-->
  <!--<link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/themes/omega/theme.css" />-->
  <!--<link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/primeng.min.css" />-->


  <!--&lt;!&ndash;<link href="assets/css/style.css" rel="stylesheet" type="text/css" />&ndash;&gt;-->
  <!--<meta name="viewport" content="width=device-width, initial-scale=1" />-->
  <!--<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">-->
  <!--<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700" rel="stylesheet">-->

  <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->

<!--</head>-->

<!--<body>-->
<!--<p-growl [value]="msgs" [style]="{'position': 'fixed'}"></p-growl>-->
<!--<div class="main-cont">-->
  <!--<div class="header-cont-inner">-->
    <!--<ss-header></ss-header>-->
  <!--</div>-->

  <!--<section class="cont-center-inner">-->
    <!--<div class="dis-flex">-->
      <!--<div class="inner-form-cont border-gray-2 bg-color-2" style="padding: 21px 30px; color:#424242; font-size:12px;">-->
        <!--<h3 style="color:#4893b8; font-size:27px; font-weight:400;">{{userName}}</h3>-->
        <!--<hr style="margin: 15px 0; border: 2px solid #eaeaea;"/>-->
        <!--<h4  style="color:#575757; font-size:21px; font-weight:400; text-transform:uppercase; margin-bottom:21px;">Create a Pool</h4>-->
        <!--<form id="poolsbumitFrom" name="form" (ngSubmit)="f.form.valid && poolCreate()" #f="ngForm" novalidate>-->
          <!--<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !pool_Id.valid }">-->
          <!--<label>POOL ID</label>-->
          <!--<input type="text" [(ngModel)]="poolId" name="poolId" class="form-control" id="pool_id" placeholder="Pool ID"-->
                 <!--#pool_Id="ngModel" required disabled>-->
          <!--<div *ngIf="f.submitted && !pool_Id.valid" class="help-block">Pool ID is required</div>-->
        <!--</div>-->

        <!--<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !pool_Name.valid }">-->
          <!--<label>POOL NAME</label>-->
          <!--<input type="text" [(ngModel)]="poolName" name="poolName" class="form-control" id="pool_name" placeholder="Pool Name"-->
                 <!--#pool_Name="ngModel" required>-->
          <!--<div *ngIf="f.submitted && !pool_Name.valid" class="help-block">Pool Name is required</div>-->
        <!--</div>-->

        <!--<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !passWord.valid }">-->
          <!--<label>CREATE POOL PASSWORD</label>-->
          <!--<input type="password" [(ngModel)]="password" name="password" class="form-control" id="password" placeholder="Password"-->
                 <!--(keydown.space)="$event.preventDefault()" #passWord="ngModel" required>-->
          <!--<div *ngIf="f.submitted && !passWord.valid" class="help-block">Password is required</div>-->
        <!--</div>-->

        <!--<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !repassWord.valid }">-->
          <!--<label>CONFIRM POOL PASSWORD*</label>-->
          <!--<input type="password" [(ngModel)]="repassword" name="repassword" class="form-control" id="repassword" placeholder="Retype Password"-->
                 <!--(keydown.space)="$event.preventDefault()" #repassWord="ngModel" required>-->
          <!--<div *ngIf="f.submitted && !repassWord.valid" class="help-block">Password is required</div>-->
        <!--</div>-->

          <!--&lt;!&ndash;<div class="form-group">&ndash;&gt;-->
            <!--&lt;!&ndash;<label>Sport / LEAGUE</label>&ndash;&gt;-->
            <!--&lt;!&ndash;<br>&ndash;&gt;-->
            <!--&lt;!&ndash;<p-dropdown [options]="leugueList" [(ngModel)]="selectedleugueId"&ndash;&gt;-->
                        <!--&lt;!&ndash;name="selectedleugueId"  [style]="{'width':'250px'}"[filter]="true"></p-dropdown>&ndash;&gt;-->
          <!--&lt;!&ndash;</div>&ndash;&gt;-->
          <!--<div class="form-group">-->
        <!--<label>Sport / LEAGUE</label>-->
            <!--<select (change)='onLeagueChange($event.target.value)'>-->
              <!--<option value=""></option>-->
              <!--<option *ngFor="let league of leagues" value={{league._id}}>-->
                <!--{{league.name}}-->
              <!--</option>-->
          <!--&lt;!&ndash;<option value="Sport / LEAGUE 01"></option>&ndash;&gt;-->
          <!--&lt;!&ndash;<option value="Sport / LEAGUE 02">Sport / LEAGUE 01</option>&ndash;&gt;-->
          <!--&lt;!&ndash;<option value="Sport / LEAGUE 03">Sport / LEAGUE 02</option>&ndash;&gt;-->
          <!--&lt;!&ndash;<option value="Sport / LEAGUE 04">Sport / LEAGUE 03</option>&ndash;&gt;-->
        <!--</select>-->
          <!--</div>-->

          <!--<div class="form-group">-->
        <!--<label>POOL TYPE</label>-->
            <!--<select (change)='onPoolTypeChange($event.target.value)'>-->
              <!--<option value=""></option>-->
              <!--<option *ngFor="let pooltype of types" value={{pooltype._id}}>-->
                <!--{{pooltype.name}}-->
              <!--</option>-->
          <!--&lt;!&ndash;<option value="POOL TYPE 01"></option>&ndash;&gt;-->
          <!--&lt;!&ndash;<option value="POOL TYPE 02">POOL TYPE 01</option>&ndash;&gt;-->
          <!--&lt;!&ndash;<option value="POOL TYPE 03">POOL TYPE 02</option>&ndash;&gt;-->
          <!--&lt;!&ndash;<option value="POOL TYPE 04">POOL TYPE 03</option>&ndash;&gt;-->
        <!--</select>-->
          <!--</div>-->

          <!--<div class="form-group">-->
        <!--<label>EVENT </label>-->
        <!--<select (change)='onPoolEventChange($event.target.value)'>-->
          <!--<option value=""></option>-->
          <!--<option *ngFor="let poolevent of events" value={{poolevent._id}}>-->
            <!--{{poolevent.name}}-->
          <!--</option>-->
          <!--&lt;!&ndash;<option value="EVENT 01"></option>&ndash;&gt;-->
          <!--&lt;!&ndash;<option value="EVENT 02">EVENT 01</option>&ndash;&gt;-->
          <!--&lt;!&ndash;<option value="EVENT 03">EVENT 02</option>&ndash;&gt;-->
          <!--&lt;!&ndash;<option value="EVENT 04">EVENT 03</option>&ndash;&gt;-->
        <!--</select>-->
          <!--</div>-->

        <!--<div class="form-group" style=" width: 100%; margin-top: 40px;margin-bottom: 15px;">-->
          <!--<button type="submit" class="continue-btn">CONTINUE TO SETTINGS</button>-->
          <!--&lt;!&ndash;<a href="#" class="continue-btn">CONTINUE TO SETTINGS</a>&ndash;&gt;-->
        <!--</div>-->
          <!--</form>-->
      <!--</div>-->
      <!--<div style="width:236px; text-align:right;">-->
        <!--<img src="assets/images/premier-logo-v.png" />-->
      <!--</div>-->
    <!--</div>-->
  <!--</section>-->
  <!--<br />-->
  <!--<br />-->
  <!--<br />-->
  <!--<br />-->
  <!--<br />-->
  <!--<br />-->
  <!--<br />-->

  <!--<footer>-->
    <!--<ss-footer></ss-footer>-->
  <!--</footer>-->

<!--</div>-->
<!--</body>-->
<!--</html>-->


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <title>Create A Pool - Preimer</title>
  <!--<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">-->
  <!--<link rel="stylesheet" type="text/css" href="assets/css/style.css">-->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

  <!--<link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/themes/omega/theme.css" />-->
  <!--<link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/themes/omega/theme.css" />-->
  <!--<link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/primeng.min.css" />-->

  <script type="text/javascript" src="assets/js/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="assets/js/bootstrap.js"></script>
  <script type="text/javascript" src="assets/js/main.js"></script>
</head>
<body>
<header>
  <ss-header></ss-header>
</header>
<p-growl [value]="msgs" [style]="{'position': 'fixed'}"></p-growl>
<section class="sub main-content">
  <div class="container">
    <form id="create_pool_form" class="pool_form" name="form"
          (ngSubmit)="f.form.valid && poolCreate()"
          #f="ngForm" novalidate>
      <div class="row">
        <div class="col-sm-9 form_left">
          <h2 class="pool_form_title blue">JimmyB123</h2>
          <hr>
          <h3>Create a pool</h3>
          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !pool_Id.valid }">
            <label for="createPoolID">POOL ID</label>
            <input type="text" [(ngModel)]="poolId" name="poolId" class="form-control" id="createPoolID" placeholder="Pool ID"
                   #pool_Id="ngModel" required disabled>
            <div *ngIf="f.submitted && !pool_Id.valid" class="help-block">Pool ID is required</div>
          </div>
          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !pool_Name.valid }">
            <label for="createPoolName">POOL NAME</label>
            <input type="text" [(ngModel)]="poolName" name="poolName" class="form-control" id="createPoolName" placeholder="Pool Name"
                   #pool_Name="ngModel" required>
            <div *ngIf="f.submitted && !pool_Name.valid" class="help-block">Pool Name is required</div>
          </div>
          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !passWord.valid }">
            <label for="createPoolPass">CREATE POOL PASSWORD</label>
            <input type="password" [(ngModel)]="password" name="password" class="form-control" id="createPoolPass" placeholder="Password"
                   (keydown.space)="$event.preventDefault()" #passWord="ngModel" required>
            <div *ngIf="f.submitted && !passWord.valid" class="help-block">Password is required</div>
          </div>
          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !repassWord.valid }">
            <label for="createConfirmPoolPass">CONFIRM POOL PASSWORD</label>
            <input type="password" [(ngModel)]="repassword" name="repassword" class="form-control" id="createConfirmPoolPass" placeholder="Retype Password"
                   (keydown.space)="$event.preventDefault()" #repassWord="ngModel" required>
            <div *ngIf="f.submitted && !repassWord.valid" class="help-block">Password is required</div>
          </div>
          <div class="form-group">
            <label>SPORT / LEAGUE</label>
            <select class="form-control" (change)='onLeagueChange($event.target.value)'>
              <option value="">-- Select --</option>
              <!--<option>FOOTBALL</option>-->
              <option value="Basketball/NCAA">BASKETBALL/NCAA</option>
              <!--<option>GOLF</option>-->
            </select>
          </div>
          <div class="form-group">
            <label>POOL TYPE</label>
            <select class="form-control" (change)='onPoolTypeChange($event.target.value)'>
              <option value="">-- Select --</option>
              <option value="Squares">SQUARES</option>
              <!--<option>FOOTBALL</option>-->
              <!--<option>BASKETBALL</option>-->
              <!--<option>GOLF</option>-->
            </select>
          </div>
          <div class="form-group">
            <label>EVENT</label>
            <select class="form-control" (change)='onPoolEventChange($event.target.value)'>
              <option value="">-- Select --</option>
              <!--<option>FOOTBALL</option>-->
              <option value="Basketball">BASKETBALL</option>
              <!--<option>GOLF</option>-->
            </select>
          </div>
          <button type="submit" class="btn">CONTINUE TO SETTINGS</button>
        </div>
        <div class="col-sm-3 form_right">
          <img src="../../../assets/assets/images/vertical-logo.png" class="logo">
        </div>
      </div>
    </form>
  </div>
</section>
<footer>
  <ss-footer></ss-footer>
</footer>
</body>
</html>
