@charset "utf-8";
/* CSS Document */


/*=====================================================
=            Media Queries            =
=====================================================*/
@media only screen and (min-device-width : 1920px) and (max-device-width : 2880px) {

}

@media only screen and (min-device-width : 1281px) and (max-device-width : 1520px) {
  .register-now .text {padding-left: 5%;}
  .why-premier .imag-text {padding-right: 12%;}


}

@media only screen and  (max-device-width : 1280px) {
  .header-cont {height: 1000px;}
  .header-cont .top-main-image {background-size:cover; height:auto;}
  .header-cont .top-button { margin-top:100px;}
  .our-pools .pools-cont { width:100%;}
  .our-pools .pools-cont .cont-football .img img {width:80%;}
  .our-pools .pools-cont .cont-football { width:27%; margin:62px 0 0 77px;}
  .our-pools .pools-cont .cont-football .text { font-size:21px;}
  .why-premier-bg { background-size:cover;}
  .why-premier .imag-text {padding-right: 5%;padding-top:100px;}
  .register-now {margin-bottom: 90px; height:auto;}
  .register-now .text {width: 50%;}
  .register-now .form {width: 37%;}
  footer .footer-nav {width:90%;}

  .header-cont .imag-text h1 {font-size: 60px;}
  .header-cont .imag-text h2 {font-size: 26px;}
  footer .footer-nav .logo { width:45%;}
  footer .footer-nav .links {width:55%;}
  .register-now .text {width: 40%;padding-right: 0%;}
  .register-now .form {width: 646px;}
  .register-now .text h3 {font-size: 29px;}


}

@media only screen and (max-width : 979px) {


}

@media only screen and (max-width : 767px) {
  .header-cont {height: 1230px;}
  .header-cont .top-main-image {background-size:cover; height:auto;}
  .header-cont .top-button { margin-top:100px;}
  .our-pools .pools-cont { width:100%;}
  .our-pools .pools-cont .cont-football .img img {width:80%;}
  .our-pools .pools-cont .cont-football { width:27%; margin:62px 0 0 50px;}
  .our-pools .pools-cont .cont-football .text { font-size:21px;}
  .why-premier-bg { background-size:cover;}
  .why-premier .imag-text {padding-right: 5%;padding-top:100px;}
  .register-now {margin-bottom: 34px; height:auto;}
  .register-now .text {width: 50%;}
  .register-now .form {width: 37%;}
  footer .footer-nav {width:90%;}


}

@media only screen and (max-width : 480px) {
  .main-cont {width:100%;}
  .res-img { width: 100%;  height: auto;}
  .header-cont {height: 1400px;}
  .header-cont .main-logo {padding:25px;}
  .header-cont .main-logo img { margin:17px 0 0 0;}
  .header-cont .top-nav .top-s-icons {margin-left: 11px;}
  .header-cont .top-nav .top-nav-links {float: initial; margin: 0 0 0 0; line-height: 40px;}
  .header-cont .top-main-image {background-size: cover;height: auto;}
  .header-cont .imag-text {width:100%;margin-left: 0; padding: 0px 5% 0 5%;}
  .header-cont .imag-text h1 { margin-top:20px;}
  .header-cont .top-button {margin-top: 15px;}
  .header-cont .top-button a { margin:0 0 10px 0;}
  .header-cont .top-button a:hover { margin:0 0 10px 0;}
  .why-premier-bg { background-size:cover; height:auto;margin-top: 50px;display: inline-block;}
  .why-premier .imag-text { margin: 0 15px 0 15px;padding-top: 12px; }
  .why-premier h1 {font-size:60px;}
  .register-now { display:inherit; height:auto;padding: 10px 0 30px 0;}
  .register-now .text { width:auto;padding: 17px;}
  .register-now .form { width:auto;}
  .register-now .text h4 { font-size:20px;}
  .register-now .form input { margin-right: 0px;}
  .our-pools .pools-cont {display: inherit;}
  .our-pools .pools-cont .cont-football {width:100%;text-align: center;margin-left: 0px;}
  .our-pools .pools-cont .cont-football .img img {width:75%;}
  footer .footer-nav {height: auto; width: 100%; padding-bottom: 6px;}
  footer .footer-nav .logo {float: inherit; width: 100%; text-align: center;}
  footer .footer-nav .links {float: inherit; width: 100%; text-align: center;}
  footer .copyright {display: inline-block; height: auto; line-height: normal; padding: 15px;}
}

@media only screen and (max-width : 320px) {
  .main-cont {width:100%;}
  .res-img { width: 100%;  height: auto;}
  .header-cont {height: 1500px;}
  .header-cont .main-logo {padding:25px;}
  .header-cont .main-logo img { margin:17px 0 0 0;}
  .header-cont .top-nav .top-s-icons {margin-left: 11px;}
  .header-cont .top-nav .top-nav-links {float: initial; margin: 0 0 0 0; line-height: 40px;}
  .header-cont .top-main-image {background-size: cover;height: auto;}
  .header-cont .imag-text {width:100%;margin-left: 0; padding: 0px 5% 0 5%;}
  .header-cont .imag-text h1 { margin-top:20px;}
  .header-cont .top-button {margin-top: 15px;}
  .header-cont .top-button a { margin:0 0 10px 0;}
  .header-cont .top-button a:hover { margin:0 0 10px 0;}
  .why-premier-bg { background-size:cover; height:auto;margin-top: 50px;display: inline-block;}
  .why-premier .imag-text { margin: 0 15px 0 15px;padding-top: 12px; }
  .why-premier h1 {font-size:60px;}
  .register-now { display:inherit; height:auto;padding: 10px 0 30px 0;}
  .register-now .text { width:auto;padding: 17px;}
  .register-now .form { width:auto;}
  .register-now .text h4 { font-size:20px;}
  .register-now .form input { margin-right: 0px;}
  .our-pools .pools-cont {display: inherit;}
  .our-pools .pools-cont .cont-football {width:100%;text-align: center;margin-left: 0px;}
  .our-pools .pools-cont .cont-football .img img {width:75%;}
  footer .footer-nav {height: auto; width: 100%; padding-bottom: 6px;}
  footer .footer-nav .logo {float: inherit; width: 100%; text-align: center;}
  footer .footer-nav .links {float: inherit; width: 100%; text-align: center;}
  footer .copyright {display: inline-block; height: auto; line-height: normal; padding: 15px;}
}


/*==================================================
=           Media Queries             =
==================================================*/

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}

/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}
