@font-face{
  font-family: roboto_light;
  font-weight: 300;
  src: url("../../../assets/assets/fonts/Roboto-Light.ttf");
}
@font-face{
  font-family: roboto;
  font-weight: normal;
  src: url("../../../assets/assets/fonts/Roboto-Regular.ttf");
}
@font-face{
  font-family: roboto_medium;
  font-weight: 600;
  src: url("../../../assets/assets/fonts/Roboto-Medium.ttf");
}
@font-face{
  font-family: roboto_bold;
  font-weight: bold;
  src: url("../../../assets/assets/fonts/Roboto-Bold.ttf");
}
header{
  background: black;
}
body{
  font-family: roboto_light;
}
.header_bottom{
  background: #489cc5;
  color: white;
}
.logo{
  max-width: 100%;
}
.top_logo{
  padding-top: 30px;
  padding-bottom: 30px;
}
.header_social{
  list-style: none;
  padding: 0;
  margin: 0;
}
.main_menu{
  list-style: none;
  padding: 0;
  margin: 0;
}
.main_menu li{
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
  line-height: 2.5;
}
.main_menu li a{
  border-right: 2px solid white;
  padding: 0 18px;
  display: inline-block;
  line-height: 0.9;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -ms-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
}
.main_menu > li:last-child a{
  padding-right: 0;
  border-right: 0;
}
.main_menu > li:first-child a{
  padding-left: 0;
}
.main_menu li a:hover{
  color: #dddddd;
}
.header_social li{
  display: inline-block;
  vertical-align: middle;
  padding-right: 20px;
  font-size: 35px;
  line-height: 1.2;
}
.header_social li a{
  color: white;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -ms-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
}
.header_social li a:hover{
  color: #dddddd;
}
.main-content{

}
.blue{
  color: #489cc5;
}
.top_banner{
  color: white;
  background: url("../../../assets/assets/images/banner_top.jpg") no-repeat top left;
  background-size: cover;
  padding-top: 10%;
  padding-bottom: 10%;
}
.top_banner h2{
  font-size: 50px;
  line-height: 1.3;
  margin-top: 0;
}
.top_banner h3{
  margin-top: 80px;
  font-size: 38px;
}
.top_banner h4{
  line-height: 1.4;
  color: #dddddd;
  font-size: 20px;
}
.button_group a{
  color: white;
  margin: 10px 25px;
  background: url("../../../assets/assets/images/btn_bg.png") no-repeat center;
  background-size: 100% 100%;
  padding: 10px 45px;
  font-family: roboto;
  min-width: 175px;
}
.button_group a:hover{
  color: #dddddd;
}
.button_group{
  padding-top: 120px;
}
.pools h2{
  color: black;
  font-size: 50px;
}
.btn.focus, .btn:focus, .btn:hover {
  color: #dddddd;
  text-decoration: none;
}
.pools .btn.focus, .btn:focus, .btn:hover {
  color: #000;
}
hr.black{
  margin-top: 20px;
  margin-bottom: 35px;
  border: 0;
  border-top: 2px solid #444;
  max-width: 800px;
}
.preimer img{
  max-width: 100%;
  margin-bottom: 30px;
}
.pools{
  padding-top: 20px;
  padding-bottom: 70px;
  background: url("../../../assets/assets/images/pool_bg.png") no-repeat center;
  background-size: 100% 100%;
}
.preimer{
  padding: 20px 40px;
}
.preimer a{
  color: #444444;
  padding: 9px;
  font-size: 17px;
  background: url("../../../assets/assets/images/pool_btn_bg.png") no-repeat center;
  background-size: 100% 100%;
  font-family: roboto;
  margin-top: 15px;
  max-width: 100%;
  width: 250px;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -ms-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
}
.preimer a:hover{
  color: #000;
}
.basket .list, .golf .list{
  margin-bottom: 42px;
}
.list{
  list-style: none;
  padding-left: 0;
}
.list li{
  margin-left: 10px;
  padding-left: 24px;
  background: url("../../../assets/assets/images/list.png") no-repeat left;
  background-size: 16px;
  background-position-y: 8px;
  font-size: 20px;
  line-height: 1.6;
  text-transform: uppercase;
}
.why_preimer{
  padding: 10% 0;
  color: #ffffff;
  background: url("../../../assets/assets/images/banner_2.jpg") no-repeat center;
  background-size: cover;
}
.banner_title{
  font-size: 50px;
  margin-bottom: 20px;
}
.banner_text{
  font-size: 25px;
  line-height: 1.2;
  margin-bottom: 20px;
  font-weight: lighter;
  color: #ccc;
}
.register{
  padding: 60px 0;
}
.register h3{
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 20px;
}
.register p{
  font-size: 23px;
  line-height: 1.3;
  margin-bottom: 20px;
}
.register p a{
  color: #489cc5;
  text-decoration: none;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -ms-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
}
.register p a:hover{
  color: #000;
  text-decoration: none;
}
#home_register input{
  margin-bottom: 20px;
  border-radius: 0;
}
#home_register input.submit{
  color: #ffffff;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background: #489cc5;
  max-width: 210px;
  border: 1px solid #489cc5;
  display: inline-block;
  margin-bottom: 0;
  margin-top: 10px;
}
.sub.main-content{
  padding: 50px 0 115px;
}
.right_side_form{
  border: 1px solid #bbb;
  box-shadow: 2px 2px 9px 0px #bbb;
  background: black;
}
.form_title{
  margin-top: 0;
  font-size: 40px;
  font-family: roboto;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.right_side_form .form_left p{
  margin: -20px 0 25px;
}
.right_side_form .form_left p a{
  text-decoration: none;
  color: #489cc5;
  font-family: roboto_bold;
}
.right_side_form .form_left p a:hover{
  text-decoration: none;
  color: #308dc5;

}
.right_side_form .form_left{
  padding: 40px 50px;
  background: white;
}
.right_side_form .form_right{
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  padding-bottom: 30px;
  padding-top: 30px;
}
.right_side_form > .row{
  position: relative;
  margin-left: 0;
  margin-right: 0;
}
.right_side_form input{
  border-radius: 0;
}
.right_side_form button{
  font-family: roboto;
  border-radius: 0;
  color: white;
  background: #489cc5;
  border: 1px solid #489cc5;
  width: 170px;
  margin: 35px auto 0;
  display: block;
}
.pool_form > .row{
  margin-left: 0;
  margin-right: 0;
  position: relative;
}
.pool_form .form_left{
  background: #fafafa;
  border: 1px solid #ddd;
  padding: 50px 30px;
}
.pool_form .form_right{
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.pool_form_title{
  margin-top: 0;
  font-size: 30px;
  font-family: roboto_medium;
}
.pool_form hr{
  margin-top: 15px;
  margin-bottom: 15px;
}
.pool_form h3{
  margin-top: 0;
  margin-bottom: 25px;
  font-family: roboto_medium;
  font-size: 25px;
  text-transform: uppercase;
}
.pool_form label{
  color: #888;
  font-family: roboto;
}
.pool_form input, .pool_form select{
  max-width: 600px;
  border-radius: 0;
}
.pool_form button{
  color: #ffffff;
  border-radius: 0;
  background: #489cc5;
  border: 1px solid #489cc5;
  margin-top: 20px;
}
.pool_form h4{
  font-size: 20px;
  font-family: roboto;
  text-transform: uppercase;
}
.pool_form h4.radio_title{
  font-size: 18px;
  font-family: roboto;
  color: black;
  text-transform: uppercase;
  margin-top: 20px;
}
.pool_form.step2 p{
  margin: 10px 0 10px;
  font-size: 18px;
  font-family: roboto;
}
.pool_form.step2 p.small{
  font-family: roboto;
  font-size: 15px;
}
.pool_form.step2 button{
  margin-top: 70px;
}
.pool_form a{
  float: right;
  margin-top: -35px;
  font-size: 20px;
  font-family: roboto_medium;
  color: #444;
}
.pool_form a:hover{
  text-decoration: none;
}
.pool_form .radio label{
  font-size: 16px;
}
input[type=checkbox], input[type=radio] {
  margin: 5px 0 0;
}
.radio{
  margin-bottom: 13px;
  position: relative;
}
.radio i{
  font-size: 13px;
  margin-left: 5px;
}
.tab-content .title{
  margin-top: 0;
  font-size: 30px;
  font-family: roboto_medium;
}
.tab-content hr{
  margin-top: 15px;
  margin-bottom: 15px;
}
.tab-content h4{
  font-size: 20px;
  font-family: roboto;
  text-transform: uppercase;
}
.tab-content h3{
  margin-top: 0;
  margin-bottom: 25px;
  font-family: roboto_medium;
  font-size: 25px;
  text-transform: uppercase;
}
.tab-content h4.radio_title{
  font-size: 18px;
  font-family: roboto;
  color: black;
  text-transform: uppercase;
  margin-top: 20px;
}
.tab-content h4.radio_title a{
  text-decoration: underline;
  font-size: 13px;
  text-transform: none;
}
.tab-content label {
  color: #555;
  font-family: roboto;
}
.tab-content .radio label {
  font-size: 17px;
}
.tab-content input[type=radio] {
  margin: 6px 0 0 -20px;
}
.tab-content p{
  margin: 10px 0 10px;
  font-size: 18px;
  font-family: roboto;
}
.tab-content p.small {
  font-family: roboto;
  font-size: 15px;
}
.tab-content button {
  color: #ffffff;
  border-radius: 0;
  background: #489cc5;
  border: 1px solid #489cc5;
  margin-top: 70px;
}
.tab-content button.red{
  background: #ee2828;
  border: 1px solid #ee2828;
  margin-top: 10px;
  margin-bottom: 20px;
  color: #ffffff !important;
}
.tab-content{
  background: #fafafa;
  border: 1px solid #ddd;
  padding: 35px 25px;
  margin-top: 10px;
}
.pool_set .nav-tabs>li{
  width: 25%;
  text-align: center;
}
.nav-tabs>li>a {
  margin-right: 4px;
  line-height: 1.42857143;
  border: none;
  border-radius: 6px 6px 0 0;
  font-size: 17px;
  text-transform: uppercase;
  font-family: roboto_medium;
  background: #e5e5e5;
  color: #555;
}
.nav-tabs>li:last-child>a {
  margin-right: 0;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  color: white;
  cursor: default;
  background-color: #76b5d4;
  border: none;
}
.nav>li>a {
  padding: 6px;
  white-space: nowrap;
  overflow: hidden;
}
.nav-tabs {
  border-bottom: none;
}
.nav>li>a:focus, .nav>li>a:hover {
  text-decoration: none;
  background-color: #76b5d4;
  color: white;
}
.set_tab_sidebar{
  max-width: 200px;
  float: right;
  width: 100%;
}
.set_tab_sidebar ul{
  list-style: none;
  padding-left: 0;
  margin-top: 20px;
  margin-bottom: 25px;
}
.set_tab_sidebar ul li{
  border-top: 1px solid #eee;
  padding: 7px 0;
}
.set_tab_sidebar ul > li:last-child{
  border-bottom: 1px solid #eee;
}
.set_tab_sidebar .name{
  margin-top: 0;
  font-family: roboto_medium;
  font-size: 23px;
}
.set_tab_sidebar a.btn{
  color: #ffffff;
  border-radius: 0;
  background: #489cc5;
  border: 1px solid #489cc5;
  margin-top: 12px;
  display: block;
}
.pool_chat{
  background: #fafafa;
  border: 1px solid #ddd;
  margin-top: 50px;
  padding: 15px 0;
  margin-bottom: 15px;
}
.pool_chat h3{
  margin-top: 0;
  font-family: roboto;
  padding: 0 13px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ddd;
}
.pool_chat p{
  padding: 0 13px;
}
.set_tab_sidebar form textarea{
  width: 100%;
  text-align: right;
  border-color: #ddd;
}
.set_tab_sidebar button{
  color: #ffffff;
  border-radius: 0;
  background: #489cc5;
  border: 1px solid #489cc5;
  display: block;
  width: 100%;
  padding: 5px;
  margin: 5px auto;
  max-width: 100%;
}
.user_filed input{
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}
#invite_pool p.add_user{
  display: block;
  margin-top: 20px;
  font-family: roboto_medium;
  font-size: 16px;
  text-decoration: none;
  color: #489cc5;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.tab-content #invite_pool button{
  margin-top: 20px;
}
.user_picks{
  margin-bottom: 15px;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
  border-top: none;
  text-align: center;
  vertical-align: middle;
}
.table>tbody>tr>td{
  font-size: 18px;
  font-family: roboto_medium;
}
.table>tbody>tr>td span{
  background: #cdcdcd;
  display: block;
  width: 100%;
  height: 100%;
  min-height: 55px;
  cursor: pointer;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
.table>tbody>tr>td span:hover{
  background: #489cc5;
}
.table>tbody>tr>td span.text:hover{
  background: transparent;
}
.table>tbody>tr>td span.text.selected{
  background: transparent;
}
.table>tbody>tr>td span.selected{
  background: #489cc5;
}
.table>tbody>tr>td span.text{
  background: transparent;
  padding-top: 13px;
  cursor: default;
}
.table>tbody>tr>td span.active{
  background: transparent;
  padding-top: 13px;
  cursor: default;
  border: 2px solid #777777;
}
.table.roster>tbody>tr.head>td{
  font-size: 18px;
  font-family: roboto_medium;
  border-bottom: 2px solid #ddd;
}
.table.roster>tbody>tr>td{
  font-family: roboto_light;
  font-size: 16px;
}
.table{
  margin-top: 40px;
}
.border_left{
  border-left: 3px solid #ededed !important;
}
.border_top{
  border-top: 3px solid #ededed !important;
}
#roster p.add_user{
  display: block;
  margin-top: 50px;
  font-family: roboto_medium;
  font-size: 16px;
  text-decoration: none;
  color: #489cc5;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.tab-content #roster button {
  margin-top: 20px;
}
.square_set .nav-tabs>li {
  width: 33.33%;
  text-align: center;
}
#choosesquare p{
  padding-left: 83px;
}
#choosesquare .table{
  table-layout: fixed;
  white-space: nowrap;
}
#choosesquare .table tr td{
  width: 9.09%;
}
#results table>tbody>tr>td{
  text-align: left;
  border-bottom: 1px solid #dddddd;
  font-family: roboto_light;
  font-size: 15px;
}
#results table>tbody>tr.head>td{
  font-family: roboto;
  padding: 15px 8px;
  font-size: 17px;
}
#results .table{
  margin-bottom: 100px;
}
#perimerlive .table>tbody>tr>td{
  border-bottom: 1px solid #dddddd;
  text-transform: uppercase;
}
#perimerlive .table>tbody>tr>td.light{
  font-family: roboto_light;
  text-align: left;
}
.red{
  color: #ac4343 !important;
}
.square_set .sub_tab .nav-tabs>li {
  width: 20%;
  text-align: center;
}
.sub_tab .nav-tabs>li>a{
  font-size: 15px;
}
.sub_tab .tab-content {
  background: #fafafa;
  border: none;
  padding: 10px 0 25px;
  margin-top: 10px;
}
.sub_tab .table{
  table-layout: fixed;
}
.sub_tab .table tbody tr td{
  width: 9.09%;
}
.sub_tab #all .table tbody tr td{
  width: 7.14%;
}
#perimerlive .sub_tab .table>tbody>tr>td {
  border-bottom: none;
  padding: 12px 4px;
}
#perimerlive .sub_tab .table>tbody>tr:first-child>td {
  background: #d1d1d1;
  border-right: none;
  border-bottom: none;
  cursor: default;
}
#perimerlive .sub_tab .table>tbody>tr>td:first-child {
  background: #d1d1d1;
  border-right: none;
  border-bottom: none;
  cursor: default;
}
#perimerlive .sub_tab .table>tbody>tr>td{
  border-right: 1px solid #555;
  border-bottom: 1px solid #555;
  cursor: pointer;
}
.pattern{
  font-family: roboto;
  font-size: 18px;
}
.pattern img{
  margin-right: 10px;
  margin-left: 20px;
  margin-bottom: 12px;
  margin-top: 10px;
}
.pattern img:first-child{
  margin-left: 0;
}
#perimerlive .sub_tab .table>tbody>tr>td.win{
  background: url("../../../assets/assets/images/win.jpg") no-repeat center;
  background-size: 100% 100%;
}
#perimerlive .sub_tab .table>tbody>tr>td.score{
  background: url("../../../assets/assets/images/score.jpg") no-repeat center;
  background-size: 100% 100%;
}
#third{
  max-width: 560px;
  margin: 0 auto;
}
#perimerlive .sub_tab #all .table>tbody>tr>td:nth-child(4) {
  background: #d1d1d1;
  border-right: 2px solid #fafafa;
  border-left: 2px solid #fafafa;
  border-bottom: none;
  border-top: none;
  cursor: default;
}
#perimerlive .sub_tab #all .table>tbody>tr:nth-child(4)>td {
  background: #d1d1d1;
  border-right: none;
  border-bottom: 2px solid #fafafa;
  border-top: 2px solid #fafafa;
  border-left: none;
  cursor: default;
}
#perimerlive .sub_tab #all .table>tbody>tr:nth-child(4)>td:nth-child(4) {
  background: transparent;
}
#perimerlive .sub_tab #all .table>tbody>tr>td:nth-child(3) {
  background: #d1d1d1;
  border-right: 2px solid #fafafa;
  border-left: 2px solid #fafafa;
  border-bottom: none;
  border-top: none;
  cursor: default;
}
#perimerlive .sub_tab #all .table>tbody>tr:nth-child(3)>td {
  background: #dddddd;
  border-right: none;
  border-bottom: 2px solid #fafafa;
  border-top: 2px solid #fafafa;
  border-left: none;
  cursor: default;
}
#perimerlive .sub_tab #all .table>tbody>tr:nth-child(3)>td:nth-child(3) {
  background: transparent;
}
#perimerlive .sub_tab #all .table>tbody>tr>td:nth-child(2) {
  background: #e7e7e7;
  border-right: 2px solid #fafafa;
  border-left: 2px solid #fafafa;
  border-bottom: none;
  border-top: none;
  cursor: default;
}
#perimerlive .sub_tab #all .table>tbody>tr:nth-child(2)>td {
  background: #e7e7e7;
  border-right: none;
  border-bottom: 2px solid #fafafa;
  border-top: 2px solid #fafafa;
  border-left: none;
  cursor: default;
}
#perimerlive .sub_tab #all .table>tbody>tr:nth-child(2)>td:nth-child(2) {
  background: transparent;
}
#perimerlive .sub_tab #all .table>tbody>tr>td:first-child {
  background: #f3f3f3;
  border-right: 2px solid #fafafa;
  border-left: 2px solid #fafafa;
  border-bottom: none;
  border-top: none;
  cursor: default;
}
#perimerlive .sub_tab #all .table>tbody>tr:first-child>td {
  background: #f3f3f3;
  border-right: none;
  border-bottom: 2px solid #fafafa;
  border-top: 2px solid #fafafa;
  cursor: default;
  border-left: none;
}
#perimerlive .sub_tab #all .table>tbody>tr:first-child>td:first-child {
  background: transparent;
}
.top_title1{
  margin-top: 50px;
  padding-left: 30px;
  background: url("../../../assets/assets/images/left1.png") no-repeat left center;
}
.top_title2{
  padding-left: 30px;
  background: url("../../../assets/assets/images/left2.png") no-repeat left center;
}
.top_title1 .table, .top_title2 .table{
  margin-top: 5px;
}
.tab-content h3.table_top_title{
  font-size: 19px;
  color: #555;
  margin-bottom: 8px;
}









.footer_bottom{
  background: black;
}
footer{
  background: #489cc5;
  color: white;
}
.footer_bottom p{
  margin: 25px 0 25px;
}
.footer_menu{
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer_menu li{

}
footer a{
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -ms-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
}
footer a:hover{
  color: #dddddd;
  text-decoration: none;
}
.footer_menu li{
  display: inline-block;
  vertical-align: middle;
  line-height: 1.5;
}
.footer_menu li a{
  border-right: 2px solid white;
  padding: 0 10px;
  display: inline-block;
  line-height: 0.9;
  color: white;
  text-decoration: none;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -ms-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
}
.footer_menu li a:hover{
  color: #dddddd;
}
.footer_menu > li:last-child a{
  padding-right: 0;
  border-right: 0;
}
.footer_menu > li:first-child a{
  padding-left: 0;
}
.footer_top{
  padding-top: 50px;
  padding-bottom: 50px;
}
.footer_bottom_section{
  text-align: right;
}
.footer_bottom_section p{
  font-size: 17px;
  margin-top: 10px;
}

@media (max-width: 1199px) {

  .preimer {
    padding: 20px 15px;
  }
  .preimer img {
    max-width: 90%;
  }
  #perimerlive .sub_tab .table>tbody>tr>td {
    padding: 9px 4px;
  }
  #choosesquare .table tr td {
    padding: 4px;
  }
  .table>tbody>tr>td{
    padding: 4px;
  }
  .table>tbody>tr>td span{
    min-height: 48px;
  }
}
@media (max-width: 991px) {
  #choosesquare .table tr td {
    padding: 2px;
  }
  .table>tbody>tr>td span{
    min-height: 40px;
  }
  .list li {
    margin-left: 5px;
    padding-left: 20px;
    background-size: 14px;
    background-position-y: 6px;
    font-size: 15px;
    line-height: 1.8;
  }
  .basket .list, .golf .list {
    margin-bottom: 37px;
  }
  .top_banner h2 {
    font-size: 43px;
    line-height: 1.1;
    margin-top: 0;
  }
  .top_banner h3 {
    margin-top: 60px;
    font-size: 33px;
  }
  .button_group {
    padding-top: 100px;
  }
  .table>tbody>tr>td {
    font-size: 13px;
  }
  #perimerlive .sub_tab .table>tbody>tr>td {
    padding: 8px 4px;
  }
  .sub_tab .nav-tabs>li>a {
    font-size: 13px;
  }
  .table>tbody>tr>td{
    padding: 2px;
  }
}

@media (max-width: 767px) {
  .footer_top_section, .footer_bottom_section{
    text-align: center;
  }
  .footer_bottom_section p{
    margin-top: 30px;
  }
  .preimer {
    padding: 20px 15px;
    max-width: 360px;
    margin: 0 auto;
  }
  .basket .list, .golf .list {
    margin-bottom: 7px;
  }
  .right_side_form .form_right, .pool_form .form_right {
    position: relative;
    right: 0;
    top: 0;
    transform: translateY(0%);
    padding-bottom: 30px;
    padding-top: 30px;
    text-align: center;
  }
  .set_tab_sidebar {
    max-width: 250px;
    float: none;
    width: 100%;
    margin: 20px auto;
  }
}
@media (max-width: 528px) {
  .footer_menu li {
    display: block;
    vertical-align: middle;
    line-height: 1.7;
  }
  .footer_menu li a {
    border-right: none;
    padding: 0;
  }
  .pool_form a {
    float: none;
    margin-top: 0px;
    font-size: 20px;
    font-family: roboto_medium;
    color: #444;
  }
  .nav-tabs>li>a{
    font-size: 14px;
  }
  .nav>li>a {
    padding: 6px 10px;
  }
  .tab-content .title {
    font-size: 22px;
  }
  .tab-content h4 {
    font-size: 18px;
  }
  .tab-content h3 {
    font-size: 22px;
  }
  .table>tbody>tr>td {
    font-size: 12px;
  }
  #perimerlive .sub_tab .table>tbody>tr>td {
    padding: 4px 4px;
  }
  .table>tbody>tr>td span {
    min-height: 35px;
  }
  .table>tbody>tr>td span.text , .table>tbody>tr>td span.active{
    padding-top: 7px;
  }
  .sub_tab .nav-tabs>li>a {
    font-size: 11px;
  }
}
@media (max-width: 435px) {
  .table>tbody>tr>td span {
    min-height: 26px;
  }
  .table>tbody>tr>td span.text , .table>tbody>tr>td span.active{
    padding-top: 4px;
  }
  .table>tbody>tr>td {
    font-size: 10px;
  }
  .nav-tabs>li>a{
    font-size: 12px;
  }
  .top_banner h2 {
    font-size: 38px;
  }
  .top_banner h3 {
    margin-top: 50px;
    font-size: 30px;
  }
  .button_group {
    padding-top: 50px;
  }
  .header_social li {
    padding-right: 15px;
    font-size: 32px;
  }
  .header_social > li:last-child{
    padding-right: 0;
  }
  .main_menu li {
    font-size: 16px;
  }
  .main_menu li a {
    padding: 0 10px;
  }
  .why_preimer {
    padding: 15% 0;
  }
  .banner_title {
    font-size: 42px;
  }
  .banner_text {
    font-size: 22px;
  }
  .sub_tab .nav-tabs>li>a {
    font-size: 10px;
  }
  .nav>li>a {
    padding: 6px 4px;
  }
}
