@charset "utf-8";
/* CSS Document */










@font-face {
  font-family: Helvetica-Condensed;
  src: url('../../../assets/fonts/Helvetica-Condensed.otf');
}

@font-face {
  font-family: Helvetica-Condensed-Light;
  src: url('../../../assets/fonts/Helvetica-Condensed-Light.otf');
}







* {
  box-sizing: border-box;
  margin:0px;
  padding:0px;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #000000;
}
body {
  margin: 0;
}
.main-cont {
  margin: 0 auto;
  width: 100%;
  flex-grow: 1;
  /*min-width:1514px;*/
  /*width:1514px;*/

}
.header-cont {
  height:1130px;
  background-color:#000;

}
.header-cont .main-logo {
  height:150px;
  text-align:center;
  vertical-align:middle;
}
.header-cont .main-logo img {
  margin-top: 31px;
}
.header-cont .top-nav {
  height:44px;
  color:#FFF;
  font-size:19px;
  background-color:#489cc5;

}
.header-cont .top-nav .top-s-icons {
  margin-top:3px;
  margin-left:66px;
  font-size:30px;
  float: left;
}
.header-cont .top-nav .top-s-icons a {
  color:#FFF;
  text-decoration:none;
  margin: 0 10px 0 10px;
}

.header-cont .top-nav .top-nav-links {
  float:right;
  margin-right:66px;
  text-transform:uppercase;
  font-weight:bold;
  margin-top:10px;
}
.header-cont .top-nav .top-nav-links a {
  color:#FFF;
  text-decoration:none;
  margin: 0 10px 0 10px;
}
.header-cont .top-nav .top-nav-links a:hover {
  text-decoration:underline;
}












.header-cont-inner {
  height:auto;
  background-color:#fff;

}
.header-cont-inner .main-logo {
  height:150px;
  text-align:center;
  vertical-align:middle;
  background-color: #000;
}
.header-cont-inner .main-logo img {
  margin-top: 31px;
}
.header-cont-inner .top-nav-inner {
  height:44px;
  color:#FFF;
  font-size:19px;
  background-color:#489cc5;
  padding-left: 309px;
  padding-right: 309px;

}
.header-cont-inner .top-nav-inner .top-s-icons {
  margin-top:3px;
  /*margin-left:66px;*/
  font-size:30px;
  float: left;
}
.header-cont-inner .top-nav-inner .top-s-icons a {
  color:#FFF;
  text-decoration:none;
  margin: 0 10px 0 10px;
}

.header-cont-inner .top-nav-inner .top-nav-links {
  float:right;
  /*margin-right:66px;*/
  text-transform:uppercase;
  font-weight:normal;
  margin-top:10px;
}
.header-cont-inner .top-nav-inner .top-nav-links a {
  color:#FFF;
  text-decoration:none;
  margin: 0 10px 0 10px;
}
.header-cont-inner .top-nav-inner .top-nav-links a:hover {
  text-decoration:underline;

}
.header-cont-inner .top-nav-inner .top-nav-links a.active {
  text-decoration: blink;
  font-weight:bold
}

.cont-center-inner { width:951px; margin:0 auto; margin-top:61px; margin-bottom:61px; display:flex;}
.cont-center-inner .box-shadow {box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);}
.cont-center-inner .border-gray {border:1px solid #b7b7b7;}
.cont-center-inner .dis-flex {display: flex;}
.cont-center-inner .login-cont {margin:0 auto; width:685px; height:auto; padding: 1px;}
.cont-center-inner input {width:100%; height:44px; border:1px solid #464646;margin: 5px 0 15px 0;}
.cont-center-inner .login-btn { background-color: #4894b8;color: white; padding: 7px 72px; margin: 0 auto;  border: 1px solid #91c3dc;  cursor: pointer;  width: 100%;  text-decoration: none;  font-size: 16px;  background: linear-gradient(to bottom, #5aa5ca 20%, #428db2 100%);}

.cont-center-inner .join-pool-cont {margin:0 auto; width:685px; height:auto; padding: 1px;}
.cont-center-inner .join-pool-cont input {width:100%; height:44px; border:1px solid #464646;margin: 5px 0 15px 0;}
.cont-center-inner .join-pool-cont .join-pool-btn { background-color: #4894b8;color: white; padding: 7px 72px; margin: 0 auto;  border: 1px solid #91c3dc;  cursor: pointer;  width: 100%;  text-decoration: none;  font-size: 16px;  background: linear-gradient(to bottom, #5aa5ca 20%, #428db2 100%);}


.cont-center-inner .inner-form-cont  { width:715px; height:auto; padding: 1px;}
.cont-center-inner .border-gray-2 {border:1px solid #d9d9d9;}
.cont-center-inner .bg-color-2 { background-color:#fafafa;}
.cont-center-inner .inner-form-cont label { font-size:17px; color:#8c8c8c;}
.cont-center-inner .inner-form-cont input { border:1px solid #979797; background-color:#fafafa; height:31px; width: 60%; margin-right: 40%;font-size: 15px; padding: 7px;}
.cont-center-inner .inner-form-cont select { border:1px solid #979797; background-color:#fafafa; height:31px; width: 60%; margin-right: 40%;font-size: 15px; padding: 7px; }
.cont-center-inner select {margin: 5px 0 15px 0;}
.cont-center-inner .inner-form-cont input[type="text"]:disabled { background-color:#efeeef;}
.cont-center-inner .inner-form-cont .continue-btn{ background-color: #4894b8;color: white; padding: 7px 17px; margin: 0 auto;  border: 1px solid #91c3dc;  cursor: pointer;  width: 100%;  text-decoration: none;  font-size: 16px;  background: linear-gradient(to bottom, #5aa5ca 20%, #428db2 100%);}
.cont-center-inner .inner-form-cont .radio-class { width: auto; margin: 10px 10px 10px 0; height: auto;}
.cont-center-inner .inner-form-cont .submit-btn{ background-color: #4894b8;color: white; padding: 7px 17px; margin: 0 auto;  border: 1px solid #91c3dc;  cursor: pointer;  width: 100%;  text-decoration: none;  font-size: 16px;  background: linear-gradient(to bottom, #5aa5ca 20%, #428db2 100%);}


.cont-center-inner .tabs-1 {width:100%; margin-bottom:10px;}
.cont-center-inner .tabs-1 ul { list-style-type:none;}
.cont-center-inner .tabs-1 ul li { display:inline-block; margin-right:0.7px;}
.cont-center-inner .tabs-1 ul li a { border-top-left-radius:5px; border-top-right-radius:5px; text-align:center; text-decoration:none; line-height:41px; font-size:17px; color:#3a3a3a; background-color:#e5e5e5; width:174px; height:40px; display:block; font-weight:normal;}
.cont-center-inner .tabs-1 ul li a:hover { background-color:#76b5d4; color:#fff;}
.cont-center-inner .tabs-1 ul li .active { background-color:#76b5d4; color:#fff;}
.cont-center-inner .inner-form-cont .generate-numbers-btn { background-color: #4894b8;color: white; padding: 7px 25px; margin: 0 auto;  border: 0px solid #91c3dc;  cursor: pointer;  width: 100%;  text-decoration: none;  font-size: 16px;  background: linear-gradient(to bottom, #f32d2d 20%, #dd1717 100%);}


.cont-center-inner .tabs-2-pool-name {width:100%; margin-bottom:10px;}
.cont-center-inner .tabs-2-pool-name h3 {font-weight: normal; font-size: 31px; margin-bottom: 30px;}
.cont-center-inner .tabs-2-pool-name ul { list-style-type:none;}
.cont-center-inner .tabs-2-pool-name ul li { display:inline-block; margin-right:0.7px;}
.cont-center-inner .tabs-2-pool-name ul li a { border-top-left-radius:5px; border-top-right-radius:5px; text-align:center; text-decoration:none; line-height:41px; font-size:17px; color:#3a3a3a; background-color:#e5e5e5; width:233px; height:40px; display:block; font-weight:normal;}
.cont-center-inner .tabs-2-pool-name ul li a span { color:#76b5d4;}
.cont-center-inner .tabs-2-pool-name ul li a:hover { background-color:#76b5d4; color:#fff;}
.cont-center-inner .tabs-2-pool-name ul li a:hover span { background-color:#76b5d4; color:#3a3a3a;}
.cont-center-inner .tabs-2-pool-name ul li .active { background-color:#76b5d4; color:#fff;}


.cont-center-inner .inner-form-cont .results-tab {padding: 21px 21px}
.cont-center-inner .inner-form-cont .results-tab .heading { font-size:15px;}
.cont-center-inner .inner-form-cont .results-tab .heading ul { list-style:none;margin: 15px 0; border-bottom: 1px solid #eaeaea; padding-bottom:15px;}
.cont-center-inner .inner-form-cont .results-tab .heading ul .w-40 { width:45%;}
.cont-center-inner .inner-form-cont .results-tab .heading ul li { display:inline-block;color: #000;}

.cont-center-inner .inner-form-cont .results-tab .text {margin: 15px 0; }
.cont-center-inner .inner-form-cont .results-tab .text ul { list-style:none;margin: 15px 0; border-bottom: 1px solid #eaeaea; padding-bottom:10px;}
.cont-center-inner .inner-form-cont .results-tab .text ul .w-40 { width:45%;}
.cont-center-inner .inner-form-cont .results-tab .text ul li { display:inline-block;font-size:12px; color:#7e7e7e;}
.cont-center-inner .inner-form-cont .results-tab .text .text-center {text-align:center;}


.cont-center-inner .inner-form-cont .invite-tab {}
.cont-center-inner .inner-form-cont .invite-tab input { border: 1px solid #959595; background-color: #fff;  height: 40px;  width: 49%; margin: 5px 12px 5px 0;}
.cont-center-inner .inner-form-cont .invite-tab .input-1 {margin-right:0px;}
.cont-center-inner .inner-form-cont .invite-tab .invite-btn { background-color: #4894b8; color: white; margin: 0 auto;  border: 1px solid #91c3dc; cursor: pointer; text-decoration: none; font-size: 13px; background: linear-gradient(to bottom, #5aa5ca 20%, #428db2 100%); width: 150px; height: 30px; display: inline-block;  text-align: center; line-height: 27px;}


.cont-center-inner .inner-form-cont .roster-tab {padding: 21px 21px}
.cont-center-inner .inner-form-cont .roster-tab .heading { font-size:15px;}
.cont-center-inner .inner-form-cont .roster-tab .heading ul { list-style:none;margin: 15px 0; border-bottom: 1px solid #eaeaea; padding-bottom:15px;}
.cont-center-inner .inner-form-cont .roster-tab .heading ul .w-25 { width:25%;}
.cont-center-inner .inner-form-cont .roster-tab .heading ul .w-15 {width:15%;}
.cont-center-inner .inner-form-cont .roster-tab .heading ul li { display:inline-block;color: #000;}

.cont-center-inner .inner-form-cont .roster-tab .text {margin: 15px 0; }
.cont-center-inner .inner-form-cont .roster-tab .text ul { list-style:none;margin: 15px 0; border-bottom: 1px solid #eaeaea; padding-bottom:10px;}
.cont-center-inner .inner-form-cont .roster-tab .text ul .w-25 { width:25%;}
.cont-center-inner .inner-form-cont .roster-tab .text ul .w-15 {width:15%;}
.cont-center-inner .inner-form-cont .roster-tab .text ul li { display:inline-block;font-size:12px; color:#7e7e7e;}
.cont-center-inner .inner-form-cont .roster-tab .text .text-center {text-align:center;}

.cont-center-inner .inner-form-cont .roster-tab .invite-btn { background-color: #4894b8; color: white; margin: 0 auto;  border: 1px solid #91c3dc; cursor: pointer; text-decoration: none; font-size: 13px; background: linear-gradient(to bottom, #5aa5ca 20%, #428db2 100%); width: 150px; height: 30px; display: inline-block;  text-align: center; line-height: 27px;}

.cont-center-inner .inner-form-cont .enter-user-picks { margin:30px 0 0  0;}
.cont-center-inner .inner-form-cont .enter-user-picks label { font-size:15px; margin-right:10px;}
.cont-center-inner .inner-form-cont .enter-user-picks input { background-color:#fff; border:1px solid #464646; width:260px; height:30px;}
.cont-center-inner .inner-form-cont .enter-user-picks .table-box {}
.cont-center-inner .inner-form-cont .enter-user-picks .table-box ul {list-style:none;}
.cont-center-inner .inner-form-cont .enter-user-picks .table-box ul li { display:inline-block; background-color:#ccc; width:49px; height:45px; margin:2px; position:relative;}
.cont-center-inner .inner-form-cont .enter-user-picks .table-box ul .x { display:inline-block; width:49px; height:45px; text-align:center; background-color:#fff;}
.cont-center-inner .inner-form-cont .enter-user-picks .table-box ul .x:before {content:"X"; position: absolute; left:16px; top: 9px;font-weight:bold; color:#6c6c6c; font-size:24px;}
.cont-center-inner .inner-form-cont .enter-user-picks .table-box ul .blank {background-color:#fff;}

.cont-center-inner .inner-form-cont .enter-user-picks .table-box ul .text { text-align: center; background-color: #fff; border: 1px solid; line-height: 40px; margin-bottom: 7px;}

.cont-center-inner .inner-form-cont .choose-squares { margin:30px 0 0  0;}
.cont-center-inner .inner-form-cont .choose-squares .info {color: #8c8c8c; font-size: 16px; margin-bottom: 21px; border-bottom: 1px solid #000;  padding-bottom: 21px;}
.cont-center-inner .inner-form-cont .choose-squares .info-last {color: #8c8c8c; font-size: 16px; margin: 35px 0 0 100px;}
.cont-center-inner .inner-form-cont .choose-squares label { font-size:15px; margin-right:10px;}
.cont-center-inner .inner-form-cont .choose-squares input { background-color:#fff; border:1px solid #464646; width:260px; height:30px;}
.cont-center-inner .inner-form-cont .choose-squares .table-box {}
.cont-center-inner .inner-form-cont .choose-squares .table-box ul {list-style:none; display:table-cell;}
.cont-center-inner .inner-form-cont .choose-squares .table-box ul li { display:inline-block; background-color:#ccc; width:49px; height:45px; margin:2px; position:relative;}
.cont-center-inner .inner-form-cont .choose-squares .table-box ul .x { display:inline-block; width:49px; height:45px; text-align:center; background-color:#fff;}
.cont-center-inner .inner-form-cont .choose-squares .table-box ul .x:before {content:"X"; position: absolute; left:16px; top: 9px;font-weight:bold; color:#6c6c6c; font-size:24px;}
.cont-center-inner .inner-form-cont .choose-squares .table-box ul .blank {background-color:#fff;}
.cont-center-inner .inner-form-cont .choose-squares .table-box ul .text { text-align: center; background-color: #fff; border: 1px solid; line-height: 40px; margin-bottom: 7px;}


.cont-center-inner .inner-form-cont-right {width: 150px; text-align: right;  margin-left: 86px;}
.cont-center-inner .inner-form-cont-right h3 {color: #4893b8;  font-size: 18px; border-bottom:1px solid #f1f1f1; padding-bottom:21px;}
.cont-center-inner .inner-form-cont-right h4 { color:#383838; font-size:12px; font-weight:normal; margin-top:10px; border-bottom:1px solid #f1f1f1; padding-bottom:10px;}
.cont-center-inner .inner-form-cont-right h4 span { color:#383838; font-size:12px; font-weight:bold;}
.cont-center-inner .inner-form-cont-right h5  { color:#489cc5; font-size:12px; font-weight:bold; margin-top:10px; border-bottom:1px solid #f1f1f1; padding-bottom:10px;}
.cont-center-inner .inner-form-cont-right .btn { background-color: #4894b8;color: white; width:150px; height:30px; margin: 0 auto;  border: 1px solid #91c3dc;  cursor: pointer; text-decoration: none;  font-size: 12px;  background: linear-gradient(to bottom, #5aa5ca 20%, #428db2 100%); margin:10px 0 10px 0; font-weight:bold;  display: block;  text-align: center;  line-height: 28px;}
.cont-center-inner .inner-form-cont-right .pool-chat  {width: 150px; border: 1px solid #d9d9d9;  background-color: #fafafa; margin-top: 44px; margin-bottom: 17px;}
.cont-center-inner .inner-form-cont-right .pool-chat h3 { font-size:18px; color:#489cc5; font-weight: normal; padding: 10px;}
.cont-center-inner .inner-form-cont-right .pool-chat h4 { font-size:12px; color:#2f353f;  padding: 10px;}
.cont-center-inner .inner-form-cont-right .pool-chat h4 p { color:#489cc5; font-weight:normal;}
.cont-center-inner .inner-form-cont-right textarea { width: 100%; height: 89px;}





.header-cont .top-main-image {
  background-image:url(../../../assets/images/top-main-image.jpg);
  position: absolute;
  height: 937px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
}
.header-cont .imag-text {
  width: 50%;
  margin-left: 50%;
}
.header-cont .imag-text hr {
  margin: 25px 0 25px 0;
  width: 77%;
}
.header-cont .imag-text h1 {
  font-size:70px;
  font-weight:300;
  color:#fff;
  margin-top: 150px;
}
.header-cont .imag-text h1 span {
  color:#489cc5;
  width: 100%;
  display: block;
}

.header-cont .imag-text h2 {
  font-size:32px;
  font-weight:300;
  color:#fff;
  width: 77%;
  margin-bottom:115px;
}
.header-cont .imag-text h3 {
  font-size:53px;
  font-weight:300;
  color:#fff;
}
.header-cont .top-button {
  text-align:center;
  font-size:21px;
  margin-top:150px;
}
.header-cont .top-button a {
  border: 1px solid #83c7e8;
  color: #fff;
  text-decoration: none;
  margin-left: 40px;
  width: 270px;
  height: 55px;
  display: inline-block;
  line-height: 46px;
}
.header-cont .top-button a:hover {
  border: 1px solid #fff;
  color: #fff;
  background-color:#489cc5;
  text-decoration: none;
  margin-left: 40px;
  width: 270px;
  height: 55px;
  display: inline-block;
  line-height: 46px;
}


.our-pools-bg {
  background-image:url(../../../assets/images/our-pool-bg.png);
  min-height: 937px;
  width: 100%;
  background-repeat: no-repeat;
}

.our-pools {
  min-height:682px;
  text-align:center;
  margin:0 auto;
}
.our-pools h1 {
  font-size:67px;
  color:#000;
  font-weight:300;
  text-transform:uppercase;
  margin:25px 0 25px 0;
}
.our-pools hr {
  width: 60%;
  margin: 0 auto;
  height:2px;
  height: 4px;
  background-color: #000;

}
.our-pools .pools-cont {
  display: inline-block;
  text-align:left;
}
.our-pools .pools-cont .cont-football {
  width:366px;
  float:left;
  margin-left:66px;
  margin-top:62px;

}
.our-pools .pools-cont .cont-football .img {
  height:80px;
  margin-bottom:50px;
}
.our-pools .pools-cont .cont-football .text {font-size:24px; font-weight:300;margin-bottom: 15px;}
.our-pools .pools-cont .cont-football .text:before { background-image:url(../../../assets/images/icon-arrow.png);content: ""; width: 21px; height: 21px;  top: 2px;  right: 0;  position: relative;  display: inline-block;  margin-right: 10px;}
.our-pools .pools-cont .cont-football .btn { width:265px; height:60px; border:1px solid #000; font-size:22px;background: linear-gradient(to bottom, #fdfdfd 20%, #e7e7e7 100%);text-align: center; line-height: 53px;text-decoration: none;  color: #000; display:inline-block; margin-top: 20px;}


.why-premier {text-align:center;margin:0 auto; color:#fff;}
.why-premier-bg {	background-image:url(../../../assets/images/why-premier-bg.png);  height: 747px;  width: 100%;  background-repeat: no-repeat; background-size: 100%;}
.why-premier .imag-text {width: auto;  margin-left: 55%;  text-align: left;  padding-right: 19%;  padding-top: 160px;}
.why-premier h1 { font-size:75px; font-weight: 300;margin-bottom: 30px;}
.why-premier h1 span { color:#4d98bd; font-weight: 300;}
.why-premier h2 { font-size:36px; font-weight: 300; margin-bottom: 25px}



.register-now {margin:0 auto; color:#fff; display:flex; height:450px; width:100%; padding-top:90px;}
.register-now .text { width:50%; text-align:left;margin:0 auto; padding-right:15%;}
.register-now .text h1 { font-size:53px; font-weight:300;color:#4c4b4b;}
.register-now .text h2 { font-size:53px;color:#4c4b4b;}
.register-now .text h3 { font-size:33px; font-weight:300; color:#4c4b4b;}
.register-now .text h4 { font-size:33px; font-weight:300; color:#489cc5;}
.register-now .form { width:700px; text-align:center;}
.register-now .form input { border:1px solid #6b6b6b; background-color:#fff; height:45px; width: 270px; font-size: 18px; padding: 7px; color:#151515;  margin-right:25px; margin-bottom:25px; font-weight:300;}
.register-now .form .btn-register-now { background-color: #4894b8;color: white; text-align:center;  border: 1px solid #91c3dc;  cursor: pointer;  width: 190px; height:40px;  text-decoration: none;  font-size: 16px;  background: linear-gradient(to bottom, #5aa5ca 20%, #428db2 100%); clear:both;  line-height: 35px;  margin: 0 auto}




footer { width:100%;}
footer .cont { width:100%; margin:0 auto; background-color:#489cc5;}
footer .footer-nav { height:157px;  width:1283px; margin: 0 auto;}
footer .footer-nav .logo { float:left; width:50%; padding-top:44px;}
footer .footer-nav .links div {margin-bottom: 18px;}
footer .footer-nav .links { float: left;  width: 50%;  text-align: right;  color: #fff;  padding-top: 44px; font-size:18px;}
footer .footer-nav .links a {color: #FFF; text-decoration: none; margin: 0 5px 0 5px;}
footer .footer-nav .links a:hover {text-decoration:underline;}
footer .copyright { height:64px; background-color:#000; text-align:center; font-weight:300; color:#FFF; font-size: 15px; line-height: 61px;}


//daniyal code

.displayblock {
  display: inline-block;
}

.afterTextClass{
  position: relative;
  top:-19px;
}
