<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
  <!--<title>PREMIER - SPORTS POOLS</title>-->
  <!--<meta charset="utf-8">-->
  <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->

  <!--&lt;!&ndash;<link href="assets/css/style.css" rel="stylesheet" type="text/css" />&ndash;&gt;-->
  <!--<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">-->
  <!--<link href="https://fonts.googleapis.com/css?family=Roboto:100, 300,400,700" rel="stylesheet">-->

  <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->

<!--</head>-->

<!--<body>-->
<!--<p-growl [value]="msgs" [style]="{'position': 'fixed'}"></p-growl>-->
<!--<div class="main-cont">-->
  <!--<div class="header-cont-inner">-->
    <!--<div class="main-logo">-->
      <!--<img (click)="routeTo('/')" src="assets/images/premier-logo.png" width="360" height="86" />-->
    <!--</div>-->
    <!--<div class="top-nav-inner">-->
      <!--<div class="top-s-icons">-->
        <!--<a ><i class="fa fa-facebook-square"></i></a>-->
        <!--<a ><i class="fa fa-twitter-square"></i></a>-->
      <!--</div>-->
      <!--<div class="top-nav-links">-->
        <!--<a (click)="lastPool()" class="active">My Pools</a>-->
        <!--|-->
        <!--<a >My Account</a>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <title>Sign Up - Preimer</title>
  <!--<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">-->
  <!--<link rel="stylesheet" type="text/css" href="assets/css/style.css">-->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

  <!--<link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/themes/omega/theme.css" />-->
  <!--<link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/themes/omega/theme.css" />-->
  <!--<link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/primeng.min.css" />-->

  <script type="text/javascript" src="assets/js/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="assets/js/main.js"></script>
</head>
<body>
<header>
  <div class="container top_logo text-center">
    <a class="btn" (click)="routeTo('/')"><img src="../../../assets/assets/images/logo.png" class="logo"></a>
  </div>
  <div class="header_bottom">
    <div class="container menu_bar">
      <div class="row">
        <div class="col-xs-4">
          <ul class="header_social">
            <li><a href="https://facebook.com/" target="_blank"><i class="fa fa-facebook-square"></i></a></li>
            <li><a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter-square"></i></a></li>
          </ul>
        </div>
        <div class="col-xs-8 text-right">
          <ul class="main_menu">
            <li><a class="btn" (click)="lastPool()"><b>MY POOLS</b></a></li>
            <li><a class="btn" >MY ACCOUNT</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
<p-growl [value]="msgs" [style]="{'position': 'fixed'}"></p-growl>
</body>
</html>
