<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
  <!--<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />-->
  <!--<title>PREMIER - SPORTS POOLS</title>-->

  <!--<link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/themes/omega/theme.css" />-->
  <!--<link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/themes/omega/theme.css" />-->
  <!--<link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/primeng.min.css" />-->

  <!--&lt;!&ndash;<link href="assets/css/style.css" rel="stylesheet" type="text/css" />&ndash;&gt;-->
  <!--<meta name="viewport" content="width=device-width, initial-scale=1" />-->
  <!--<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">-->
  <!--<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700" rel="stylesheet">-->

  <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->

<!--</head>-->

<!--<body>-->
<!--<p-growl [value]="msgs" [style]="{'position': 'fixed'}"></p-growl>-->
<!--<div class="main-cont">-->
  <!--<div class="header-cont-inner">-->
    <!--<ss-header></ss-header>-->
  <!--</div>-->

  <!--<section class="cont-center-inner">-->
    <!--<div class="dis-flex">-->
      <!--<div class="inner-form-cont border-gray-2 bg-color-2" style="padding: 21px 30px; color:#424242; font-size:12px;">-->
        <!--<h3 style="color:#4893b8; font-size:27px; font-weight:400;">{{userName}}</h3>-->
        <!--<hr style="margin: 15px 0; border: 2px solid #eaeaea;"/>-->
        <!--<h4  style="color:#575757; font-size:21px; font-weight:400; text-transform:uppercase; margin-bottom:21px;">{{poolName}}</h4>-->
        <!--<hr style="margin: 15px 0; border: 2px solid #eaeaea;"/>-->
        <!--<h2  style="color:#575757; font-size:26px; font-weight:400; text-transform:uppercase; margin-bottom:21px;">SQUARES POOL Custom Settings</h2>-->
        <!--<h5 style="font-size:19px; text-transform:uppercase; font-weight: normal;">Winner Frequency</h5>-->
        <!--<div><input type="radio" name="options" ng-control="options" [value]="0" [(ngModel)]="options" [attr.disabled]="basket" class="radio-class">-->
          <!--<label>Every Score</label></div>-->
        <!--<div><input type="radio" name="options" ng-control="options" [value]="4" [(ngModel)]="options" [attr.disabled]="basket" class="radio-class">-->
          <!--<label>Every Quarter</label></div>-->
        <!--<div><input type="radio" name="options" ng-control="options" [value]="2" [(ngModel)]="options" [attr.disabled]="basket" class="radio-class">-->
          <!--<label>Every Half </label></div>-->
        <!--<div><input type="radio" name="options" ng-control="options" [value]="1" [(ngModel)]="options" class="radio-class">-->
          <!--<label>Final Score Only </label></div>-->

        <!--<h5 style="font-size:19px; text-transform:uppercase; margin-top:25px; font-weight: normal;">Number Sets</h5>-->
        <!--<div><input type="radio" name="sets" ng-control="sets" [value]="1" [(ngModel)]="sets" class="radio-class">-->
          <!--<label>1 Set</label></div>-->
        <!--<div><input type="radio" name="sets" ng-control="sets" [value]="4" [(ngModel)]="sets" class="radio-class">-->
          <!--<label>4 Sets</label></div>-->

        <!--<form id="poolFrom" name="form" (ngSubmit)="f.form.valid && poolCreate()" #f="ngForm" novalidate>-->

        <!--<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !Max.valid }">-->
        <!--<h5 style="font-size:19px; text-transform:uppercase; margin-top:25px; font-weight: normal;">Maximum Entries</h5>-->
        <!--<input type="text" [(ngModel)]="max" name="max" class="form-control" id="max" placeholder="Enteries"-->
               <!--(keydown.space)="$event.preventDefault()" #Max="ngModel" required-->
               <!--pattern="[0-9]*" maxlength="2">-->
        <!--<div *ngIf="f.submitted && !Max.valid" class="help-block">Enteries is required or should be number</div>-->
        <!--</div>-->

        <!--<label>Enter maxium number of entries per user</label>-->
        <!--<div style=" width: 100%; margin-top: 90px;margin-bottom: 30px;">-->
          <!--<button type="submit" class="submit-btn">Submit Settings</button>-->
          <!--&lt;!&ndash;<a (click)="poolCreate()" class="submit-btn">Submit Settings</a>&ndash;&gt;-->
        <!--</div>-->
        <!--</form>-->

        <!--<div style=" width: 50%;   float: left;">-->
          <!--* Settings can be edited until numbers are generated.-->
        <!--</div>-->
        <!--<div style=" font-size: 20px; width: 50%; float: right; text-align: right;">-->
          <!--<a (click)="routeTo('/pool')"> < Back </a>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div style="width:236px; text-align:right;">-->
        <!--<img src="assets/images/premier-logo-v.png" />-->
      <!--</div>-->

    <!--</div>-->
  <!--</section>-->
  <!--<br />-->
  <!--<br />-->
  <!--<br />-->
  <!--<br />-->
  <!--<br />-->
  <!--<br />-->
  <!--<br />-->

  <!--<footer>-->
    <!--<ss-footer></ss-footer>-->
  <!--</footer>-->

<!--</div>-->
<!--</body>-->
<!--</html>-->


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <title>Create A Pool - Preimer</title>
  <!--<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">-->
  <!--<link rel="stylesheet" type="text/css" href="assets/css/style.css">-->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

  <!--<link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/themes/omega/theme.css" />-->
  <!--<link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/themes/omega/theme.css" />-->
  <!--<link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/primeng.min.css" />-->

  <script type="text/javascript" src="assets/js/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="assets/js/bootstrap.js"></script>
  <script type="text/javascript" src="assets/js/main.js"></script>
</head>
<body>
<header>
  <ss-header></ss-header>
</header>
<p-growl [value]="msgs" [style]="{'position': 'fixed'}"></p-growl>
<section class="sub main-content">
  <div class="container">
    <form id="create_pool_form" class="pool_form step2" name="form"
          (ngSubmit)="f.form.valid && poolCreate()"
          #f="ngForm" novalidate>
      <div class="row">
        <div class="col-sm-9 form_left">
          <h2 class="pool_form_title blue">{{userName}}</h2>
          <hr>
          <h4>{{poolName}}</h4>
          <hr>
          <h3>SQUARES POOL Custom Settings</h3>
          <!--<h4 class="radio_title">Winner Frequency</h4>-->
          <!--<div class="radio">-->
            <!--<label>-->
              <!--<input type="radio" name="options" ng-control="options" [value]="0" [(ngModel)]="options" [attr.disabled]="basket" id="optionsRadios1">-->
              <!--Every Score <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="right" title="Description for this option"></i>-->
            <!--</label>-->
          <!--</div>-->
          <!--<div class="radio">-->
            <!--<label>-->
              <!--<input type="radio" name="options" ng-control="options" [value]="4" [(ngModel)]="options" [attr.disabled]="basket" id="optionsRadios2">-->
              <!--Every Quarter <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="right" title="Description for this option"></i>-->
            <!--</label>-->
          <!--</div>-->
          <!--<div class="radio">-->
            <!--<label>-->
              <!--<input type="radio" name="options" ng-control="options" [value]="2" [(ngModel)]="options" [attr.disabled]="basket" id="optionsRadios3">-->
              <!--Every Half <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="right" title="Description for this option"></i>-->
            <!--</label>-->
          <!--</div>-->
          <!--<div class="radio">-->
            <!--<label>-->
              <!--<input type="radio" name="options" ng-control="options" [value]="1" [(ngModel)]="options" id="optionsRadios4">-->
              <!--Final Score Only <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="right" title="Description for this option"></i>-->
            <!--</label>-->
          <!--</div>-->
          <!--<h4 class="radio_title">Number Sets</h4>-->
          <!--<div class="radio">-->
            <!--<label>-->
              <!--<input type="radio" name="sets" ng-control="sets" [value]="1" [(ngModel)]="sets" id="optionsRadios11">-->
              <!--1 Set <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="right" title="Description for this option"></i>-->
            <!--</label>-->
          <!--</div>-->
          <!--<div class="radio">-->
            <!--<label>-->
              <!--<input type="radio" name="sets" ng-control="sets" [value]="4" [(ngModel)]="sets" id="optionsRadios12">-->
              <!--4 Sets <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="right" title="Description for this option"></i>-->
            <!--</label>-->
          <!--</div>-->
          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !Max.valid }">
          <h4 class="radio_title">Maximum Entries</h4>
          <input type="number" [(ngModel)]="max" name="max" class="form-control" id="max" placeholder="Enteries"
                 (keydown.space)="$event.preventDefault()" #Max="ngModel" required
                 pattern="[0-9]*" maxlength="2">
          <div *ngIf="f.submitted && !Max.valid" class="help-block">Enteries is required or should be number</div>
          </div>
          <p>Enter maxium number of entries per user</p>
          <button type="submit" class="btn">CONTINUE TO SETTINGS</button>
          <p class="small"><i>* Settings can be edited until numbers are generated.</i></p>
          <a href="/pool">< Back</a>
        </div>
        <div class="col-sm-3 form_right">
          <img src="../../../assets/assets/images/vertical-logo.png" class="logo">
        </div>
      </div>
    </form>
  </div>
</section>
<footer>
  <ss-footer></ss-footer>
</footer>
</body>
</html>
