<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
  <!--<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />-->
  <!--<title>PREMIER - SPORTS POOLS</title>-->

  <!--<meta name="viewport" content="width=device-width, initial-scale=1" />-->
  <!--<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">-->
  <!--<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700" rel="stylesheet">-->

  <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->

<!--</head>-->

<!--<body>-->
  <!--<footer>-->
    <!--<div class="cont">-->
      <!--<div class="footer-nav">-->
        <!--<div class="logo"><img src="assets/images/premier-logo-white.png"  /> </div>-->
        <!--<div class="links">-->
          <!--<div>CONTACT US: Info@premiersportspools.com</div>-->
          <!--<div>-->
            <!--<a href="#">Contact</a>-->
            <!--|-->
            <!--<a href="#">FAQ</a>-->
            <!--|-->
            <!--<a href="#">About Preimer</a>-->
            <!--|-->
            <!--<a href="#">Terms of Service</a>-->
            <!--|-->
            <!--<a href="#">Privacy Statement</a>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="cont">-->
      <!--<div class="copyright">© Copyright 2018 Premier Hosting Services. This is not a gambling site.  Use of this site requires requires compliance with all federal, local, and state laws.</div>-->
    <!--</div>-->
  <!--</footer>-->
<!--</body>-->
<!--</html>-->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <title>Sign Up - Preimer</title>
  <!--<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">-->
  <!--<link rel="stylesheet" type="text/css" href="assets/css/style.css">-->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

  <script type="text/javascript" src="assets/js/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="assets/js/main.js"></script>
</head>
<body>
<footer>
  <div class="footer_top container">
    <div class="row">
      <div class="col-md-4 col-sm-4 footer_top_section">
        <a class="btn" (click)="routeTo('/')"><img src="../../../assets/assets/images/logo_white.png" class="logo"></a>
      </div>
      <div class="col-md-8 col-sm-8 footer_bottom_section">
        <p>CONTACT US: <a href="mailto: Info@premiersportspools.com">Info@premiersportspools.com</a></p>
        <ul class="footer_menu">
          <li><a class="btn">Contact</a></li>
          <li><a class="btn">FAQ</a></li>
          <li><a class="btn">About Preimer</a></li>
          <li><a class="btn">Terms of Service</a></li>
          <li><a class="btn">Privacy Statement</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer_bottom">
    <div class="container text-center">
      <p class="small">© Copyright 2018 Premier Hosting Services. This is not a gambling site.  Use of this site requires compliance with all federal, local, and state laws.</p>
    </div>
  </div>
</footer>
</body>
</html>
