<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <title>Set A Square - Preimer</title>
  <!--<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">-->
  <!--<link rel="stylesheet" type="text/css" href="assets/css/style.css">-->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

  <!--<link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/themes/omega/theme.css" />-->
  <!--<link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/themes/omega/theme.css" />-->
  <!--<link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/primeng.min.css" />-->

  <script type="text/javascript" src="assets/js/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="assets/js/main.js"></script>
</head>
<body>
<header>
  <ss-header></ss-header>
</header>
<p-growl [value]="msgs" [style]="{'position': 'fixed'}"></p-growl>
<section class="sub main-content">
  <div class="container">
    <div class="row">
      <div class="col-sm-9">
        <div class="square_set">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#choosesquare" aria-controls="home" role="tab" data-toggle="tab">Choose Squares</a></li>
            <li role="presentation"><a href="#perimerlive" aria-controls="profile" role="tab" data-toggle="tab">Preimer Live</a></li>
            <li role="presentation"><a href="#results" aria-controls="messages" role="tab" data-toggle="tab">Results</a></li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="choosesquare">
              Select up to X squares - Numbers will randomly generate when the commissioner locks the grid. Click to select a square, click again to deselect.
              <hr>
              <div class="user_picks">
                Display Name <input type="text" [(ngModel)]="displayName" name="displayName"
                                    (change)="onDisSearchChange($event.target.value)" placeholder="Jimmy Johnson">
              </div>
              <div class="user_picks">
                Display Abbreviation (Up to 3 Letters)
                <input type="text" [(ngModel)]="shortName" maxlength="3" pattern="[a-zA-Z][a-zA-Z ]+"
                       name="shortName" (change)="onSearchChange($event.target.value)" placeholder="JJJ" style="width:100px;">

              </div>
              <div class="top_title1">
                <h3 class="text-center table_top_title">HOME TEAM</h3>
                <table class="table table-responsive">

                  <tr>

                    <td class="border_top border_left"></td>
                    <td class="border_top"><span class="text">X</span></td>
                    <td class="border_top"><span class="text">X</span></td>
                    <td class="border_top"><span class="text">X</span></td>
                    <td class="border_top"><span class="text">X</span></td>
                    <td class="border_top"><span class="text">X</span></td>
                    <td class="border_top"><span class="text">X</span></td>
                    <td class="border_top"><span class="text">X</span></td>
                    <td class="border_top"><span class="text">X</span></td>
                    <td class="border_top"><span class="text">X</span></td>
                    <td class="border_top"><span class="text">X</span></td>
                  </tr>
                  <tr>
                    <td class="border_left">X</td>
                    <td *ngIf="item[1] == ' '"><span (click)="getVal($event.target)" index="1" value="">{{item[1]}}</span></td>
                    <td *ngIf="item[1] != ' '"><span (click)="getVal($event.target)" index="1" value="" class="active">{{item[1]}}</span></td>
                    <td *ngIf="item[11] == ' '"><span (click)="getVal($event.target)" index="11" value="">{{item[11]}}</span></td>
                    <td *ngIf="item[11] != ' '"><span (click)="getVal($event.target)" index="11" value="" class="active">{{item[11]}}</span></td>
                    <td *ngIf="item[21] == ' '"><span (click)="getVal($event.target)" index="21" value="">{{item[21]}}</span></td>
                    <td *ngIf="item[21] != ' '"><span (click)="getVal($event.target)" index="21" value="" class="active">{{item[21]}}</span></td>
                    <td *ngIf="item[31] == ' '"><span (click)="getVal($event.target)" index="31" value="">{{item[31]}}</span></td>
                    <td *ngIf="item[31] != ' '"><span (click)="getVal($event.target)" index="31" value="" class="active">{{item[31]}}</span></td>
                    <td *ngIf="item[41] == ' '"><span (click)="getVal($event.target)" index="41" value="">{{item[41]}}</span></td>
                    <td *ngIf="item[41] != ' '"><span (click)="getVal($event.target)" index="41" value="" class="active">{{item[41]}}</span></td>
                    <td *ngIf="item[51] == ' '"><span (click)="getVal($event.target)" index="51" value="">{{item[51]}}</span></td>
                    <td *ngIf="item[51] != ' '"><span (click)="getVal($event.target)" index="51" value="" class="active">{{item[51]}}</span></td>
                    <td *ngIf="item[61] == ' '"><span (click)="getVal($event.target)" index="61" value="">{{item[61]}}</span></td>
                    <td *ngIf="item[61] != ' '"><span (click)="getVal($event.target)" index="61" value="" class="active">{{item[61]}}</span></td>
                    <td *ngIf="item[71] == ' '"><span (click)="getVal($event.target)" index="71" value="">{{item[71]}}</span></td>
                    <td *ngIf="item[71] != ' '"><span (click)="getVal($event.target)" index="71" value="" class="active">{{item[71]}}</span></td>
                    <td *ngIf="item[81] == ' '"><span (click)="getVal($event.target)" index="81" value="">{{item[81]}}</span></td>
                    <td *ngIf="item[81] != ' '"><span (click)="getVal($event.target)" index="81" value="" class="active">{{item[81]}}</span></td>
                    <td *ngIf="item[91] == ' '"><span (click)="getVal($event.target)" index="91" value="">{{item[91]}}</span></td>
                    <td *ngIf="item[91] != ' '"><span (click)="getVal($event.target)" index="91" value="" class="active">{{item[91]}}</span></td>
                  </tr>
                  <tr>
                    <td class="border_left">X</td>
                    <td *ngIf="item[2] == ' '"><span (click)="getVal($event.target)" index="2" value="">{{item[2]}}</span></td>
                    <td *ngIf="item[2] != ' '"><span (click)="getVal($event.target)" index="2" value="" class="active">{{item[2]}}</span></td>
                    <td *ngIf="item[12] == ' '"><span (click)="getVal($event.target)" index="12" value="">{{item[12]}}</span></td>
                    <td *ngIf="item[12] != ' '"><span (click)="getVal($event.target)" index="12" value="" class="active">{{item[12]}}</span></td>
                    <td *ngIf="item[22] == ' '"><span (click)="getVal($event.target)" index="22" value="">{{item[22]}}</span></td>
                    <td *ngIf="item[22] != ' '"><span (click)="getVal($event.target)" index="22" value="" class="active">{{item[22]}}</span></td>
                    <td *ngIf="item[32] == ' '"><span (click)="getVal($event.target)" index="32" value="">{{item[32]}}</span></td>
                    <td *ngIf="item[32] != ' '"><span (click)="getVal($event.target)" index="32" value="" class="active">{{item[32]}}</span></td>
                    <td *ngIf="item[42] == ' '"><span (click)="getVal($event.target)" index="42" value="">{{item[42]}}</span></td>
                    <td *ngIf="item[42] != ' '"><span (click)="getVal($event.target)" index="42" value="" class="active">{{item[42]}}</span></td>
                    <td *ngIf="item[52] == ' '"><span (click)="getVal($event.target)" index="52" value="">{{item[52]}}</span></td>
                    <td *ngIf="item[52] != ' '"><span (click)="getVal($event.target)" index="52" value="" class="active">{{item[52]}}</span></td>
                    <td *ngIf="item[62] == ' '"><span (click)="getVal($event.target)" index="62" value="">{{item[62]}}</span></td>
                    <td *ngIf="item[62] != ' '"><span (click)="getVal($event.target)" index="62" value="" class="active">{{item[62]}}</span></td>
                    <td *ngIf="item[72] == ' '"><span (click)="getVal($event.target)" index="72" value="">{{item[72]}}</span></td>
                    <td *ngIf="item[72] != ' '"><span (click)="getVal($event.target)" index="72" value="" class="active">{{item[72]}}</span></td>
                    <td *ngIf="item[82] == ' '"><span (click)="getVal($event.target)" index="82" value="">{{item[82]}}</span></td>
                    <td *ngIf="item[82] != ' '"><span (click)="getVal($event.target)" index="82" value="" class="active">{{item[82]}}</span></td>
                    <td *ngIf="item[92] == ' '"><span (click)="getVal($event.target)" index="92" value="">{{item[92]}}</span></td>
                    <td *ngIf="item[92] != ' '"><span (click)="getVal($event.target)" index="92" value="" class="active">{{item[92]}}</span></td>
                  </tr>
                  <tr>
                    <td class="border_left">X</td>
                    <td *ngIf="item[3] == ' '"><span (click)="getVal($event.target)" index="3" value="">{{item[3]}}</span></td>
                    <td *ngIf="item[3] != ' '"><span (click)="getVal($event.target)" index="3" value="" class="active">{{item[3]}}</span></td>
                    <td *ngIf="item[13] == ' '"><span (click)="getVal($event.target)" index="13" value="">{{item[13]}}</span></td>
                    <td *ngIf="item[13] != ' '"><span (click)="getVal($event.target)" index="13" value="" class="active">{{item[13]}}</span></td>
                    <td *ngIf="item[23] == ' '"><span (click)="getVal($event.target)" index="23" value="">{{item[23]}}</span></td>
                    <td *ngIf="item[23] != ' '"><span (click)="getVal($event.target)" index="23" value="" class="active">{{item[23]}}</span></td>
                    <td *ngIf="item[33] == ' '"><span (click)="getVal($event.target)" index="33" value="">{{item[33]}}</span></td>
                    <td *ngIf="item[33] != ' '"><span (click)="getVal($event.target)" index="33" value="" class="active">{{item[33]}}</span></td>
                    <td *ngIf="item[43] == ' '"><span (click)="getVal($event.target)" index="43" value="">{{item[43]}}</span></td>
                    <td *ngIf="item[43] != ' '"><span (click)="getVal($event.target)" index="43" value="" class="active">{{item[43]}}</span></td>
                    <td *ngIf="item[53] == ' '"><span (click)="getVal($event.target)" index="53" value="">{{item[53]}}</span></td>
                    <td *ngIf="item[53] != ' '"><span (click)="getVal($event.target)" index="53" value="" class="active">{{item[53]}}</span></td>
                    <td *ngIf="item[63] == ' '"><span (click)="getVal($event.target)" index="63" value="">{{item[63]}}</span></td>
                    <td *ngIf="item[63] != ' '"><span (click)="getVal($event.target)" index="63" value="" class="active">{{item[63]}}</span></td>
                    <td *ngIf="item[73] == ' '"><span (click)="getVal($event.target)" index="73" value="">{{item[73]}}</span></td>
                    <td *ngIf="item[73] != ' '"><span (click)="getVal($event.target)" index="73" value="" class="active">{{item[73]}}</span></td>
                    <td *ngIf="item[83] == ' '"><span (click)="getVal($event.target)" index="83" value="">{{item[83]}}</span></td>
                    <td *ngIf="item[83] != ' '"><span (click)="getVal($event.target)" index="83" value="" class="active">{{item[83]}}</span></td>
                    <td *ngIf="item[93] == ' '"><span (click)="getVal($event.target)" index="93" value="">{{item[93]}}</span></td>
                    <td *ngIf="item[93] != ' '"><span (click)="getVal($event.target)" index="93" value="" class="active">{{item[93]}}</span></td>
                  </tr>
                  <tr>
                    <td class="border_left">X</td>
                    <td *ngIf="item[4] == ' '"><span (click)="getVal($event.target)" index="4" value="">{{item[4]}}</span></td>
                    <td *ngIf="item[4] != ' '"><span (click)="getVal($event.target)" index="4" value="" class="active">{{item[4]}}</span></td>
                    <td *ngIf="item[14] == ' '"><span (click)="getVal($event.target)" index="14" value="">{{item[14]}}</span></td>
                    <td *ngIf="item[14] != ' '"><span (click)="getVal($event.target)" index="14" value="" class="active">{{item[14]}}</span></td>
                    <td *ngIf="item[24] == ' '"><span (click)="getVal($event.target)" index="24" value="">{{item[24]}}</span></td>
                    <td *ngIf="item[24] != ' '"><span (click)="getVal($event.target)" index="24" value="" class="active">{{item[24]}}</span></td>
                    <td *ngIf="item[34] == ' '"><span (click)="getVal($event.target)" index="34" value="">{{item[34]}}</span></td>
                    <td *ngIf="item[34] != ' '"><span (click)="getVal($event.target)" index="34" value="" class="active">{{item[34]}}</span></td>
                    <td *ngIf="item[44] == ' '"><span (click)="getVal($event.target)" index="44" value="">{{item[44]}}</span></td>
                    <td *ngIf="item[44] != ' '"><span (click)="getVal($event.target)" index="44" value="" class="active">{{item[44]}}</span></td>
                    <td *ngIf="item[54] == ' '"><span (click)="getVal($event.target)" index="54" value="">{{item[54]}}</span></td>
                    <td *ngIf="item[54] != ' '"><span (click)="getVal($event.target)" index="54" value="" class="active">{{item[54]}}</span></td>
                    <td *ngIf="item[64] == ' '"><span (click)="getVal($event.target)" index="64" value="">{{item[64]}}</span></td>
                    <td *ngIf="item[64] != ' '"><span (click)="getVal($event.target)" index="64" value="" class="active">{{item[64]}}</span></td>
                    <td *ngIf="item[74] == ' '"><span (click)="getVal($event.target)" index="74" value="">{{item[74]}}</span></td>
                    <td *ngIf="item[74] != ' '"><span (click)="getVal($event.target)" index="74" value="" class="active">{{item[74]}}</span></td>
                    <td *ngIf="item[84] == ' '"><span (click)="getVal($event.target)" index="84" value="">{{item[84]}}</span></td>
                    <td *ngIf="item[84] != ' '"><span (click)="getVal($event.target)" index="84" value="" class="active">{{item[84]}}</span></td>
                    <td *ngIf="item[94] == ' '"><span (click)="getVal($event.target)" index="94" value="">{{item[94]}}</span></td>
                    <td *ngIf="item[94] != ' '"><span (click)="getVal($event.target)" index="94" value="" class="active">{{item[94]}}</span></td>
                  </tr>
                  <tr>
                    <td class="border_left">X</td>
                    <td *ngIf="item[5] == ' '"><span (click)="getVal($event.target)" index="5" value="">{{item[5]}}</span></td>
                    <td *ngIf="item[5] != ' '"><span (click)="getVal($event.target)" index="5" value="" class="active">{{item[5]}}</span></td>
                    <td *ngIf="item[15] == ' '"><span (click)="getVal($event.target)" index="15" value="">{{item[15]}}</span></td>
                    <td *ngIf="item[15] != ' '"><span (click)="getVal($event.target)" index="15" value="" class="active">{{item[15]}}</span></td>
                    <td *ngIf="item[25] == ' '"><span (click)="getVal($event.target)" index="25" value="">{{item[25]}}</span></td>
                    <td *ngIf="item[25] != ' '"><span (click)="getVal($event.target)" index="25" value="" class="active">{{item[25]}}</span></td>
                    <td *ngIf="item[35] == ' '"><span (click)="getVal($event.target)" index="35" value="">{{item[35]}}</span></td>
                    <td *ngIf="item[35] != ' '"><span (click)="getVal($event.target)" index="35" value="" class="active">{{item[35]}}</span></td>
                    <td *ngIf="item[45] == ' '"><span (click)="getVal($event.target)" index="45" value="">{{item[45]}}</span></td>
                    <td *ngIf="item[45] != ' '"><span (click)="getVal($event.target)" index="45" value="" class="active">{{item[45]}}</span></td>
                    <td *ngIf="item[55] == ' '"><span (click)="getVal($event.target)" index="55" value="">{{item[55]}}</span></td>
                    <td *ngIf="item[55] != ' '"><span (click)="getVal($event.target)" index="55" value="" class="active">{{item[55]}}</span></td>
                    <td *ngIf="item[65] == ' '"><span (click)="getVal($event.target)" index="65" value="">{{item[65]}}</span></td>
                    <td *ngIf="item[65] != ' '"><span (click)="getVal($event.target)" index="65" value="" class="active">{{item[65]}}</span></td>
                    <td *ngIf="item[75] == ' '"><span (click)="getVal($event.target)" index="75" value="">{{item[75]}}</span></td>
                    <td *ngIf="item[75] != ' '"><span (click)="getVal($event.target)" index="75" value="" class="active">{{item[75]}}</span></td>
                    <td *ngIf="item[85] == ' '"><span (click)="getVal($event.target)" index="85" value="">{{item[85]}}</span></td>
                    <td *ngIf="item[85] != ' '"><span (click)="getVal($event.target)" index="85" value="" class="active">{{item[85]}}</span></td>
                    <td *ngIf="item[95] == ' '"><span (click)="getVal($event.target)" index="95" value="">{{item[95]}}</span></td>
                    <td *ngIf="item[95] != ' '"><span (click)="getVal($event.target)" index="95" value="" class="active">{{item[95]}}</span></td>
                  </tr>
                  <tr>
                    <td class="border_left">X</td>
                    <td *ngIf="item[6] == ' '"><span (click)="getVal($event.target)" index="6" value="">{{item[6]}}</span></td>
                    <td *ngIf="item[6] != ' '"><span (click)="getVal($event.target)" index="6" value="" class="active">{{item[6]}}</span></td>
                    <td *ngIf="item[16] == ' '"><span (click)="getVal($event.target)" index="16" value="">{{item[16]}}</span></td>
                    <td *ngIf="item[16] != ' '"><span (click)="getVal($event.target)" index="16" value="" class="active">{{item[16]}}</span></td>
                    <td *ngIf="item[26] == ' '"><span (click)="getVal($event.target)" index="26" value="">{{item[26]}}</span></td>
                    <td *ngIf="item[26] != ' '"><span (click)="getVal($event.target)" index="26" value="" class="active">{{item[26]}}</span></td>
                    <td *ngIf="item[36] == ' '"><span (click)="getVal($event.target)" index="36" value="">{{item[36]}}</span></td>
                    <td *ngIf="item[36] != ' '"><span (click)="getVal($event.target)" index="36" value="" class="active">{{item[36]}}</span></td>
                    <td *ngIf="item[46] == ' '"><span (click)="getVal($event.target)" index="46" value="">{{item[46]}}</span></td>
                    <td *ngIf="item[46] != ' '"><span (click)="getVal($event.target)" index="46" value="" class="active">{{item[46]}}</span></td>
                    <td *ngIf="item[56] == ' '"><span (click)="getVal($event.target)" index="56" value="">{{item[56]}}</span></td>
                    <td *ngIf="item[56] != ' '"><span (click)="getVal($event.target)" index="56" value="" class="active">{{item[56]}}</span></td>
                    <td *ngIf="item[66] == ' '"><span (click)="getVal($event.target)" index="66" value="">{{item[66]}}</span></td>
                    <td *ngIf="item[66] != ' '"><span (click)="getVal($event.target)" index="66" value="" class="active">{{item[66]}}</span></td>
                    <td *ngIf="item[76] == ' '"><span (click)="getVal($event.target)" index="76" value="">{{item[76]}}</span></td>
                    <td *ngIf="item[76] != ' '"><span (click)="getVal($event.target)" index="76" value="" class="active">{{item[76]}}</span></td>
                    <td *ngIf="item[86] == ' '"><span (click)="getVal($event.target)" index="86" value="">{{item[86]}}</span></td>
                    <td *ngIf="item[86] != ' '"><span (click)="getVal($event.target)" index="86" value="" class="active">{{item[86]}}</span></td>
                    <td *ngIf="item[96] == ' '"><span (click)="getVal($event.target)" index="96" value="">{{item[96]}}</span></td>
                    <td *ngIf="item[96] != ' '"><span (click)="getVal($event.target)" index="96" value="" class="active">{{item[96]}}</span></td>
                  </tr>
                  <tr>
                    <td class="border_left">X</td>
                    <td *ngIf="item[7] == ' '"><span (click)="getVal($event.target)" index="7" value="">{{item[7]}}</span></td>
                    <td *ngIf="item[7] != ' '"><span (click)="getVal($event.target)" index="7" value="" class="active">{{item[7]}}</span></td>
                    <td *ngIf="item[17] == ' '"><span (click)="getVal($event.target)" index="17" value="">{{item[17]}}</span></td>
                    <td *ngIf="item[17] != ' '"><span (click)="getVal($event.target)" index="17" value="" class="active">{{item[17]}}</span></td>
                    <td *ngIf="item[27] == ' '"><span (click)="getVal($event.target)" index="27" value="">{{item[27]}}</span></td>
                    <td *ngIf="item[27] != ' '"><span (click)="getVal($event.target)" index="27" value="" class="active">{{item[27]}}</span></td>
                    <td *ngIf="item[37] == ' '"><span (click)="getVal($event.target)" index="37" value="">{{item[37]}}</span></td>
                    <td *ngIf="item[37] != ' '"><span (click)="getVal($event.target)" index="37" value="" class="active">{{item[37]}}</span></td>
                    <td *ngIf="item[47] == ' '"><span (click)="getVal($event.target)" index="47" value="">{{item[47]}}</span></td>
                    <td *ngIf="item[47] != ' '"><span (click)="getVal($event.target)" index="47" value="" class="active">{{item[47]}}</span></td>
                    <td *ngIf="item[57] == ' '"><span (click)="getVal($event.target)" index="57" value="">{{item[57]}}</span></td>
                    <td *ngIf="item[57] != ' '"><span (click)="getVal($event.target)" index="57" value="" class="active">{{item[57]}}</span></td>
                    <td *ngIf="item[67] == ' '"><span (click)="getVal($event.target)" index="67" value="">{{item[67]}}</span></td>
                    <td *ngIf="item[67] != ' '"><span (click)="getVal($event.target)" index="67" value="" class="active">{{item[67]}}</span></td>
                    <td *ngIf="item[77] == ' '"><span (click)="getVal($event.target)" index="77" value="">{{item[77]}}</span></td>
                    <td *ngIf="item[77] != ' '"><span (click)="getVal($event.target)" index="77" value="" class="active">{{item[77]}}</span></td>
                    <td *ngIf="item[87] == ' '"><span (click)="getVal($event.target)" index="87" value="">{{item[87]}}</span></td>
                    <td *ngIf="item[87] != ' '"><span (click)="getVal($event.target)" index="87" value="" class="active">{{item[87]}}</span></td>
                    <td *ngIf="item[97] == ' '"><span (click)="getVal($event.target)" index="97" value="">{{item[97]}}</span></td>
                    <td *ngIf="item[97] != ' '"><span (click)="getVal($event.target)" index="97" value="" class="active">{{item[97]}}</span></td>
                  </tr>
                  <tr>
                    <td class="border_left">X</td>
                    <td *ngIf="item[8] == ' '"><span (click)="getVal($event.target)" index="8" value="">{{item[8]}}</span></td>
                    <td *ngIf="item[8] != ' '"><span (click)="getVal($event.target)" index="8" value="" class="active">{{item[8]}}</span></td>
                    <td *ngIf="item[18] == ' '"><span (click)="getVal($event.target)" index="18" value="">{{item[18]}}</span></td>
                    <td *ngIf="item[18] != ' '"><span (click)="getVal($event.target)" index="18" value="" class="active">{{item[18]}}</span></td>
                    <td *ngIf="item[28] == ' '"><span (click)="getVal($event.target)" index="28" value="">{{item[28]}}</span></td>
                    <td *ngIf="item[28] != ' '"><span (click)="getVal($event.target)" index="28" value="" class="active">{{item[28]}}</span></td>
                    <td *ngIf="item[38] == ' '"><span (click)="getVal($event.target)" index="38" value="">{{item[38]}}</span></td>
                    <td *ngIf="item[38] != ' '"><span (click)="getVal($event.target)" index="38" value="" class="active">{{item[38]}}</span></td>
                    <td *ngIf="item[48] == ' '"><span (click)="getVal($event.target)" index="48" value="">{{item[48]}}</span></td>
                    <td *ngIf="item[48] != ' '"><span (click)="getVal($event.target)" index="48" value="" class="active">{{item[48]}}</span></td>
                    <td *ngIf="item[58] == ' '"><span (click)="getVal($event.target)" index="58" value="">{{item[58]}}</span></td>
                    <td *ngIf="item[58] != ' '"><span (click)="getVal($event.target)" index="58" value="" class="active">{{item[58]}}</span></td>
                    <td *ngIf="item[68] == ' '"><span (click)="getVal($event.target)" index="68" value="">{{item[68]}}</span></td>
                    <td *ngIf="item[68] != ' '"><span (click)="getVal($event.target)" index="68" value="" class="active">{{item[68]}}</span></td>
                    <td *ngIf="item[78] == ' '"><span (click)="getVal($event.target)" index="78" value="">{{item[78]}}</span></td>
                    <td *ngIf="item[78] != ' '"><span (click)="getVal($event.target)" index="78" value="" class="active">{{item[78]}}</span></td>
                    <td *ngIf="item[88] == ' '"><span (click)="getVal($event.target)" index="88" value="">{{item[88]}}</span></td>
                    <td *ngIf="item[88] != ' '"><span (click)="getVal($event.target)" index="88" value="" class="active">{{item[88]}}</span></td>
                    <td *ngIf="item[98] == ' '"><span (click)="getVal($event.target)" index="98" value="">{{item[98]}}</span></td>
                    <td *ngIf="item[98] != ' '"><span (click)="getVal($event.target)" index="98" value="" class="active">{{item[98]}}</span></td>
                  </tr>
                  <tr>
                    <td class="border_left">X</td>
                    <td *ngIf="item[9] == ' '"><span (click)="getVal($event.target)" index="9" value="">{{item[9]}}</span></td>
                    <td *ngIf="item[9] != ' '"><span (click)="getVal($event.target)" index="9" value="" class="active">{{item[9]}}</span></td>
                    <td *ngIf="item[19] == ' '"><span (click)="getVal($event.target)" index="19" value="">{{item[19]}}</span></td>
                    <td *ngIf="item[19] != ' '"><span (click)="getVal($event.target)" index="19" value="" class="active">{{item[19]}}</span></td>
                    <td *ngIf="item[29] == ' '"><span (click)="getVal($event.target)" index="29" value="">{{item[29]}}</span></td>
                    <td *ngIf="item[29] != ' '"><span (click)="getVal($event.target)" index="29" value="" class="active">{{item[29]}}</span></td>
                    <td *ngIf="item[39] == ' '"><span (click)="getVal($event.target)" index="39" value="">{{item[39]}}</span></td>
                    <td *ngIf="item[39] != ' '"><span (click)="getVal($event.target)" index="39" value="" class="active">{{item[39]}}</span></td>
                    <td *ngIf="item[49] == ' '"><span (click)="getVal($event.target)" index="49" value="">{{item[49]}}</span></td>
                    <td *ngIf="item[49] != ' '"><span (click)="getVal($event.target)" index="49" value="" class="active">{{item[49]}}</span></td>
                    <td *ngIf="item[59] == ' '"><span (click)="getVal($event.target)" index="59" value="">{{item[59]}}</span></td>
                    <td *ngIf="item[59] != ' '"><span (click)="getVal($event.target)" index="59" value="" class="active">{{item[59]}}</span></td>
                    <td *ngIf="item[69] == ' '"><span (click)="getVal($event.target)" index="69" value="">{{item[69]}}</span></td>
                    <td *ngIf="item[69] != ' '"><span (click)="getVal($event.target)" index="69" value="" class="active">{{item[69]}}</span></td>
                    <td *ngIf="item[79] == ' '"><span (click)="getVal($event.target)" index="79" value="">{{item[79]}}</span></td>
                    <td *ngIf="item[79] != ' '"><span (click)="getVal($event.target)" index="79" value="" class="active">{{item[79]}}</span></td>
                    <td *ngIf="item[89] == ' '"><span (click)="getVal($event.target)" index="89" value="">{{item[89]}}</span></td>
                    <td *ngIf="item[89] != ' '"><span (click)="getVal($event.target)" index="89" value="" class="active">{{item[89]}}</span></td>
                    <td *ngIf="item[99] == ' '"><span (click)="getVal($event.target)" index="99" value="">{{item[99]}}</span></td>
                    <td *ngIf="item[99] != ' '"><span (click)="getVal($event.target)" index="99" value="" class="active">{{item[99]}}</span></td>
                  </tr>
                  <tr>
                    <td class="border_left">X</td>
                    <td *ngIf="item[10] == ' '"><span (click)="getVal($event.target)" index="10" value="">{{item[10]}}</span></td>
                    <td *ngIf="item[10] != ' '"><span (click)="getVal($event.target)" index="10" value="" class="active">{{item[10]}}</span></td>
                    <td *ngIf="item[20] == ' '"><span (click)="getVal($event.target)" index="20" value="">{{item[20]}}</span></td>
                    <td *ngIf="item[20] != ' '"><span (click)="getVal($event.target)" index="20" value="" class="active">{{item[20]}}</span></td>
                    <td *ngIf="item[30] == ' '"><span (click)="getVal($event.target)" index="30" value="">{{item[30]}}</span></td>
                    <td *ngIf="item[30] != ' '"><span (click)="getVal($event.target)" index="30" value="" class="active">{{item[30]}}</span></td>
                    <td *ngIf="item[40] == ' '"><span (click)="getVal($event.target)" index="40" value="">{{item[40]}}</span></td>
                    <td *ngIf="item[40] != ' '"><span (click)="getVal($event.target)" index="40" value="" class="active">{{item[40]}}</span></td>
                    <td *ngIf="item[50] == ' '"><span (click)="getVal($event.target)" index="50" value="">{{item[50]}}</span></td>
                    <td *ngIf="item[50] != ' '"><span (click)="getVal($event.target)" index="50" value="" class="active">{{item[50]}}</span></td>
                    <td *ngIf="item[60] == ' '"><span (click)="getVal($event.target)" index="60" value="">{{item[60]}}</span></td>
                    <td *ngIf="item[60] != ' '"><span (click)="getVal($event.target)" index="60" value="" class="active">{{item[60]}}</span></td>
                    <td *ngIf="item[70] == ' '"><span (click)="getVal($event.target)" index="70" value="">{{item[70]}}</span></td>
                    <td *ngIf="item[70] != ' '"><span (click)="getVal($event.target)" index="70" value="" class="active">{{item[70]}}</span></td>
                    <td *ngIf="item[80] == ' '"><span (click)="getVal($event.target)" index="80" value="">{{item[80]}}</span></td>
                    <td *ngIf="item[80] != ' '"><span (click)="getVal($event.target)" index="80" value="" class="active">{{item[80]}}</span></td>
                    <td *ngIf="item[90] == ' '"><span (click)="getVal($event.target)" index="90" value="">{{item[90]}}</span></td>
                    <td *ngIf="item[90] != ' '"><span (click)="getVal($event.target)" index="90" value="" class="active">{{item[90]}}</span></td>
                    <td *ngIf="item[100] == ' '"><span (click)="getVal($event.target)" index="100" value="">{{item[100]}}</span></td>
                    <td *ngIf="item[100] != ' '"><span (click)="getVal($event.target)" index="100" value="" class="active">{{item[100]}}</span></td>
                  </tr>
                </table>
                <p>Choose upt to X more squares</p>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="perimerlive">
              <table class="table table-responsive table1">
                <tbody>
                <tr>
                  <td class="light"></td>
                  <td>1Q</td>
                  <td>2Q</td>
                  <td>3Q</td>
                  <td>4Q</td>
                  <td>F</td>
                </tr>
                <tr>
                  <td class="light">Minnesota</td>
                  <td>7</td>
                  <td>21</td>
                  <td>3</td>
                  <td></td>
                  <td>31</td>
                </tr>
                <tr>
                  <td class="light">New England</td>
                  <td>3</td>
                  <td>14</td>
                  <td>7</td>
                  <td></td>
                  <td>24</td>
                </tr>
                </tbody>
              </table>
              <p class="text-uppercase"><b class="red">Scoring play!</b>  TOuchdown New England<br><br></p>
              <div class="sub_tab">

                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                  <li role="presentation" class="active"><a href="#first" aria-controls="first" role="tab" data-toggle="tab">1st Quarter</a></li>
                  <li role="presentation"><a href="#second" aria-controls="second" role="tab" data-toggle="tab">2nd Quarter</a></li>
                  <li role="presentation"><a href="#third" aria-controls="third" role="tab" data-toggle="tab">3rd Quarter</a></li>
                  <li role="presentation"><a href="#final" aria-controls="final" role="tab" data-toggle="tab">Final</a></li>
                  <li role="presentation"><a href="#all" aria-controls="all" role="tab" data-toggle="tab">All</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                  <div role="tabpanel" class="tab-pane active" id="first">

                  </div>
                  <div role="tabpanel" class="tab-pane" id="second">...</div>
                  <div role="tabpanel" class="tab-pane" id="third">
                    <div class="top_title2">
                      <h3 class="text-center table_top_title">NEW ENGLAND</h3>
                      <table class="table table-responsive">

                        <tr>

                          <td class=""></td>
                          <td class="">6</td>
                          <td class="">2</td>
                          <td class="">7</td>
                          <td class="">9</td>
                          <td class="">4</td>
                          <td class="">0</td>
                          <td class="">3</td>
                          <td class="">1</td>
                          <td class="">8</td>
                          <td class="">5</td>
                        </tr>
                        <tr>
                          <td class="">7</td>
                          <td>MC</td>
                          <td>JS</td>
                          <td>JB</td>
                          <td>MC</td>
                          <td class="score">MC</td>
                          <td>MC</td>
                          <td>JB</td>
                          <td>JB</td>
                          <td>MC</td>
                          <td>JB</td>
                        </tr>
                        <tr>
                          <td class="">3</td>
                          <td>JB</td>
                          <td>DV</td>
                          <td>MC</td>
                          <td>AN</td>
                          <td>JB</td>
                          <td>JB</td>
                          <td>MC</td>
                          <td>DV</td>
                          <td>AN</td>
                          <td>MC</td>
                        </tr>
                        <tr>
                          <td class="">4</td>
                          <td>DV</td>
                          <td>AN</td>
                          <td>JB</td>
                          <td>MC</td>
                          <td class="score">DV</td>
                          <td>DV</td>
                          <td>JB</td>
                          <td>AV</td>
                          <td>MC</td>
                          <td>JB</td>
                        </tr>
                        <tr>
                          <td class="">6</td>
                          <td class="score">AN</td>
                          <td>MC</td>
                          <td>DV</td>
                          <td>BL</td>
                          <td class="win">AN</td>
                          <td class="score">AN</td>
                          <td>DV</td>
                          <td class="score">MC</td>
                          <td>BL</td>
                          <td>DV</td>
                        </tr>
                        <tr>
                          <td class="">1</td>
                          <td>MC</td>
                          <td>BL</td>
                          <td>AN</td>
                          <td>AR</td>
                          <td>MC</td>
                          <td>TH</td>
                          <td>AN</td>
                          <td>BL</td>
                          <td>AR</td>
                          <td>AN</td>
                        </tr>
                        <tr>
                          <td class="">0</td>
                          <td>BL</td>
                          <td>AR</td>
                          <td>MC</td>
                          <td>BA</td>
                          <td class="score">BL</td>
                          <td>EH</td>
                          <td>MC</td>
                          <td>AR</td>
                          <td>BA</td>
                          <td>MC</td>
                        </tr>
                        <tr>
                          <td class="">8</td>
                          <td>AR</td>
                          <td>BA</td>
                          <td>BL</td>
                          <td>AR</td>
                          <td>AR</td>
                          <td>JB</td>
                          <td>BL</td>
                          <td>BA</td>
                          <td>AR</td>
                          <td>BL</td>
                        </tr>
                        <tr>
                          <td class="">9</td>
                          <td>BA</td>
                          <td>AR</td>
                          <td>AR</td>
                          <td>KL</td>
                          <td>BA</td>
                          <td>JB</td>
                          <td>AR</td>
                          <td>AR</td>
                          <td>KL</td>
                          <td>AR</td>
                        </tr>
                        <tr>
                          <td class="">5</td>
                          <td>AR</td>
                          <td>AD</td>
                          <td>BA</td>
                          <td>FU</td>
                          <td>AR</td>
                          <td>FJ</td>
                          <td>BA</td>
                          <td>KJ</td>
                          <td>FU</td>
                          <td>BA</td>
                        </tr>
                        <tr>
                          <td class="">2</td>
                          <td>FD</td>
                          <td>AR</td>
                          <td>AR</td>
                          <td>EL</td>
                          <td>WC</td>
                          <td>SD</td>
                          <td>AR</td>
                          <td>ER</td>
                          <td>EL</td>
                          <td>AR</td>
                        </tr>
                      </table>
                    </div>
                    <div class="text-center pattern">
                      <img src="assets/images/win.jpg"> <span class="text-uppercase">currently winning</span><img src="assets/images/score.jpg"> <span class="text-uppercase">potential next score</span>
                    </div>
                  </div>
                  <div role="tabpanel" class="tab-pane" id="final">...</div>
                  <div role="tabpanel" class="tab-pane" id="all">
                    <div class="top_title2">
                      <h3 class="text-center table_top_title">NEW ENGLAND</h3>
                      <table class="table table-responsive">

                        <tr>
                          <td class="">1Q</td>
                          <td class=""></td>
                          <td class=""></td>
                          <td class=""></td>
                          <td class="">6</td>
                          <td class="">2</td>
                          <td class="">7</td>
                          <td class="">9</td>
                          <td class="">4</td>
                          <td class="">0</td>
                          <td class="">3</td>
                          <td class="">1</td>
                          <td class="">8</td>
                          <td class="">5</td>
                        </tr>
                        <tr>
                          <td class=""></td>
                          <td class="">2Q</td>
                          <td class=""></td>
                          <td class=""></td>
                          <td class="">6</td>
                          <td class="">2</td>
                          <td class="">7</td>
                          <td class="">9</td>
                          <td class="">4</td>
                          <td class="">0</td>
                          <td class="">3</td>
                          <td class="">1</td>
                          <td class="">8</td>
                          <td class="">5</td>
                        </tr>
                        <tr>
                          <td class=""></td>
                          <td class=""></td>
                          <td class="">3Q</td>
                          <td class=""></td>
                          <td class="">6</td>
                          <td class="">2</td>
                          <td class="">7</td>
                          <td class="">9</td>
                          <td class="">4</td>
                          <td class="">0</td>
                          <td class="">3</td>
                          <td class="">1</td>
                          <td class="">8</td>
                          <td class="">5</td>
                        </tr>
                        <tr>
                          <td class=""></td>
                          <td class=""></td>
                          <td class=""></td>
                          <td class="">F</td>
                          <td class="">6</td>
                          <td class="">2</td>
                          <td class="">7</td>
                          <td class="">9</td>
                          <td class="">4</td>
                          <td class="">0</td>
                          <td class="">3</td>
                          <td class="">1</td>
                          <td class="">8</td>
                          <td class="">5</td>
                        </tr>
                        <tr>
                          <td class="">7</td>
                          <td class="">7</td>
                          <td class="">7</td>
                          <td class="">7</td>
                          <td>MC</td>
                          <td>JS</td>
                          <td>JB</td>
                          <td>MC</td>
                          <td class="score">MC</td>
                          <td>MC</td>
                          <td>JB</td>
                          <td>JB</td>
                          <td>MC</td>
                          <td>JB</td>
                        </tr>
                        <tr>
                          <td class="">3</td>
                          <td class="">3</td>
                          <td class="">3</td>
                          <td class="">3</td>
                          <td>JB</td>
                          <td>DV</td>
                          <td>MC</td>
                          <td>AN</td>
                          <td>JB</td>
                          <td>JB</td>
                          <td>MC</td>
                          <td>DV</td>
                          <td>AN</td>
                          <td>MC</td>
                        </tr>
                        <tr>
                          <td class="">4</td>
                          <td class="">4</td>
                          <td class="">4</td>
                          <td class="">4</td>
                          <td>DV</td>
                          <td>AN</td>
                          <td>JB</td>
                          <td>MC</td>
                          <td class="score">DV</td>
                          <td>DV</td>
                          <td>JB</td>
                          <td>AV</td>
                          <td>MC</td>
                          <td>JB</td>
                        </tr>
                        <tr>
                          <td class="">6</td>
                          <td class="">6</td>
                          <td class="">6</td>
                          <td class="">6</td>
                          <td class="score">AN</td>
                          <td>MC</td>
                          <td>DV</td>
                          <td>BL</td>
                          <td class="win">AN</td>
                          <td class="score">AN</td>
                          <td>DV</td>
                          <td class="score">MC</td>
                          <td>BL</td>
                          <td>DV</td>
                        </tr>
                        <tr>
                          <td class="">1</td>
                          <td class="">1</td>
                          <td class="">1</td>
                          <td class="">1</td>
                          <td>MC</td>
                          <td>BL</td>
                          <td>AN</td>
                          <td>AR</td>
                          <td>MC</td>
                          <td>TH</td>
                          <td>AN</td>
                          <td>BL</td>
                          <td>AR</td>
                          <td>AN</td>
                        </tr>
                        <tr>
                          <td class="">0</td>
                          <td class="">0</td>
                          <td class="">0</td>
                          <td class="">0</td>
                          <td>BL</td>
                          <td>AR</td>
                          <td>MC</td>
                          <td>BA</td>
                          <td class="score">BL</td>
                          <td>EH</td>
                          <td>MC</td>
                          <td>AR</td>
                          <td>BA</td>
                          <td>MC</td>
                        </tr>
                        <tr>
                          <td class="">8</td>
                          <td class="">8</td>
                          <td class="">8</td>
                          <td class="">8</td>
                          <td>AR</td>
                          <td>BA</td>
                          <td>BL</td>
                          <td>AR</td>
                          <td>AR</td>
                          <td>JB</td>
                          <td>BL</td>
                          <td>BA</td>
                          <td>AR</td>
                          <td>BL</td>
                        </tr>
                        <tr>
                          <td class="">9</td>
                          <td class="">9</td>
                          <td class="">9</td>
                          <td class="">9</td>
                          <td>BA</td>
                          <td>AR</td>
                          <td>AR</td>
                          <td>KL</td>
                          <td>BA</td>
                          <td>JB</td>
                          <td>AR</td>
                          <td>AR</td>
                          <td>KL</td>
                          <td>AR</td>
                        </tr>
                        <tr>
                          <td class="">5</td>
                          <td class="">5</td>
                          <td class="">5</td>
                          <td class="">5</td>
                          <td>AR</td>
                          <td>AD</td>
                          <td>BA</td>
                          <td>FU</td>
                          <td>AR</td>
                          <td>FJ</td>
                          <td>BA</td>
                          <td>KJ</td>
                          <td>FU</td>
                          <td>BA</td>
                        </tr>
                        <tr>
                          <td class="">2</td>
                          <td class="">2</td>
                          <td class="">2</td>
                          <td class="">2</td>
                          <td>FD</td>
                          <td>AR</td>
                          <td>AR</td>
                          <td>EL</td>
                          <td>WC</td>
                          <td>SD</td>
                          <td>AR</td>
                          <td>ER</td>
                          <td>EL</td>
                          <td>AR</td>
                        </tr>
                      </table>
                    </div>
                    <div class="text-center pattern">
                      <img src="../../../assets/assets/images/win.jpg"> <span class="text-uppercase">currently winning</span><img src="assets/images/score.jpg"> <span class="text-uppercase">potential next score</span>
                    </div>
                  </div>
                </div>

              </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="results">
              <table class="table table-responsive">
                <tbody>
                <tr class="head">
                  <td>Display Name</td>
                  <td>Winner</td>
                </tr>
                <tr>
                  <td>JimmySquareName</td>
                  <td>First Score - 7 - 0</td>
                </tr>
                <tr>
                  <td>JimmySquareName</td>
                  <td>Second Score - 7 - 3</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3 text-right">
        <div class="set_tab_sidebar">
          <h2 class="name blue">{{userName}}</h2>
          <ul *ngFor="let join of joinPools">
            <li><a class="btn" (click)="routeTo('/join')" ><b>{{join.league_id.name}}</b> {{join.name}}</a></li>
            <!--<li><b>NCAA Pool: </b>Pool Name 535</li>-->
            <!--<li><b>PGA Pool: </b>Pool Name 75</li>-->
          </ul>
          <ul *ngFor="let create of createPools">
            <li class="blue" (click)="goToPool(create._id)"><b>{{create.name}}</b></li>
          </ul>
          <a (click)="routeTo('/join')" class="btn">Join a Pool</a>
          <a (click)="routeTo('/pool')" class="btn">Start a Pool</a>
          <a (click)="lastPool()" class="btn">Commissioner Options</a>
          <div class="pool_chat">
            <h3 class="blue">Pool Chat</h3>
            <p><b class="blue">User Name 123:</b><br>Nullam quis risus eget urna mollis ornare vel eu leo. Etiam porta sem malesuada magna mollis euismod.</p>
            <p><b class="blue">User Name 123:</b><br>Nullam quis risus eget urna mollis ornare vel eu leo. Etiam porta sem malesuada magna mollis euismod.</p>
          </div>
          <form>
            <textarea placeholder="Message" rows="5"></textarea>
            <button class="btn">Post</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<footer>
  <ss-footer></ss-footer>
</footer>
</body>
</html>
