<!DOCTYPE html>
<html lang="en-US">
<head>

  <meta charset="utf-8">
  <title>PREMIER - SPORTS POOLS</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/themes/omega/theme.css" />
  <link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/themes/omega/theme.css" />
  <link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/primeng.min.css" />

  <!--<link href="assets/css/style.css" rel="stylesheet" type="text/css" />-->
  <!--<link href="assets/css/res.css" rel="stylesheet" type="text/css" />-->
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100, 300,400,700" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
<p-growl [value]="msgs" [style]="{'position': 'fixed'}"></p-growl>
<div class="main-cont">
  <div class="header-cont-inner">
    <ss-header></ss-header>
  </div>

  <section class="cont-center-inner">

    <div class="inner-form-cont" >
      <div class="tabs-2-pool-name">
        <h3>POOL NAME</h3>
        <ul>
          <li><a class="active">CHOOSE SQUARES</a></li>
          <li><a ><span>PREMIER</span> LIVE</a></li>
          <li><a >RESULTS</a></li>
        </ul>
      </div>
      <div class="choose-squares">
        <div class="info">
          Select up to X squares - Numbers will randomly generate when the commissioner locks hte grid.<br>
          Click to select a square, click againto deselect.
        </div>
        <div>
          <label>Display Name</label>
          <input type="text" [(ngModel)]="fullName" name="fullName"
                 [attr.disabled]=true placeholder="Jimmy Johnson">
        </div>
        <div>
          <label>Display Abbreviation (Up to 3 Letters)</label>
          <input type="text" [(ngModel)]="shortName" maxlength="3" pattern="[a-zA-Z][a-zA-Z ]+"
                 name="shortName" (change)="onSearchChange($event.target.value)" placeholder="JJJ" style="width:100px; text-align:center;">
        </div>
        <div style="color:#6c6c6c; text-align:center; font-size:21px; margin:25px 0 -10px 0;">HOME TEAM</div>
        <div style=" font-size:21px; color:#6a6a6a; transform: rotate(-90deg);text-transform: uppercase;transform-origin: left bottom; position: relative; top: 400px; left:23px;">Visiting  TEAM</div>
        <div style="width:650px; height:auto; border-left:5px solid #ededed; border-top:5px solid #ededed; margin:0 auto; padding:5px;">
          <div class="table-box">
            <ul>
              <li class="blank"></li>
              <li class="x"></li>
              <li class="x"></li>
              <li class="x"></li>
              <li class="x"></li>
              <li class="x"></li>
              <li class="x"></li>
              <li class="x"></li>
              <li class="x"></li>
              <li class="x"></li>
              <li class="x"></li>
            </ul>
            <ul>
              <li class="x"></li>
              <div *ngIf="item[1] == ' '" >
                <li (click)="getVal($event.target)" index="1" value="">{{item[1]}}</li>
              </div>
              <div *ngIf="item[1] != ' '" >
                <li (click)="getVal($event.target)" index="1" value="" class="text">{{item[1]}}</li>
              </div>

              <div *ngIf="item[2] == ' '" >
                <li (click)="getVal($event.target)" index="2" value="">{{item[2]}}</li>
              </div>
              <div *ngIf="item[2] != ' '" >
                <li (click)="getVal($event.target)" index="2" value="" class="text">{{item[2]}}</li>
              </div>

              <div *ngIf="item[3] == ' '" >
                <li (click)="getVal($event.target)" index="3" value="">{{item[3]}}</li>
              </div>
              <div *ngIf="item[3] != ' '" >
                <li (click)="getVal($event.target)" index="3" value="" class="text">{{item[3]}}</li>
              </div>

              <div *ngIf="item[4] == ' '" >
                <li (click)="getVal($event.target)" index="4" value="">{{item[4]}}</li>
              </div>
              <div *ngIf="item[4] != ' '" >
                <li (click)="getVal($event.target)" index="4" value="" class="text">{{item[4]}}</li>
              </div>

              <div *ngIf="item[5] == ' '" >
                <li (click)="getVal($event.target)" index="5" value="">{{item[5]}}</li>
              </div>
              <div *ngIf="item[5] != ' '" >
                <li (click)="getVal($event.target)" index="5" value="" class="text">{{item[5]}}</li>
              </div>

              <div *ngIf="item[6] == ' '" >
                <li (click)="getVal($event.target)" index="6" value="">{{item[6]}}</li>
              </div>
              <div *ngIf="item[6] != ' '" >
                <li (click)="getVal($event.target)" index="6" value="" class="text">{{item[6]}}</li>
              </div>

              <div *ngIf="item[7] == ' '" >
                <li (click)="getVal($event.target)" index="7" value="">{{item[7]}}</li>
              </div>
              <div *ngIf="item[7] != ' '" >
                <li (click)="getVal($event.target)" index="7" value="" class="text">{{item[7]}}</li>
              </div>

              <div *ngIf="item[8] == ' '" >
                <li (click)="getVal($event.target)" index="8" value="">{{item[8]}}</li>
              </div>
              <div *ngIf="item[8] != ' '" >
                <li (click)="getVal($event.target)" index="8" value="" class="text">{{item[8]}}</li>
              </div>

              <div *ngIf="item[9] == ' '" >
                <li (click)="getVal($event.target)" index="9" value="">{{item[9]}}</li>
              </div>
              <div *ngIf="item[9] != ' '" >
                <li (click)="getVal($event.target)" index="9" value="" class="text">{{item[9]}}</li>
              </div>

              <div *ngIf="item[10] == ' '" >
                <li (click)="getVal($event.target)" index="10" value="">{{item[10]}}</li>
              </div>
              <div *ngIf="item[10] != ' '" >
                <li (click)="getVal($event.target)" index="10" value="" class="text">{{item[10]}}</li>
              </div>

              <!--<li *ngIf="item[1] == ''" (click)="getVal($event.target)" index="1" value="">{{item[1]}}</li>-->
              <!--<li *ngIf="item[1] != ''" index="1" value="" class="text">{{item[1]}}</li>-->
              <!--<li *ngIf="item[2] == ''"(click)="getVal($event.target)" index="2" value="">{{item[2]}}</li>-->
              <!--<li *ngIf="item[2] != ''" index="2" value="" class="text">{{item[2]}}</li>-->
              <!--<li *ngIf="item[3] == ''" (click)="getVal($event.target)" index="3" value="">{{item[3]}}</li>-->
              <!--<li *ngIf="item[3] != ''" index="3" value="" class="text">{{item[3]}}</li>-->
              <!--<li (click)="getVal($event.target)" index="4" value="">{{item[4]}}</li>-->
              <!--<li (click)="getVal($event.target)" index="5" value="">{{item[5]}}</li>-->
              <!--<li (click)="getVal($event.target)" index="6" value="">{{item[6]}}</li>-->
              <!--<li (click)="getVal($event.target)" index="7" value="">{{item[7]}}</li>-->
              <!--<li (click)="getVal($event.target)" index="8" value="">{{item[8]}}</li>-->
              <!--<li (click)="getVal($event.target)" index="9" value="">{{item[9]}}</li>-->
              <!--<li (click)="getVal($event.target)" index="10" value="">{{item[10]}}</li>-->
            </ul>
            <ul>
              <li class="x"></li>
              <div *ngIf="item[11] == ' '" >
                <li (click)="getVal($event.target)" index="11" value="">{{item[11]}}</li>
              </div>
              <div *ngIf="item[11] != ' '" >
                <li (click)="getVal($event.target)" index="11" value="" class="text">{{item[11]}}</li>
              </div>

              <div *ngIf="item[12] == ' '" >
                <li (click)="getVal($event.target)" index="12" value="">{{item[12]}}</li>
              </div>
              <div *ngIf="item[12] != ' '" >
                <li (click)="getVal($event.target)" index="12" value="" class="text">{{item[12]}}</li>
              </div>

              <div *ngIf="item[13] == ' '" >
                <li (click)="getVal($event.target)" index="13" value="">{{item[13]}}</li>
              </div>
              <div *ngIf="item[13] != ' '" >
                <li (click)="getVal($event.target)" index="13" value="" class="text">{{item[13]}}</li>
              </div>

              <div *ngIf="item[14] == ' '" >
                <li (click)="getVal($event.target)" index="14" value="">{{item[14]}}</li>
              </div>
              <div *ngIf="item[14] != ' '" >
                <li (click)="getVal($event.target)" index="14" value="" class="text">{{item[14]}}</li>
              </div>

              <div *ngIf="item[15] == ' '" >
                <li (click)="getVal($event.target)" index="15" value="">{{item[15]}}</li>
              </div>
              <div *ngIf="item[15] != ' '" >
                <li (click)="getVal($event.target)" index="15" value="" class="text">{{item[15]}}</li>
              </div>

              <div *ngIf="item[16] == ' '" >
                <li (click)="getVal($event.target)" index="16" value="">{{item[16]}}</li>
              </div>
              <div *ngIf="item[16] != ' '" >
                <li (click)="getVal($event.target)" index="16" value="" class="text">{{item[16]}}</li>
              </div>

              <div *ngIf="item[17] == ' '" >
                <li (click)="getVal($event.target)" index="17" value="">{{item[17]}}</li>
              </div>
              <div *ngIf="item[17] != ' '" >
                <li (click)="getVal($event.target)" index="17" value="" class="text">{{item[17]}}</li>
              </div>

              <div *ngIf="item[18] == ' '" >
                <li (click)="getVal($event.target)" index="18" value="">{{item[18]}}</li>
              </div>
              <div *ngIf="item[18] != ' '" >
                <li (click)="getVal($event.target)" index="18" value="" class="text">{{item[18]}}</li>
              </div>

              <div *ngIf="item[19] == ' '" >
                <li (click)="getVal($event.target)" index="19" value="">{{item[19]}}</li>
              </div>
              <div *ngIf="item[19] != ' '" >
                <li (click)="getVal($event.target)" index="19" value="" class="text">{{item[19]}}</li>
              </div>

              <div *ngIf="item[20] == ' '" >
                <li (click)="getVal($event.target)" index="20" value="">{{item[20]}}</li>
              </div>
              <div *ngIf="item[20] != ' '" >
                <li (click)="getVal($event.target)" index="20" value="" class="text">{{item[20]}}</li>
              </div>

              <!--<li (click)="getVal($event.target)" index="11" value="">{{item[2]}}</li>-->
              <!--<li (click)="getVal($event.target)" index="12" value="">{{item[12]}}</li>-->
              <!--<li (click)="getVal($event.target)" index="13" value="">{{item[13]}}</li>-->
              <!--<li (click)="getVal($event.target)" index="14" value="">{{item[14]}}</li>-->
              <!--<li (click)="getVal($event.target)" index="15" value="">{{item[15]}}</li>-->
              <!--<li (click)="getVal($event.target)" index="16" value="">{{item[16]}}</li>-->
              <!--<li (click)="getVal($event.target)" index="17" value="">{{item[17]}}</li>-->
              <!--<li (click)="getVal($event.target)" index="18" value="">{{item[18]}}</li>-->
              <!--<li (click)="getVal($event.target)" index="19" value="">{{item[19]}}</li>-->
              <!--<li (click)="getVal($event.target)" index="20" value="">{{item[20]}}</li>-->
            </ul>
            <ul>
              <li class="x"></li>
              <div *ngIf="item[21] == ' '" >
                <li (click)="getVal($event.target)" index="21" value="">{{item[21]}}</li>
              </div>
              <div *ngIf="item[21] != ' '" >
              <li (click)="getVal($event.target)" index="21" value="" class="text">{{item[21]}}</li>
              </div>

              <div *ngIf="item[22] == ' '" >
                <li (click)="getVal($event.target)" index="22" value="">{{item[22]}}</li>
              </div>
              <div *ngIf="item[22] != ' '" >
                <li (click)="getVal($event.target)" index="22" value="" class="text">{{item[22]}}</li>
              </div>

              <div *ngIf="item[23] == ' '" >
                <li (click)="getVal($event.target)" index="23" value="">{{item[23]}}</li>
              </div>
              <div *ngIf="item[23] != ' '" >
                <li (click)="getVal($event.target)" index="23" value="" class="text">{{item[23]}}</li>
              </div>

              <div *ngIf="item[24] == ' '" >
                <li (click)="getVal($event.target)" index="24" value="">{{item[24]}}</li>
              </div>
              <div *ngIf="item[24] != ' '" >
                <li (click)="getVal($event.target)" index="24" value="" class="text">{{item[24]}}</li>
              </div>

              <div *ngIf="item[25] == ' '" >
                <li (click)="getVal($event.target)" index="25" value="">{{item[25]}}</li>
              </div>
              <div *ngIf="item[25] != ' '" >
                <li (click)="getVal($event.target)" index="25" value="" class="text">{{item[25]}}</li>
              </div>

              <div *ngIf="item[26] == ' '" >
                <li (click)="getVal($event.target)" index="26" value="">{{item[26]}}</li>
              </div>
              <div *ngIf="item[26] != ' '" >
                <li (click)="getVal($event.target)" index="26" value="" class="text">{{item[26]}}</li>
              </div>

              <div *ngIf="item[27] == ' '" >
                <li (click)="getVal($event.target)" index="27" value="">{{item[27]}}</li>
              </div>
              <div *ngIf="item[27] != ' '" >
                <li (click)="getVal($event.target)" index="27" value="" class="text">{{item[27]}}</li>
              </div>

              <div *ngIf="item[28] == ' '" >
                <li (click)="getVal($event.target)" index="28" value="">{{item[28]}}</li>
              </div>
              <div *ngIf="item[28] != ' '" >
                <li (click)="getVal($event.target)" index="28" value="" class="text">{{item[28]}}</li>
              </div>

              <div *ngIf="item[29] == ' '" >
                <li (click)="getVal($event.target)" index="29" value="">{{item[29]}}</li>
              </div>
              <div *ngIf="item[29] != ' '" >
                <li (click)="getVal($event.target)" index="29" value="" class="text">{{item[29]}}</li>
              </div>

              <div *ngIf="item[30] == ' '" >
                <li (click)="getVal($event.target)" index="30" value="">{{item[30]}}</li>
              </div>
              <div *ngIf="item[30] != ' '" >
                <li (click)="getVal($event.target)" index="30" value="" class="text">{{item[30]}}</li>
              </div>

                <!--<li *ngIf="item[22] == ''" (click)="getVal($event.target)" index="22" value="">{{item[22]}}</li>-->
              <!--<li *ngIf="item[22] != ''" (click)="getVal($event.target)" index="22" value="" class="text">{{item[22]}}</li>-->
              <!--<li *ngIf="item[23] == ''" (click)="getVal($event.target)" index="23" value="">{{item[23]}}</li>-->
              <!--<li *ngIf="item[23] != ''" (click)="getVal($event.target)" index="23" value="">{{item[23]}}</li>-->
              <!--<li (click)="getVal($event.target)" index="24" value="">{{item[24]}}</li>-->
              <!--<li (click)="getVal($event.target)" index="25" value="">{{item[25]}}</li>-->
              <!--<li (click)="getVal($event.target)" index="26" value="">{{item[26]}}</li>-->
              <!--<li (click)="getVal($event.target)" index="27" value="">{{item[27]}}</li>-->
              <!--<li (click)="getVal($event.target)" index="28" value="">{{item[28]}}</li>-->
              <!--<li (click)="getVal($event.target)" index="29" value="">{{item[29]}}</li>-->
              <!--<li (click)="getVal($event.target)" index="30" value="">{{item[30]}}</li>-->
            </ul>
            <ul>
              <li class="x"></li>
              <div *ngIf="item[31] == ' '" >
                <li (click)="getVal($event.target)" index="31" value="">{{item[31]}}</li>
              </div>
              <div *ngIf="item[31] != ' '" >
                <li (click)="getVal($event.target)" index="31" value="" class="text">{{item[31]}}</li>
              </div>

              <div *ngIf="item[32] == ' '" >
                <li (click)="getVal($event.target)" index="32" value="">{{item[32]}}</li>
              </div>
              <div *ngIf="item[32] != ' '" >
                <li (click)="getVal($event.target)" index="32" value="" class="text">{{item[32]}}</li>
              </div>

              <div *ngIf="item[33] == ' '" >
                <li (click)="getVal($event.target)" index="33" value="">{{item[33]}}</li>
              </div>
              <div *ngIf="item[33] != ' '" >
                <li (click)="getVal($event.target)" index="33" value="" class="text">{{item[33]}}</li>
              </div>

              <div *ngIf="item[34] == ' '" >
                <li (click)="getVal($event.target)" index="34" value="">{{item[34]}}</li>
              </div>
              <div *ngIf="item[34] != ' '" >
                <li (click)="getVal($event.target)" index="34" value="" class="text">{{item[34]}}</li>
              </div>

              <div *ngIf="item[35] == ' '" >
                <li (click)="getVal($event.target)" index="35" value="">{{item[35]}}</li>
              </div>
              <div *ngIf="item[35] != ' '" >
                <li (click)="getVal($event.target)" index="35" value="" class="text">{{item[35]}}</li>
              </div>

              <div *ngIf="item[36] == ' '" >
                <li (click)="getVal($event.target)" index="36" value="">{{item[36]}}</li>
              </div>
              <div *ngIf="item[36] != ' '" >
                <li (click)="getVal($event.target)" index="36" value="" class="text">{{item[36]}}</li>
              </div>

              <div *ngIf="item[37] == ' '" >
                <li (click)="getVal($event.target)" index="37" value="">{{item[37]}}</li>
              </div>
              <div *ngIf="item[37] != ' '" >
                <li (click)="getVal($event.target)" index="37" value="" class="text">{{item[37]}}</li>
              </div>

              <div *ngIf="item[38] == ' '" >
                <li (click)="getVal($event.target)" index="38" value="">{{item[38]}}</li>
              </div>
              <div *ngIf="item[38] != ' '" >
                <li (click)="getVal($event.target)" index="38" value="" class="text">{{item[38]}}</li>
              </div>

              <div *ngIf="item[39] == ' '" >
                <li (click)="getVal($event.target)" index="39" value="">{{item[39]}}</li>
              </div>
              <div *ngIf="item[39] != ' '" >
                <li (click)="getVal($event.target)" index="39" value="" class="text">{{item[39]}}</li>
              </div>

              <div *ngIf="item[40] == ' '" >
                <li (click)="getVal($event.target)" index="40" value="">{{item[40]}}</li>
              </div>
              <div *ngIf="item[40] != ' '" >
                <li (click)="getVal($event.target)" index="40" value="" class="text">{{item[40]}}</li>
              </div>

              <!--<li (click)="getVal($event.target)" index="31" value="">{{item[31]}}</li>-->
              <!--<li (click)="getVal($event.target)" index="32" value="">{{item[32]}}</li>-->
              <!--<li (click)="getVal($event.target)" index="33" value="">{{item[33]}}</li>-->
              <!--<li (click)="getVal($event.target)" index="34" value="">{{item[34]}}</li>-->
              <!--<li (click)="getVal($event.target)" index="35" value="">{{item[35]}}</li>-->
              <!--<li (click)="getVal($event.target)" index="36" value="">{{item[36]}}</li>-->
              <!--<li (click)="getVal($event.target)" index="37" value="">{{item[37]}}</li>-->
              <!--<li (click)="getVal($event.target)" index="38" value="">{{item[38]}}</li>-->
              <!--<li (click)="getVal($event.target)" index="39" value="">{{item[39]}}</li>-->
              <!--<li (click)="getVal($event.target)" index="40" value="">{{item[40]}}</li>-->
            </ul>
            <ul>
              <li class="x"></li>
              <div *ngIf="item[41] == ' '" >
                <li (click)="getVal($event.target)" index="41" value="">{{item[41]}}</li>
              </div>
              <div *ngIf="item[41] != ' '" >
                <li (click)="getVal($event.target)" index="41" value="" class="text">{{item[41]}}</li>
              </div>

              <div *ngIf="item[42] == ' '" >
                <li (click)="getVal($event.target)" index="42" value="">{{item[42]}}</li>
              </div>
              <div *ngIf="item[42] != ' '" >
                <li (click)="getVal($event.target)" index="42" value="" class="text">{{item[42]}}</li>
              </div>

              <div *ngIf="item[43] == ' '" >
                <li (click)="getVal($event.target)" index="43" value="">{{item[43]}}</li>
              </div>
              <div *ngIf="item[43] != ' '" >
                <li (click)="getVal($event.target)" index="43" value="" class="text">{{item[43]}}</li>
              </div>

              <div *ngIf="item[44] == ' '" >
                <li (click)="getVal($event.target)" index="44" value="">{{item[44]}}</li>
              </div>
              <div *ngIf="item[44] != ' '" >
                <li (click)="getVal($event.target)" index="44" value="" class="text">{{item[44]}}</li>
              </div>

              <div *ngIf="item[45] == ' '" >
                <li (click)="getVal($event.target)" index="45" value="">{{item[45]}}</li>
              </div>
              <div *ngIf="item[45] != ' '" >
                <li (click)="getVal($event.target)" index="45" value="" class="text">{{item[45]}}</li>
              </div>

              <div *ngIf="item[46] == ' '" >
                <li (click)="getVal($event.target)" index="46" value="">{{item[46]}}</li>
              </div>
              <div *ngIf="item[46] != ' '" >
                <li (click)="getVal($event.target)" index="46" value="" class="text">{{item[46]}}</li>
              </div>

              <div *ngIf="item[47] == ' '" >
                <li (click)="getVal($event.target)" index="47" value="">{{item[47]}}</li>
              </div>
              <div *ngIf="item[47] != ' '" >
                <li (click)="getVal($event.target)" index="47" value="" class="text">{{item[47]}}</li>
              </div>

              <div *ngIf="item[48] == ' '" >
                <li (click)="getVal($event.target)" index="48" value="">{{item[48]}}</li>
              </div>
              <div *ngIf="item[48] != ' '" >
                <li (click)="getVal($event.target)" index="48" value="" class="text">{{item[48]}}</li>
              </div>

              <div *ngIf="item[49] == ' '" >
                <li (click)="getVal($event.target)" index="49" value="">{{item[49]}}</li>
              </div>
              <div *ngIf="item[49] != ' '" >
                <li (click)="getVal($event.target)" index="49" value="" class="text">{{item[49]}}</li>
              </div>

              <div *ngIf="item[50] == ' '" >
                <li (click)="getVal($event.target)" index="50" value="">{{item[50]}}</li>
              </div>
              <div *ngIf="item[50] != ' '" >
                <li (click)="getVal($event.target)" index="50" value="" class="text">{{item[50]}}</li>
              </div>

              <!--<li (click)="getVal($event.target)" index="41" value="">{{item[41]}}</li>-->
              <!--<li (click)="getVal($event.target)" index="42" value="">{{item[42]}}</li>-->
              <!--<li (click)="getVal($event.target)" index="43" value="">{{item[43]}}</li>-->
              <!--<li (click)="getVal($event.target)" index="44" value="">{{item[44]}}</li>-->
              <!--<li (click)="getVal($event.target)" index="45" value="">{{item[45]}}</li>-->
              <!--<li (click)="getVal($event.target)" index="46" value="">{{item[46]}}</li>-->
              <!--<li (click)="getVal($event.target)" index="47" value="">{{item[47]}}</li>-->
              <!--<li (click)="getVal($event.target)" index="48" value="">{{item[48]}}</li>-->
              <!--<li (click)="getVal($event.target)" index="49" value="">{{item[49]}}</li>-->
              <!--<li (click)="getVal($event.target)" index="50" value="">{{item[50]}}</li>-->
            </ul>
            <ul>
              <li class="x"></li>
              <div *ngIf="item[51] == ' '" >
                <li (click)="getVal($event.target)" index="51" value="">{{item[51]}}</li>
              </div>
              <div *ngIf="item[51] != ' '" >
                <li (click)="getVal($event.target)" index="51" value="" class="text">{{item[51]}}</li>
              </div>

              <div *ngIf="item[52] == ' '" >
                <li (click)="getVal($event.target)" index="52" value="">{{item[52]}}</li>
              </div>
              <div *ngIf="item[52] != ' '" >
                <li (click)="getVal($event.target)" index="52" value="" class="text">{{item[52]}}</li>
              </div>

              <div *ngIf="item[53] == ' '" >
                <li (click)="getVal($event.target)" index="53" value="">{{item[53]}}</li>
              </div>
              <div *ngIf="item[53] != ' '" >
                <li (click)="getVal($event.target)" index="53" value="" class="text">{{item[53]}}</li>
              </div>

              <div *ngIf="item[54] == ' '" >
                <li (click)="getVal($event.target)" index="54" value="">{{item[54]}}</li>
              </div>
              <div *ngIf="item[54] != ' '" >
                <li (click)="getVal($event.target)" index="54" value="" class="text">{{item[54]}}</li>
              </div>

              <div *ngIf="item[55] == ' '" >
                <li (click)="getVal($event.target)" index="55" value="">{{item[55]}}</li>
              </div>
              <div *ngIf="item[55] != ' '" >
                <li (click)="getVal($event.target)" index="55" value="" class="text">{{item[55]}}</li>
              </div>

              <div *ngIf="item[56] == ' '" >
                <li (click)="getVal($event.target)" index="56" value="">{{item[56]}}</li>
              </div>
              <div *ngIf="item[56] != ' '" >
                <li (click)="getVal($event.target)" index="56" value="" class="text">{{item[56]}}</li>
              </div>

              <div *ngIf="item[57] == ' '" >
                <li (click)="getVal($event.target)" index="57" value="">{{item[57]}}</li>
              </div>
              <div *ngIf="item[57] != ' '" >
                <li (click)="getVal($event.target)" index="57" value="" class="text">{{item[57]}}</li>
              </div>

              <div *ngIf="item[58] == ' '" >
                <li (click)="getVal($event.target)" index="58" value="">{{item[58]}}</li>
              </div>
              <div *ngIf="item[58] != ' '" >
                <li (click)="getVal($event.target)" index="58" value="" class="text">{{item[58]}}</li>
              </div>

              <div *ngIf="item[59] == ' '" >
                <li (click)="getVal($event.target)" index="59" value="">{{item[59]}}</li>
              </div>
              <div *ngIf="item[59] != ' '" >
                <li (click)="getVal($event.target)" index="59" value="" class="text">{{item[59]}}</li>
              </div>

              <div *ngIf="item[60] == ' '" >
                <li (click)="getVal($event.target)" index="60" value="">{{item[60]}}</li>
              </div>
              <div *ngIf="item[60] != ' '" >
                <li (click)="getVal($event.target)" index="60" value="" class="text">{{item[60]}}</li>
              </div>

              <!--<li (click)="getVal($event.target)" index="51" value="">{{item[51]}}</li>-->
              <!--<li (click)="getVal($event.target)" index="52" value="">{{item[52]}}</li>-->
              <!--<li (click)="getVal($event.target)" index="53" value="">{{item[53]}}</li>-->
              <!--<li (click)="getVal($event.target)" index="54" value="">{{item[54]}}</li>-->
              <!--<li (click)="getVal($event.target)" index="55" value="">{{item[55]}}</li>-->
              <!--<li (click)="getVal($event.target)" index="56" value="">{{item[56]}}</li>-->
              <!--<li (click)="getVal($event.target)" index="57" value="">{{item[57]}}</li>-->
              <!--<li (click)="getVal($event.target)" index="58" value="">{{item[58]}}</li>-->
              <!--<li (click)="getVal($event.target)" index="59" value="">{{item[59]}}</li>-->
              <!--<li (click)="getVal($event.target)" index="60" value="">{{item[60]}}</li>-->
            </ul>
            <ul>
              <li class="x"></li>
              <div *ngIf="item[61] == ' '" >
                <li (click)="getVal($event.target)" index="61" value="">{{item[61]}}</li>
              </div>
              <div *ngIf="item[61] != ' '" >
                <li (click)="getVal($event.target)" index="61" value="" class="text">{{item[61]}}</li>
              </div>

              <div *ngIf="item[62] == ' '" >
                <li (click)="getVal($event.target)" index="62" value="">{{item[62]}}</li>
              </div>
              <div *ngIf="item[62] != ' '" >
                <li (click)="getVal($event.target)" index="62" value="" class="text">{{item[62]}}</li>
              </div>

              <div *ngIf="item[63] == ' '" >
                <li (click)="getVal($event.target)" index="63" value="">{{item[63]}}</li>
              </div>
              <div *ngIf="item[63] != ' '" >
                <li (click)="getVal($event.target)" index="63" value="" class="text">{{item[63]}}</li>
              </div>

              <div *ngIf="item[64] == ' '" >
                <li (click)="getVal($event.target)" index="64" value="">{{item[64]}}</li>
              </div>
              <div *ngIf="item[64] != ' '" >
                <li (click)="getVal($event.target)" index="64" value="" class="text">{{item[64]}}</li>
              </div>

              <div *ngIf="item[65] == ' '" >
                <li (click)="getVal($event.target)" index="65" value="">{{item[65]}}</li>
              </div>
              <div *ngIf="item[65] != ' '" >
                <li (click)="getVal($event.target)" index="65" value="" class="text">{{item[65]}}</li>
              </div>

              <div *ngIf="item[66] == ' '" >
                <li (click)="getVal($event.target)" index="66" value="">{{item[66]}}</li>
              </div>
              <div *ngIf="item[66] != ' '" >
                <li (click)="getVal($event.target)" index="66" value="" class="text">{{item[66]}}</li>
              </div>

              <div *ngIf="item[67] == ' '" >
                <li (click)="getVal($event.target)" index="67" value="">{{item[67]}}</li>
              </div>
              <div *ngIf="item[67] != ' '" >
                <li (click)="getVal($event.target)" index="67" value="" class="text">{{item[67]}}</li>
              </div>

              <div *ngIf="item[68] == ' '" >
                <li (click)="getVal($event.target)" index="68" value="">{{item[68]}}</li>
              </div>
              <div *ngIf="item[68] != ' '" >
                <li (click)="getVal($event.target)" index="68" value="" class="text">{{item[68]}}</li>
              </div>

              <div *ngIf="item[69] == ' '" >
                <li (click)="getVal($event.target)" index="69" value="">{{item[69]}}</li>
              </div>
              <div *ngIf="item[69] != ' '" >
                <li (click)="getVal($event.target)" index="69" value="" class="text">{{item[69]}}</li>
              </div>

              <div *ngIf="item[70] == ' '" >
                <li (click)="getVal($event.target)" index="70" value="">{{item[70]}}</li>
              </div>
              <div *ngIf="item[70] != ' '" >
                <li (click)="getVal($event.target)" index="70" value="" class="text">{{item[70]}}</li>
              </div>

              <!--<li (click)="getVal($event.target)" index="61" value="">{{item[61]}}</li>-->
              <!--<li (click)="getVal($event.target)" index="62" value="">{{item[62]}}</li>-->
              <!--<li (click)="getVal($event.target)" index="63" value="">{{item[63]}}</li>-->
              <!--<li (click)="getVal($event.target)" index="64" value="">{{item[64]}}</li>-->
              <!--<li (click)="getVal($event.target)" index="65" value="">{{item[65]}}</li>-->
              <!--<li (click)="getVal($event.target)" index="66" value="">{{item[66]}}</li>-->
              <!--<li (click)="getVal($event.target)" index="67" value="">{{item[67]}}</li>-->
              <!--<li (click)="getVal($event.target)" index="68" value="">{{item[68]}}</li>-->
              <!--<li (click)="getVal($event.target)" index="69" value="">{{item[69]}}</li>-->
              <!--<li (click)="getVal($event.target)" index="70" value="">{{item[70]}}</li>-->
            </ul>
            <ul>
              <li class="x"></li>
              <div *ngIf="item[71] == ' '" >
                <li (click)="getVal($event.target)" index="71" value="">{{item[71]}}</li>
              </div>
              <div *ngIf="item[71] != ' '" >
                <li (click)="getVal($event.target)" index="71" value="" class="text">{{item[71]}}</li>
              </div>

              <div *ngIf="item[72] == ' '" >
                <li (click)="getVal($event.target)" index="72" value="">{{item[72]}}</li>
              </div>
              <div *ngIf="item[72] != ' '" >
                <li (click)="getVal($event.target)" index="72" value="" class="text">{{item[72]}}</li>
              </div>

              <div *ngIf="item[73] == ' '" >
                <li (click)="getVal($event.target)" index="73" value="">{{item[73]}}</li>
              </div>
              <div *ngIf="item[73] != ' '" >
                <li (click)="getVal($event.target)" index="73" value="" class="text">{{item[73]}}</li>
              </div>

              <div *ngIf="item[74] == ' '" >
                <li (click)="getVal($event.target)" index="74" value="">{{item[74]}}</li>
              </div>
              <div *ngIf="item[74] != ' '" >
                <li (click)="getVal($event.target)" index="74" value="" class="text">{{item[74]}}</li>
              </div>

              <div *ngIf="item[75] == ' '" >
                <li (click)="getVal($event.target)" index="75" value="">{{item[75]}}</li>
              </div>
              <div *ngIf="item[75] != ' '" >
                <li (click)="getVal($event.target)" index="75" value="" class="text">{{item[75]}}</li>
              </div>

              <div *ngIf="item[76] == ' '" >
                <li (click)="getVal($event.target)" index="76" value="">{{item[76]}}</li>
              </div>
              <div *ngIf="item[76] != ' '" >
                <li (click)="getVal($event.target)" index="76" value="" class="text">{{item[76]}}</li>
              </div>

              <div *ngIf="item[77] == ' '" >
                <li (click)="getVal($event.target)" index="77" value="">{{item[77]}}</li>
              </div>
              <div *ngIf="item[77] != ' '" >
                <li (click)="getVal($event.target)" index="77" value="" class="text">{{item[77]}}</li>
              </div>

              <div *ngIf="item[78] == ' '" >
                <li (click)="getVal($event.target)" index="78" value="">{{item[78]}}</li>
              </div>
              <div *ngIf="item[78] != ' '" >
                <li (click)="getVal($event.target)" index="78" value="" class="text">{{item[78]}}</li>
              </div>

              <div *ngIf="item[79] == ' '" >
                <li (click)="getVal($event.target)" index="79" value="">{{item[79]}}</li>
              </div>
              <div *ngIf="item[79] != ' '" >
                <li (click)="getVal($event.target)" index="79" value="" class="text">{{item[79]}}</li>
              </div>

              <div *ngIf="item[80] == ' '" >
                <li (click)="getVal($event.target)" index="80" value="">{{item[80]}}</li>
              </div>
              <div *ngIf="item[80] != ' '" >
                <li (click)="getVal($event.target)" index="80" value="" class="text">{{item[80]}}</li>
              </div>

              <!--<li (click)="getVal($event.target)" index="71" value="">{{item[71]}}</li>-->
              <!--<li (click)="getVal($event.target)" index="72" value="">{{item[72]}}</li>-->
              <!--<li (click)="getVal($event.target)" index="73" value="">{{item[73]}}</li>-->
              <!--<li (click)="getVal($event.target)" index="74" value="">{{item[74]}}</li>-->
              <!--<li (click)="getVal($event.target)" index="75" value="">{{item[75]}}</li>-->
              <!--<li (click)="getVal($event.target)" index="76" value="">{{item[76]}}</li>-->
              <!--<li (click)="getVal($event.target)" index="77" value="">{{item[77]}}</li>-->
              <!--<li (click)="getVal($event.target)" index="78" value="">{{item[78]}}</li>-->
              <!--<li (click)="getVal($event.target)" index="79" value="">{{item[79]}}</li>-->
              <!--<li (click)="getVal($event.target)" index="80" value="">{{item[80]}}</li>-->
            </ul>
            <ul>
              <li class="x"></li>
              <div *ngIf="item[81] == ' '" >
                <li (click)="getVal($event.target)" index="81" value="">{{item[81]}}</li>
              </div>
              <div *ngIf="item[81] != ' '" >
                <li (click)="getVal($event.target)" index="81" value="" class="text">{{item[81]}}</li>
              </div>

              <div *ngIf="item[82] == ' '" >
                <li (click)="getVal($event.target)" index="82" value="">{{item[82]}}</li>
              </div>
              <div *ngIf="item[82] != ' '" >
                <li (click)="getVal($event.target)" index="82" value="" class="text">{{item[82]}}</li>
              </div>

              <div *ngIf="item[83] == ' '" >
                <li (click)="getVal($event.target)" index="83" value="">{{item[83]}}</li>
              </div>
              <div *ngIf="item[83] != ' '" >
                <li (click)="getVal($event.target)" index="83" value="" class="text">{{item[83]}}</li>
              </div>

              <div *ngIf="item[84] == ' '" >
                <li (click)="getVal($event.target)" index="84" value="">{{item[84]}}</li>
              </div>
              <div *ngIf="item[84] != ' '" >
                <li (click)="getVal($event.target)" index="84" value="" class="text">{{item[84]}}</li>
              </div>

              <div *ngIf="item[85] == ' '" >
                <li (click)="getVal($event.target)" index="85" value="">{{item[85]}}</li>
              </div>
              <div *ngIf="item[85] != ' '" >
                <li (click)="getVal($event.target)" index="85" value="" class="text">{{item[85]}}</li>
              </div>

              <div *ngIf="item[86] == ' '" >
                <li (click)="getVal($event.target)" index="86" value="">{{item[86]}}</li>
              </div>
              <div *ngIf="item[86] != ' '" >
                <li (click)="getVal($event.target)" index="86" value="" class="text">{{item[86]}}</li>
              </div>

              <div *ngIf="item[87] == ' '" >
                <li (click)="getVal($event.target)" index="87" value="">{{item[87]}}</li>
              </div>
              <div *ngIf="item[87] != ' '" >
                <li (click)="getVal($event.target)" index="87" value="" class="text">{{item[87]}}</li>
              </div>

              <div *ngIf="item[88] == ' '" >
                <li (click)="getVal($event.target)" index="88" value="">{{item[88]}}</li>
              </div>
              <div *ngIf="item[88] != ' '" >
                <li (click)="getVal($event.target)" index="88" value="" class="text">{{item[88]}}</li>
              </div>

              <div *ngIf="item[89] == ' '" >
                <li (click)="getVal($event.target)" index="89" value="">{{item[89]}}</li>
              </div>
              <div *ngIf="item[89] != ' '" >
                <li (click)="getVal($event.target)" index="89" value="" class="text">{{item[89]}}</li>
              </div>

              <div *ngIf="item[90] == ' '" >
                <li (click)="getVal($event.target)" index="90" value="">{{item[90]}}</li>
              </div>
              <div *ngIf="item[90] != ' '" >
                <li (click)="getVal($event.target)" index="90" value="" class="text">{{item[90]}}</li>
              </div>

              <!--<li (click)="getVal($event.target)" index="81" value="">{{item[81]}}</li>-->
              <!--<li (click)="getVal($event.target)" index="82" value="">{{item[82]}}</li>-->
              <!--<li (click)="getVal($event.target)" index="83" value="">{{item[83]}}</li>-->
              <!--<li (click)="getVal($event.target)" index="84" value="">{{item[84]}}</li>-->
              <!--<li (click)="getVal($event.target)" index="85" value="">{{item[85]}}</li>-->
              <!--<li (click)="getVal($event.target)" index="86" value="">{{item[86]}}</li>-->
              <!--<li (click)="getVal($event.target)" index="87" value="">{{item[87]}}</li>-->
              <!--<li (click)="getVal($event.target)" index="88" value="">{{item[88]}}</li>-->
              <!--<li (click)="getVal($event.target)" index="89" value="">{{item[89]}}</li>-->
              <!--<li (click)="getVal($event.target)" index="90" value="">{{item[90]}}</li>-->
            </ul>
            <ul>
              <li class="x"></li>
              <div *ngIf="item[91] == ' '" >
                <li (click)="getVal($event.target)" index="91" value="">{{item[91]}}</li>
              </div>
              <div *ngIf="item[91] != ' '" >
                <li (click)="getVal($event.target)" index="91" value="" class="text">{{item[91]}}</li>
              </div>

              <div *ngIf="item[92] == ' '" >
                <li (click)="getVal($event.target)" index="92" value="">{{item[92]}}</li>
              </div>
              <div *ngIf="item[92] != ' '" >
                <li (click)="getVal($event.target)" index="92" value="" class="text">{{item[92]}}</li>
              </div>

              <div *ngIf="item[93] == ' '" >
                <li (click)="getVal($event.target)" index="93" value="">{{item[93]}}</li>
              </div>
              <div *ngIf="item[93] != ' '" >
                <li (click)="getVal($event.target)" index="93" value="" class="text">{{item[93]}}</li>
              </div>

              <div *ngIf="item[94] == ' '" >
                <li (click)="getVal($event.target)" index="94" value="">{{item[94]}}</li>
              </div>
              <div *ngIf="item[94] != ' '" >
                <li (click)="getVal($event.target)" index="94" value="" class="text">{{item[94]}}</li>
              </div>

              <div *ngIf="item[95] == ' '" >
                <li (click)="getVal($event.target)" index="95" value="">{{item[95]}}</li>
              </div>
              <div *ngIf="item[95] != ' '" >
                <li (click)="getVal($event.target)" index="95" value="" class="text">{{item[95]}}</li>
              </div>

              <div *ngIf="item[96] == ' '" >
                <li (click)="getVal($event.target)" index="96" value="">{{item[96]}}</li>
              </div>
              <div *ngIf="item[96] != ' '" >
                <li (click)="getVal($event.target)" index="96" value="" class="text">{{item[96]}}</li>
              </div>

              <div *ngIf="item[97] == ' '" >
                <li (click)="getVal($event.target)" index="97" value="">{{item[97]}}</li>
              </div>
              <div *ngIf="item[97] != ' '" >
                <li (click)="getVal($event.target)" index="97" value="" class="text">{{item[97]}}</li>
              </div>

              <div *ngIf="item[98] == ' '" >
                <li (click)="getVal($event.target)" index="98" value="">{{item[98]}}</li>
              </div>
              <div *ngIf="item[98] != ' '" >
                <li (click)="getVal($event.target)" index="98" value="" class="text">{{item[98]}}</li>
              </div>

              <div *ngIf="item[99] == ' '" >
                <li (click)="getVal($event.target)" index="99" value="">{{item[99]}}</li>
              </div>
              <div *ngIf="item[99] != ' '" >
                <li (click)="getVal($event.target)" index="99" value="" class="text">{{item[99]}}</li>
              </div>

              <div *ngIf="item[100] == ' '" >
                <li (click)="getVal($event.target)" index="100" value="">{{item[100]}}</li>
              </div>
              <div *ngIf="item[100] != ' '" >
                <li (click)="getVal($event.target)" index="100" value="" class="text">{{item[100]}}</li>
              </div>

              <!--<li (click)="getVal($event.target)" index="91" value="">{{item[91]}}</li>-->
              <!--<li (click)="getVal($event.target)" index="92" value="">{{item[92]}}</li>-->
              <!--<li (click)="getVal($event.target)" index="93" value="">{{item[93]}}</li>-->
              <!--<li (click)="getVal($event.target)" index="94" value="">{{item[94]}}</li>-->
              <!--<li (click)="getVal($event.target)" index="95" value="">{{item[95]}}</li>-->
              <!--<li (click)="getVal($event.target)" index="96" value="">{{item[96]}}</li>-->
              <!--<li (click)="getVal($event.target)" index="97" value="">{{item[97]}}</li>-->
              <!--<li (click)="getVal($event.target)" index="98" value="">{{item[98]}}</li>-->
              <!--<li (click)="getVal($event.target)" index="99" value="">{{item[99]}}</li>-->
              <!--<li (click)="getVal($event.target)" index="100" value="">{{item[100]}}</li>-->
            </ul>
          </div>
        </div>
        <div class="info-last">Choose up to X more squares</div>
        </div>

    </div>
    <div  class="inner-form-cont-right">
      <h3>{{userName}}</h3>
      <h4><span>PGA Pool:</span> Joe’s PGA Pool</h4>
      <h4><span>NCAA Pool:</span> Pool Name 535</h4>
      <h4><span>NCAA Pool:</span> Pool Name 75</h4>
      <h5>{{poolName}}</h5>

      <div>
        <a (click)="routeTo('/join')" class="btn">Join a Pool</a>
      </div>
      <div>
        <a (click)="routeTo('/pool')" class="btn">Start Pool</a>
      </div>
      <div>
        <a class="btn">Commissioner Options</a>
      </div>
      <div>
        <div class="pool-chat">
          <h3>Pool Chat</h3>
          <h4>
            <p>UserName 123:</p>
            Nullam quis risus eget urna mollis ornare vel eu leo. Etiam porta sem
            malesuada magna mollis euismod.

          </h4>
          <h4>
            <p>UserName 123:</p>
            Nullam quis risus eget urna mollis ornare vel eu leo. Etiam porta sem
            malesuada magna mollis euismod.

          </h4>
        </div>
        <textarea ></textarea>
        <div>
          <a class="btn">Post</a>
        </div>
      </div>
      <p-growl [value]="msgs" [style]="{'position': 'absolute', 'top': '0px','right':'0px'}"></p-growl>
    </div>
  </section>
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />


  <footer>
    <ss-footer></ss-footer>
  </footer>

</div>
</body>
</html>
