<!--<!DOCTYPE html>-->
<!--<html lang="en-US">-->
<!--<head>-->

  <!--<meta charset="utf-8">-->
  <!--<title>PREMIER - SPORTS POOLS</title>-->

  <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->

  <!--<link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/themes/omega/theme.css" />-->
  <!--<link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/themes/omega/theme.css" />-->
  <!--<link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/primeng.min.css" />-->

  <!--&lt;!&ndash;<link href="assets/css/style.css" rel="stylesheet" type="text/css" />&ndash;&gt;-->
  <!--&lt;!&ndash;<link href="assets/css/res.css" rel="stylesheet" type="text/css" />&ndash;&gt;-->
  <!--<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">-->
  <!--<link href="https://fonts.googleapis.com/css?family=Roboto:100, 300,400,700" rel="stylesheet">-->

  <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->

<!--</head>-->

<!--<body>-->
<!--<p-growl [value]="msgs" [style]="{'position': 'fixed'}"></p-growl>-->
<!--<div class="main-cont">-->
  <!--<div class="header-cont-inner">-->
    <!--<ss-header></ss-header>-->
  <!--</div>-->

  <!--<section class="cont-center-inner">-->
    <!--<div class="join-pool-cont box-shadow border-gray dis-flex">-->
      <!--<div style="width:463px;padding: 35px 45px; color:#424242; font-size:12px;">-->
        <!--<h3 style="color:#4893b8; text-transform: uppercase; font-size:34px; font-weight:400;">Join A Pool</h3>-->
        <!--<p style="margin-bottom:30px;"></p>-->
        <!--<form id="poolInFrom" name="form" (ngSubmit)="f.form.valid && loginPool()" #f="ngForm" novalidate>-->

          <!--<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !PoolId.valid }">-->
            <!--<label>Pool ID </label>-->
            <!--<input type="text" [(ngModel)]="poolId" name="poolId" class="form-control" id="poolId" placeholder="Pool ID"-->
                   <!--(keydown.space)="$event.preventDefault()" #PoolId="ngModel" required-->
                   <!--pattern="[0-9]*" maxlength="11">-->
            <!--<div *ngIf="f.submitted && !PoolId.valid" class="help-block">Pool ID is required or invalid</div>-->
          <!--</div>-->

          <!--<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !passWord.valid }">-->
            <!--<label>Pool Password </label>-->
            <!--<input type="password" [(ngModel)]="password" name="password" class="form-control" id="password" placeholder="Password"-->
                   <!--(keydown.space)="$event.preventDefault()" #passWord="ngModel" required>-->
            <!--<div *ngIf="f.submitted && !passWord.valid" class="help-block">Password is required</div>-->
          <!--</div>-->

        <!--<p style="text-align:right;"></p>-->
          <!--<div class="form-group" style=" width: 100%; text-align: center; margin-top: 40px;">-->
            <!--<button type="submit" class="join-pool-btn">Join Pool</button>-->
          <!--</div>-->
        <!--&lt;!&ndash;<div style=" width: 100%; text-align: center; margin-top: 40px;">&ndash;&gt;-->
          <!--&lt;!&ndash;<a href="#" class="join-pool-btn">Join Pool</a>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
          <!--</form>-->
      <!--</div>-->
      <!--<div style="width:220px; background-color:#000;">-->
        <!--<div style=" font-size:32px; color:#f5f5f5; font-weight:300; text-align:right;margin: 10px 16px;">X</div>-->
        <!--<div style="text-align: center; margin-top: 133px;"><img src="assets/images/premier-logo.png" width="175" /> </div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</section>-->
  <!--<br />-->
  <!--<br />-->
  <!--<br />-->
  <!--<br />-->
  <!--<br />-->
  <!--<br />-->
  <!--<br />-->
  <!--<br />-->
  <!--<br />-->
  <!--<br />-->

  <!--<footer>-->
    <!--<ss-footer></ss-footer>-->
  <!--</footer>-->

<!--</div>-->
<!--</body>-->
<!--</html>-->


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <title>Join Pool - Preimer</title>
  <!--<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">-->
  <!--<link rel="stylesheet" type="text/css" href="assets/css/style.css">-->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

  <!--<link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/themes/omega/theme.css" />-->
  <!--<link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/themes/omega/theme.css" />-->
  <!--<link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/primeng.min.css" />-->

  <script type="text/javascript" src="assets/js/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="assets/js/main.js"></script>
</head>
<body>
<header>
  <ss-header></ss-header>
</header>
<p-growl [value]="msgs" [style]="{'position': 'fixed'}"></p-growl>
<section class="sub main-content">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <form id="join_pool" class="right_side_form" name="form"
              (ngSubmit)="f.form.valid && loginPool()"
              #f="ngForm" novalidate>
          <div class="row">
            <div class="col-sm-8 form_left">
              <h3 class="form_title blue">JOIN A POOL</h3>
              <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !PoolId.valid }">
                <label for="poolID">Pool ID</label>
                <input type="text" [(ngModel)]="poolId" name="poolId" class="form-control" id="poolID" placeholder="Pool ID"
                       (keydown.space)="$event.preventDefault()" #PoolId="ngModel" required
                       pattern="[0-9]*" maxlength="9">
                <div *ngIf="f.submitted && !PoolId.valid" class="help-block">Pool ID is required or invalid</div>
              </div>
              <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !passWord.valid }">
                <label for="poolPASS">Pool Password</label>
                <input type="password" [(ngModel)]="password" name="password" class="form-control" id="poolPASS" placeholder="Password"
                       (keydown.space)="$event.preventDefault()" #passWord="ngModel" required>
                <div *ngIf="f.submitted && !passWord.valid" class="help-block">Password is required</div>
              </div>
              <button type="submit" class="btn">Join Pool</button>
            </div>
            <div class="col-sm-4 form_right">
              <a href="/"><img src="../../../assets/assets/images/logo.png" class="logo"></a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<footer>
  <ss-footer></ss-footer>
</footer>
</body>
</html>
