<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
  <!--<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />-->
  <!--<title>PREMIER - SPORTS POOLS</title>-->

  <!--<link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/themes/omega/theme.css" />-->
  <!--<link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/themes/omega/theme.css" />-->
  <!--<link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/primeng.min.css" />-->

  <!--&lt;!&ndash;<link href="assets/css/style.css" rel="stylesheet" type="text/css" />&ndash;&gt;-->
  <!--<meta name="viewport" content="width=device-width, initial-scale=1" />-->
  <!--<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">-->
  <!--<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700" rel="stylesheet">-->

  <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->

<!--</head>-->

<!--<body>-->
<!--<p-growl [value]="msgs" [style]="{'position': 'fixed'}"></p-growl>-->
<!--<div class="main-cont">-->
  <!--<div class="header-cont-inner">-->
    <!--<ss-header></ss-header>-->
  <!--</div>-->

  <!--<section class="cont-center-inner">-->
    <!--<div class="login-cont box-shadow border-gray dis-flex">-->
      <!--<div style="width:463px;padding: 35px 45px; color:#424242; font-size:12px;">-->
        <!--<h3 style="color:#4893b8; text-transform: uppercase; font-size:34px; font-weight:400;">Login</h3>-->
        <!--<p style="margin-bottom:40px;">Dont have an account? <span (click)="routeTo('/signup')" style="color:#4893b8; font-weight:bold;">Create your account.</span> </p>-->

        <!--<form id="signInFrom" name="form" (ngSubmit)="f.form.valid && signIn()" #f="ngForm" novalidate>-->

        <!--<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !user_Name.valid }">-->
          <!--<label>User Name </label>-->
          <!--<input type="text" [(ngModel)]="userName" name="userName" class="form-control" id="username" placeholder="User Name"-->
                 <!--#user_Name="ngModel" required>-->
          <!--<div *ngIf="f.submitted && !user_Name.valid" class="help-block">User Name is required</div>-->
        <!--</div>-->

          <!--<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !passWord.valid }">-->
          <!--<label>Password </label>-->
          <!--<input type="password" [(ngModel)]="password" name="password" class="form-control" id="password" placeholder="Password"-->
                 <!--(keydown.space)="$event.preventDefault()" #passWord="ngModel" required>-->
          <!--<div *ngIf="f.submitted && !passWord.valid" class="help-block">Password is required</div>-->
        <!--</div>-->

        <!--<p style="text-align:right;">Forgot Password</p>-->
        <!--<div class="form-group" >-->
            <!--<button type="submit" class="login-btn">Login</button>-->
        <!--</div>-->
        <!--&lt;!&ndash;<div style=" width: 100%; text-align: center; margin-top: 40px;">&ndash;&gt;-->
          <!--&lt;!&ndash;<a href="#" class="login-btn">Login</a>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--</form>-->

      <!--</div>-->
      <!--<div style="width:220px; background-color:#000;">-->
        <!--<div style=" font-size:32px; color:#f5f5f5; font-weight:300; text-align:right;margin: 10px 16px;">-->
          <!--<a (click)="routeToOn('/')">X</a></div>-->
        <!--<div style="text-align: center; margin-top: 133px;"><img src="assets/images/premier-logo.png" width="175" /> </div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</section>-->
  <!--<br />-->
  <!--<br />-->
  <!--<br />-->
  <!--<br />-->
  <!--<br />-->
  <!--<br />-->
  <!--<br />-->

  <!--<footer>-->
    <!--<ss-footer></ss-footer>-->
  <!--</footer>-->

<!--</div>-->
<!--</body>-->
<!--</html>-->


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <title>Log In - Preimer</title>
  <!--<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">-->
  <!--<link rel="stylesheet" type="text/css" href="assets/css/style.css">-->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

  <!--<link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/themes/omega/theme.css" />-->
  <!--<link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/themes/omega/theme.css" />-->
  <!--<link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/primeng.min.css" />-->

  <script type="text/javascript" src="assets/js/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="assets/js/main.js"></script>
</head>
<body>
<header>
  <ss-header></ss-header>
</header>
<p-growl [value]="msgs" [style]="{'position': 'fixed'}"></p-growl>
<section class="sub main-content">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <form id="login_form" class="right_side_form" name="form"
              (ngSubmit)="f.form.valid && signIn()"
              #f="ngForm" novalidate>
          <div class="row">
            <div class="col-sm-8 form_left">
              <h3 class="form_title blue">Login</h3>
              <p style="float: left">Don't have an account?  </p>
              <a class="btn" style="position: relative; top:-27px;" (click)="routeToOn('/signup')">Create your account.</a>
              <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !user_Name.valid }">
                <label for="loginUserName">User Name</label>
                <input type="text" [(ngModel)]="userName" name="userName" class="form-control" id="loginUserName" placeholder="User Name"
                       #user_Name="ngModel" required>
                <div *ngIf="f.submitted && !user_Name.valid" class="help-block">User Name is required</div>
              </div>
              <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !passWord.valid }">
                <label for="loginPass">Password</label>
                <input type="password" [(ngModel)]="password" name="password" class="form-control" id="loginPass" placeholder="Password"
                       (keydown.space)="$event.preventDefault()" #passWord="ngModel" required>
                <div *ngIf="f.submitted && !passWord.valid" class="help-block">Password is required</div>
              </div>

              <button type="submit" class="btn">Login</button>
            </div>
            <div class="col-sm-4 form_right">
              <a href="/"><img src="../../../assets/assets/images/logo.png" class="logo"></a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<footer>
  <ss-footer></ss-footer>
</footer>
</body>
</html>
