<!--<!DOCTYPE html>-->
<!--<html lang="en-US">-->
<!--<head>-->

  <!--<meta charset="utf-8">-->
  <!--<title>PREMIER - SPORTS POOLS</title>-->

  <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->

  <!--<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">-->
  <!--<link href="https://fonts.googleapis.com/css?family=Roboto:100, 300,400,700" rel="stylesheet">-->

  <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->

<!--</head>-->

<!--<body>-->
<!--<p-growl [value]="msgs" [style]="{'position': 'fixed'}"></p-growl>-->
<!--<div class="main-cont">-->
  <!--<div class="header-cont">-->
    <!--<div class="main-logo">-->
      <!--<img src="assets/images/premier-logo.png" class="res-img" />-->
    <!--</div>-->
    <!--<div class="top-nav">-->
      <!--<div class="top-s-icons">-->
        <!--<a href=""><i class="fa fa-facebook-square"></i></a>-->
        <!--<a href=""><i class="fa fa-twitter-square"></i></a>-->
      <!--</div>-->
      <!--<div *ngIf="!isLogin" class="top-nav-links">-->
        <!--<a (click)="routeToOn('/signin',0)">Login</a>-->
        <!--|-->
        <!--<a (click)="routeToOn('/signup',0)">Register</a>-->
      <!--</div>-->
      <!--<div *ngIf="isLogin" class="top-nav-links">-->
        <!--<a (click)="lastPool()" >My Pools</a>-->
        <!--|-->
        <!--<a (click)="signOut()">Logout</a>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="top-main-image">-->
      <!--<div class="imag-text">-->
        <!--<h1>Web Hosting for your <span>Sports Pools</span></h1>-->
        <!--<hr />-->
        <!--<h2>We make spreadsheets, hours of data entry and tallying scores a thing of the past.</h2>-->
        <!--<h3>Premier handles it all!</h3>-->
      <!--</div>-->
      <!--<div *ngIf="isLogin" class="top-button">-->
        <!--<a (click)="routeTo('/pool',1)">Start a Pool</a>-->
        <!--<a (click)="routeTo('/join',2)">Join a Pool</a>-->
        <!--<a (click)="lastPool()">My Pools</a>-->
      <!--</div>-->
      <!--<div *ngIf="!isLogin" class="top-button">-->
        <!--<a (click)="routeTo('/pool',1)">Start a Pool</a>-->
        <!--<a (click)="routeTo('/join',2)">Join a Pool</a>-->
        <!--<a (click)="routeToOn('/signup')">Sign Up</a>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="our-pools our-pools-bg">-->
    <!--<h1>Our Pools</h1>-->
    <!--<hr />-->
    <!--<div class="pools-cont">-->
      <!--<div class="cont-football">-->
        <!--<div class="img"><img src="assets/images/football.png"   /> </div>-->
        <!--<div class="text">-->
          <!--Squares Pool-->
        <!--</div>-->
        <!--<div class="text">-->
          <!--NFL Survivor-->
        <!--</div>-->
        <!--<div class="text">-->
          <!--Pick ‘Em Contests-->
        <!--</div>-->
        <!--<div class="text">-->
          <!--Schwindy™ Points Pool-->
        <!--</div>-->
        <!--<div><a class="btn" href="#">Learn More</a></div>-->
      <!--</div>-->


      <!--<div class="cont-football">-->
        <!--<div class="img"><img src="assets/images/basketball.png"  /> </div>-->
        <!--<div class="text">-->
          <!--NCAA SURVIVOR-->
        <!--</div>-->
        <!--<div class="text">-->
          <!--NCAA BRACKETS-->
        <!--</div>-->
        <!--<div class="text">-->
          <!--NCAA SQUARES POOL-->
        <!--</div>-->
        <!--<div style="margin-bottom: 60px;">-->
        <!--</div>-->
        <!--<div><a class="btn" href="#">Learn More</a></div>-->
      <!--</div>-->

      <!--<div class="cont-football">-->
        <!--<div class="img"><img src="assets/images/golf.png" /></div>-->
        <!--<div class="text">-->
          <!--NCAA SURVIVOR-->
        <!--</div>-->
        <!--<div class="text">-->
          <!--NCAA BARACKETS-->
        <!--</div>-->
        <!--<div class="text">-->
          <!--Pick ‘Em Contests-->
        <!--</div>-->
        <!--<div class="text">-->
          <!--NCAA SQUARES POOL-->
        <!--</div>-->
        <!--<div><a class="btn" href="#">Learn More</a></div>-->
      <!--</div>-->
    <!--</div>-->

  <!--</div>-->

  <!--<div class="why-premier why-premier-bg">-->
    <!--<div class="imag-text">-->
      <!--<h1>WHY <span>PREMIER</span></h1>-->
      <!--<h2>Our unique Premier Live scoring enhances the experience for your pool members. </h2>-->
      <!--<h2>Participants can now see exactly what they are rooting for in real-time.</h2>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<!--<div class="register-now">-->
  <!--<div class="text">-->
    <!--<h1>REGISTER</h1>-->
    <!--<h2>NOW</h2>-->
    <!--<h3>For more information or questions about Premier Sports Pools, contact us at</h3>-->
    <!--<h4>info@premiersportspools.com.  </h4>-->
  <!--</div>-->
  <!--<div class="form">-->
    <!--<input type="text" id="fname" name="firstname" placeholder="User Name *">-->
    <!--<input type="text" id="fname1" name="firstname" placeholder="Email *">-->
    <!--<input type="text" id="fname2" name="firstname" placeholder="Password *">-->
    <!--<input type="text" id="fname3" name="firstname" placeholder="Confirm Password *">-->
    <!--<input type="text" id="fname4" name="firstname" placeholder="Full Name">-->
    <!--<input type="text" id="fname5" name="firstname" placeholder="Phone">-->
    <!--<div class="btn-register-now">Register Now</div>-->
  <!--</div>-->

<!--</div>-->

<!--<footer>-->
  <!--<ss-footer></ss-footer>-->
<!--</footer>-->

<!--</body>-->
<!--</html>-->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <title>Preimer</title>
  <!--<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">-->
  <!--<link rel="stylesheet" type="text/css" href="assets/css/style.css">-->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

  <!--<link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/themes/omega/theme.css" />-->
  <!--<link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/themes/omega/theme.css" />-->
  <!--<link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/primeng.min.css" />-->

  <script type="text/javascript" src="assets/js/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="assets/js/main.js"></script>
</head>
<body class="home">
<header>
  <div class="container top_logo text-center">
    <a href="/"><img src="../../../assets/assets/images/logo.png" class="logo"></a>
  </div>
  <div class="header_bottom">
    <div class="container menu_bar">
      <div class="row">
        <div class="col-xs-5">
          <ul class="header_social">
            <li><a href="https://facebook.com/" target="_blank"><i class="fa fa-facebook-square"></i></a></li>
            <li><a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter-square"></i></a></li>
          </ul>
        </div>
        <div *ngIf="!isLogin" class="col-xs-7 text-right">
          <ul class="main_menu">
            <li><a class="btn" (click)="routeToOn('/signin')" >Login</a></li>
            <li><a class="btn" (click)="routeToOn('/signup')" >Register</a></li>
          </ul>
        </div>
        <div *ngIf="isLogin" class="col-xs-7 text-right">
          <ul class="main_menu">
            <li><a class="btn" (click)="lastPool()">My Pools</a></li>
            <li><a class="btn" (click)="signOut()">Logout</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
<p-growl [value]="msgs" [style]="{'position': 'fixed'}"></p-growl>
<section class="main-content">
  <div class="top_banner">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-6">
          <h2>Web Hosting for your <span class="blue">Sports Pools</span></h2>
          <hr>
          <h4>We make spreadsheets, hours of data entry and tallying scores a thing of the past.</h4>
          <h3>Preimer handles it all!</h3>
        </div>
      </div>
      <div class="row">
        <div *ngIf="isLogin" class="col-sm-12 text-center button_group">
          <a class="btn blue_border btn" (click)="routeTo('/pool',1)">Start a Pool</a>
          <a class="btn blue_border btn" (click)="routeTo('/join',2)">Join a Pool</a>
          <a class="btn blue_border btn" (click)="lastPool()">My Pools</a>
        </div>
        <div *ngIf="!isLogin" class="col-sm-12 text-center button_group">
          <a class="btn blue_border btn" (click)="routeTo('/pool',1)">Start a Pool</a>
          <a class="btn blue_border btn" (click)="routeTo('/join',2)">Join a Pool</a>
          <a class="btn blue_border btn" (click)="routeToOn('/signup')">Sign Up</a>
        </div>
      </div>
    </div>
  </div>
  <div class="pools">
    <div class="container">
      <h2 class="text-center">OUR POOLS</h2>
      <hr class="black">
      <div class="row">
        <div class="col-sm-4 preimer football">
          <img src="../../../assets/assets/images/football.png">
          <ul class="list">
            <li>Squares Pool</li>
            <li>NFL Survivor</li>
            <li>Pick ‘Em Contests</li>
            <li>Schwindy™ Points Pool</li>
          </ul>
          <a class="btn" href="#">Learn More</a>
        </div>
        <div class="col-sm-4 preimer basket">
          <img src="../../../assets/assets/images/basket.png">
          <ul class="list">
            <li>NCAA SURVIVOR</li>
            <li>NCAA BRACKETS</li>
            <li>NCAA SQUARES POOL</li>
          </ul>
          <a class="btn" href="#">Learn More</a>
        </div>
        <div class="col-sm-4 preimer golf">
          <img src="../../../assets/assets/images/golf.png">
          <ul class="list">
            <li>NCAA SURVIVOR</li>
            <li>NCAA BRACKETS</li>
            <li>NCAA SQUARES POOL</li>
          </ul>
          <a class="btn" href="#">Learn More</a>
        </div>
      </div>
    </div>
  </div>
  <div class="why_preimer">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-5 col-lg-4 col-md-offset-6 col-lg-offset-6 col-sm-offset-6">
          <h2 class="banner_title">WHY <span class="blue">PREIMER</span></h2>
          <h4 class="banner_text">Our unique Premier Live scoring enhances the experience for your pool members.</h4>
          <h4 class="banner_text">Participants can now see exactly what they are rooting for in real-time.</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="register">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <h3>REGISTER <br><b>NOW</b></h3>
          <p>For more information or questions about Premier Sports Pools, contact us at <a href="mailto: info@premiersportspools.com">info@premiersportspools.com.</a></p>
        </div>
        <div class="col-sm-6">
          <form id="home_register">
            <div class="row">
              <div class="col-sm-6">
                <input class="form-control" type="text" required placeholder="User Name *">
              </div>
              <div class="col-sm-6">
                <input class="form-control" type="email" required placeholder="Email *">
              </div>
              <div class="clearfix"></div>
              <div class="col-sm-6">
                <input class="form-control" type="password" required placeholder="Password *">
              </div>
              <div class="col-sm-6">
                <input class="form-control" type="password" required placeholder="Confirm Password *">
              </div>
              <div class="clearfix"></div>
              <div class="col-sm-6">
                <input class="form-control" type="text" placeholder="Full Name">
              </div>
              <div class="col-sm-6">
                <input class="form-control" type="tel" placeholder="Phone">
              </div>
              <div class="clearfix"></div>
              <div class="col-sm-12 text-center">
                <input class="form-control submit" type="submit" value="Register Now">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<footer>
  <ss-footer></ss-footer>
</footer>
</body>
</html>
