<!DOCTYPE html>
<html lang="en">
<head>
  <title>PREMIER - SPORTS POOLS</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/themes/omega/theme.css" />
  <link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/themes/omega/theme.css" />
  <link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/primeng.min.css" />

  <!--<link href="assets/css/style.css" rel="stylesheet" type="text/css" />-->
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100, 300,400,700" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
<p-growl [value]="msgs" [style]="{'position': 'fixed'}"></p-growl>
<div class="main-cont">
  <div class="header-cont-inner">
    <ss-header></ss-header>
  </div>

  <section class="cont-center-inner">

    <div class="inner-form-cont" >
      <div class="tabs-1">
        <ul>
          <li *ngIf="dTab"><a (click)="tagChange('D')" class="active">SETTINGS</a></li>
          <li *ngIf="!dTab"><a (click)="tagChange('D')" >SETTINGS</a></li>

          <li *ngIf="iTab"><a (click)="tagChange('I')" class="active">INVITE</a></li>
          <li *ngIf="!iTab"><a (click)="tagChange('I')" >INVITE</a></li>

          <li *ngIf="pTab"><a (click)="tagChange('P')" class="active">ENTER USER PICKS</a></li>
          <li *ngIf="!pTab"><a (click)="tagChange('P')" >ENTER USER PICKS</a></li>

          <li *ngIf="rTab"><a (click)="tagChange('R')" class="active">ROSTER</a></li>
          <li *ngIf="!rTab"><a (click)="tagChange('R')">ROSTER</a></li>
        </ul>
      </div>
      <div [hidden]="!pTab" (update)="counterUpdate($event)" ><ss-pick></ss-pick></div>
      <div [hidden]="!iTab" (update)="counterUpdate($event)" ><ss-invites></ss-invites></div>
      <div [hidden]="!rTab" (update)="counterUpdate($event)" ><ss-roaster></ss-roaster></div>
      <div [hidden]="!dTab" class=" border-gray-2 bg-color-2" style="padding: 21px 30px; color:#424242; font-size:12px;">
        <!--<h3 style="color:#4893b8; font-size:27px; font-weight:400;">Jimmy B’s NFL Squares Pool</h3>-->
        <h3 style="color:#4893b8; font-size:27px; font-weight:400;">{{poolName}}</h3>
        <hr style="margin: 15px 0; border: 2px solid #eaeaea;"/>
        <h4  style="color:#575757; font-size:21px; font-weight:400; text-transform:uppercase; margin-bottom:21px;">League: {{leagueName}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Pool Type : {{typeName}}</h4>
        <hr style="margin: 15px 0; border: 2px solid #eaeaea;"/>
        <h2  style="color:#575757; font-size:26px; font-weight:400; text-transform:uppercase; margin-bottom:21px;">Custom Settings</h2>
        <div style=" width: 100%; margin-top: 10px;margin-bottom: 30px;">
          <a class="generate-numbers-btn">Generate Numbers</a>
        </div>
        <h5 style="font-size:19px; text-transform:uppercase; font-weight: normal;">Winner Frequency<span style="color:#76b5d4; font-size:14px; margin-left:10px; text-decoration:underline; text-transform:capitalize;">Edit</span></h5>
        <div><input type="radio" name="options" ng-control="options" [value]="0" [(ngModel)]="options" [attr.disabled]=true class="radio-class">
          <label>Every Score</label></div>
        <div><input type="radio" name="options" ng-control="options" [value]="4" [(ngModel)]="options" [attr.disabled]=true class="radio-class">
          <label>Every Quarter</label></div>
        <div><input type="radio" name="options" ng-control="options" [value]="2" [(ngModel)]="options" [attr.disabled]=true class="radio-class">
          <label>Every Half </label></div>
        <div><input type="radio" name="options" ng-control="options" [value]="1" [(ngModel)]="options" class="radio-class">
          <label>Final Score Only </label></div>

        <h5 style="font-size:19px; text-transform:uppercase; margin-top:25px; font-weight: normal;">Number Sets<span style="color:#76b5d4; font-size:14px; margin-left:10px; text-decoration:underline; text-transform:capitalize;">Edit</span></h5>
        <div><input type="radio" name="sets" ng-control="sets" [value]="1" [(ngModel)]="sets" class="radio-class">
          <label>1 Set</label></div>
        <div><input type="radio" name="sets" ng-control="sets" [value]="4" [(ngModel)]="sets" class="radio-class">
          <label>4 Sets</label></div>

        <form id="poolFrom" name="form" (ngSubmit)="f.form.valid && poolCreate()" #f="ngForm" novalidate>

          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !Max.valid }">
            <h5 style="font-size:19px; text-transform:uppercase; margin-top:25px; font-weight: normal;">Maximum Entries<span style="color:#76b5d4; font-size:14px; margin-left:10px; text-decoration:underline; text-transform:capitalize;">Edit</span></h5>
            <input type="text" [(ngModel)]="max" name="max" class="form-control" id="max" placeholder="Enteries"
            (keydown.space)="$event.preventDefault()" #Max="ngModel" required
            pattern="[0-9]*" maxlength="4">
            <div *ngIf="f.submitted && !Max.valid" class="help-block">Enteries is required or should be number</div>
          </div>
        <label>Enter maxium number of entries per user</label>
        <div style=" width: 100%; margin-top: 90px;margin-bottom: 30px;">
          <!--<button type="submit" class="submit-btn">Submit Settings</button>-->
          <a class="submit-btn">Submit Settings</a>
        </div>
        </form>

        <div style=" width: 50%;   float: left;">
          * Settings can be edited until numbers are generated.
        </div>
        <!--
        <div style=" font-size: 20px; width: 50%; float: right; text-align: right;">
            < Back
        </div>
        -->
      </div>

    </div>
    <div  class="inner-form-cont-right">
      <h3>{{userName}}</h3>
      <div *ngFor="let join of joinPools">
        <h4 (click)="routeTo('/join')"><span>{{join.league_id.name}}</span> {{join.name}}</h4>
      </div>
      <!--<h4><span>NCAA Pool:</span> Pool Name 535</h4>-->
      <!--<h4><span>NCAA Pool:</span> Pool Name 75</h4>-->
      <div *ngFor="let create of createPools">
      <h5 (click)="goToPool(create._id)">{{create.name}}</h5>
      </div>

      <div>
        <a (click)="routeTo('/join')" class="btn">Join a Pool</a>
      </div>
      <div>
        <a (click)="routeTo('/pool')" class="btn">Start Pool</a>
      </div>
      <div>
        <a (click)="lastPool()" class="btn">Commissioner Options</a>
      </div>
      <div>
        <div class="pool-chat">
          <h3>Pool Chat</h3>
          <h4>
            <p>UserName 123:</p>
            Nullam quis risus eget urna mollis ornare vel eu leo. Etiam porta sem
            malesuada magna mollis euismod.

          </h4>
          <h4>
            <p>UserName 123:</p>
            Nullam quis risus eget urna mollis ornare vel eu leo. Etiam porta sem
            malesuada magna mollis euismod.

          </h4>
        </div>
        <textarea ></textarea>
        <div>
          <a class="btn">Post</a>
        </div>
      </div>
    </div>
  </section>
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />

  <footer>
    <ss-footer></ss-footer>
  </footer>

</div>
</body>
</html>
